<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>The Talk Maker</title>
  <link rel="stylesheet" href="/home.css">
<link href="https://fonts.googleapis.com/css?family=Volkhov" rel="stylesheet">

</script>
</head>

<body>
  <div class="navbar">
  <a>This is the image and scripture api upload</a>

  </div>



  <div class="formholder">
{{#imagepeoples.0}}



    <label><a href="/api/images/people">New Image</a></label>



    {{/imagepeoples.0}}
  </form>
</div>





</body>

</html>
