<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>The Talk Maker</title>
  <link rel="stylesheet" href="/home.css">
<link href="https://fonts.googleapis.com/css?family=Volkhov" rel="stylesheet">

</script>
</head>

<body>
  <div class="navbar">
  <a>This is the image and scripture api upload</a>

  </div>



  <div class="formholder">
{{#imagejesus}}
<img src={{#image_data}}{{image}}/>
    <form class="form2" action="/api/images/jesus" method="post">

    <label>Category: agencies</label>
    <label>Which standard work is scripture from?</label>
    <select name="image_data[standard_work_location]">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    </select>
    <label>What's the book name and verse number?</label>
    <input name="book_and_verse_number">Book Name and Verse Number
  </input>
  <label>What's the verse text?</label>
    <textarea name="verse_text">Verse Text</textarea>

    <input type="submit" value="submit">
    {{/image_data}}
    {{/imagejesus}}
  </form>
</div>





</body>

</html>
