<!DOCTYPE html>
  <html>

  <head>
    <meta charset="utf-8">
    <title>The Talk Maker</title>
    <link rel="stylesheet" href="/home.css">
    <link href="https://fonts.googleapis.com/css?family=Volkhov" rel="stylesheet">
  </head>

  <body>

    <div class="navbar">
    <a href="/mytalks"><img class="logo" src="/logo2.png"></a>
    <a class="link" href="/createp1">new</a>
    <a class="link" href="/saved">saved</a>
    <a class="link" href="/completed">completed</a>
    <a class="link" href="/shared">shared</a>
    <a class="link2" href="/account">account</a>
    <a class="link" href="/logout">logout</a>
    </div>


    <div class="bodywrapper9">
      <label class="labelContainer2">Account Information:</label>
    {{#users}}
      <div class="savedContainer">
        <div><label>username:</label><span>{{username}}</span></div>

        <div><label>email:</label><span>{{email}}</span></div>
    {{/users}}
        <div><label>current talk topics:</label><span>{{#talktopics}}{{talk_topic}}, {{/talktopics}}</span></div>

</div>
    </div>
</body>

</html>
