<!DOCTYPE html>
  <html>

  <head>
    <meta charset="utf-8">
    <title>The Talk Maker</title>
    <link rel="stylesheet" href="/home.css">
    <link href="https://fonts.googleapis.com/css?family=Volkhov" rel="stylesheet">
  </head>

  <body>

    <div class="navbar">
    <a class="link" href="/mytalks">home</a>
    <a class="link" href="/createp1">new</a>
    <a class="link" href="/saved">saved</a>
    <a class="link2" href="/completed">completed</a>
    <a class="link" href="/shared">shared</a>
    <a class="link" href="/account">account</a>
    <a class="link" href="/logout">logout</a>
    </div>



    <div class="bodywrapper9">
      <label class="labelContainer2">Select a completed talk:</label>
      {{#talktopics}}
        <div class="savedContainer">
          <div class="labelContainer5">
          <div class="labelContainer4">
          <div><label>for:</label><span>{{talk_name}}</span></div>

                <div><label>talk topic:</label><span>{{talk_topic}}</span></div>
                <div><label>talk title:</label><span>{{talkid}}</span></div>
              </div>
              <div class="labelContainer4">
                  <div><label>created at:</label><span>{{createdAt}}</span></div>
                    <div><label>updated at:</label><span>{{updatedAt}}</span></div>

                    </div>
                    </div>
                    <div class="buttonscontainer">


                      <div class="buttonz"><a href="completed/{{talkid}}">view this talk</a></div>
                      <div class="buttonz"><a href="brainstorm/{{talkid}}">view brainstorm and notes</a></div>
                      <div class="buttonz"><a href="slideshowpicker/{{talkid}}">view slideshow of talk</a></div>
                      <div class="buttonz"><a href="delete/{{talkid}}">delete this talk</a></div>
                    </div>
                  </div>
      {{/talktopics}}



    </div>
</body>

</html>
