<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>The Talk Maker</title>
  <link rel="stylesheet" href="/home.css">
<link href="https://fonts.googleapis.com/css?family=Volkhov" rel="stylesheet">

</head>

<body>
  <div class="navbar">
  <a class="link" href="/mytalks">home</a>
  <a class="link2" href="/createp1">new</a>
  <a class="link" href="/saved">saved</a>
  <a class="link" href="/completed">completed</a>
  <a class="link" href="/shared">shared</a>
  <a class="link" href="/account">account</a>
  <a class="link" href="/logout">logout</a>
  </div>

  <div class="bodywrapper7">



    <form class="blink">
          <label class="talk_name">You entered:</label>
          {{#talkids}}
          <input id="talkid" class="inputfield4" value="{{talkid}}" type="text" disabled/>
          <label class="talk_name">Is this correct?</label>
          <a value="{{talkid}}" href="/createp2/{{talkid}}">Yes<a/><a>No<a/>
          {{/talkids}}
        </form>






</div>

</body>

</html>
