<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>The Talk Maker</title>
  <link rel="stylesheet" href="/home.css">


</head>

<body>
  <div class="navbar">
  <img class="logo" src="/logo2.png">
  <a class="link2" href="/createp1">new</a>
  <a class="link" href="/saved">saved</a>
  <a class="link" href="/completed">completed</a>
  <a class="link" href="/shared">shared</a>
  <a class="link" href="/account">account</a>
  <a class="link" href="/logout">logout</a>
  </div>

  <div class="bodywrapper7">



    <form class="blink">
          <label class="talk_name">You entered:</label>
          {{#talktopics}}
          <input id="talkid" class="inputfield4" value="{{talk_topic}}" type="text" disabled />
          <label class="talk_name">Is this correct?</label>
          <a href="/talk/{{#talkids}}{{talkid}}{{/talkids}}/{{#talknames}}{{talk_name}}{{/talknames}}/{{talk_topic}}">Yes<a/><a>No<a/>
          {{/talktopics}}
        </form>






</div>

</body>

</html>
