<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>The Talk Maker</title>
  <link rel="stylesheet" href="/game2.css">
<link href="https://fonts.googleapis.com/css?family=Volkhov" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
$(window).on('load', function () {
console.log("talking");
  let userpoints = parseInt("{{#points}}{{points}}{{/points}}");
  let integer = Number.isInteger(userpoints);
  console.log("is userpoints a number?", integer);
});
</script>
</head>


<body>
  {{#users}}
  <div class="display">
    <a href="/mytalks" class="logo">Back</a>
    <h1>
      {{username}}{{/users}} has {{#points}}{{points}}{{/points}} points!
    </h1>
    <a href="/highscores" class="logo">High Scores</a>
  </div>


<div class="bodywrapper">


{{#imagepeoples}}

    <a href="/game1/{{_id}}">People</a>
{{/imagepeoples}}

{{#imageagencies}}

    <a href="/game2/{{_id}}">Agency</a>
{{/imageagencies}}

{{#imageangels}}

    <a href="/game3/{{_id}}">Angels</a>
{{/imageangels}}

{{#imageapostasy}}

    <a href="/game4/{{_id}}">Apostasy and Restoration</a>
{{/imageapostasy}}

{{#imageatonements}}

    <a href="/game5/{{_id}}">Atonement</a>
{{/imageatonements}}

{{#imageapostles}}

    <a href="/game6/{{_id}}">Apostles</a>
{{/imageapostles}}

{{#imagebaptisms}}

    <a href="/game7/{{_id}}">Baptism</a>
{{/imagebaptisms}}

{{#imagebookofmormons}}

    <a href="/game8/{{_id}}">Book of Mormon</a>
{{/imagebookofmormons}}

{{#imagecharities}}

    <a href="/game9/{{_id}}">Charity</a>
{{/imagecharities}}

{{#imagechastities}}

    <a href="/game10/{{_id}}">Chastity</a>
{{/imagechastities}}

{{#imagechildrens}}

    <a href="/game11/{{_id}}">Children</a>
{{/imagechildrens}}

{{#imagechurches}}

    <a href="/game12/{{_id}}">Church</a>
{{/imagechurches}}

{{#imagecovenants}}

    <a href="/game13/{{_id}}">Covenants</a>
{{/imagecovenants}}

{{#imagecreations}}

    <a href="/game14/{{_id}}">Creation</a>
{{/imagecreations}}

{{#imagedeaths}}

    <a href="/game15/{{_id}}">Death</a>
{{/imagedeaths}}

{{#imagedoctrinecovenants}}

    <a href="/game16/{{_id}}">Doctrine and Covenants</a>
{{/imagedoctrinecovenants}}

{{#imageevents}}

    <a href="/game17/{{_id}}">Events</a>
{{/imageevents}}

{{#imagefaiths}}

    <a href="/game18/{{_id}}">Faith</a>
{{/imagefaiths}}

{{#imagefamilies}}

    <a href="/game19/{{_id}}">Family</a>
{{/imagefamilies}}

{{#imagefastings}}

    <a href="/game20/{{_id}}">Fasting</a>
{{/imagefastings}}

{{#imagegenealogies}}

    <a href="/game21/{{_id}}">Genealogy</a>
{{/imagegenealogies}}

{{#imagegiftsofthespirits}}

    <a href="/game22/{{_id}}">Gifts of the Spirit</a>
{{/imagegiftsofthespirits}}

{{#imagegods}}

    <a href="/game23/{{_id}}">Heavenly Father</a>
{{/imagegods}}

{{#imagegodheads}}

    <a href="/game24/{{_id}}">The Godhead</a>
{{/imagegodheads}}

{{#imagegospels}}

    <a href="/game25/{{_id}}">The Gospel</a>
{{/imagegospels}}

{{#imagehappinesses}}

    <a href="/game26/{{_id}}">Happiness</a>
{{/imagehappinesses}}

{{#imageheavens}}

    <a href="/game27/{{_id}}">Heaven</a>
{{/imageheavens}}

{{#imagehells}}

    <a href="/game28/{{_id}}">Hell</a>
{{/imagehells}}

{{#imageholyghosts}}

    <a href="/game29/{{_id}}">The Holy Ghost</a>
{{/imageholyghosts}}

{{#imagehonesties}}

    <a href="/game30/{{_id}}">Honesty</a>
{{/imagehonesties}}

{{#imagehumilities}}

    <a href="/game31/{{_id}}">Humility</a>
{{/imagehumilities}}

{{#imagejesuses}}

    <a href="/game32/{{_id}}">Jesus Christ</a>
{{/imagejesuses}}

{{#imagemarriages}}

    <a href="/game33/{{_id}}">Eternal Marriage</a>
{{/imagemarriages}}

{{#imagemiracles}}

    <a href="/game34/{{_id}}">Miracles</a>
{{/imagemiracles}}

{{#imagemissionaries}}

    <a href="/game35/{{_id}}">Missionary Work</a>
{{/imagemissionaries}}

{{#imagenativities}}

    <a href="/game36/{{_id}}">The Nativity</a>
{{/imagenativities}}

{{#imagenewtestaments}}

    <a href="/game37/{{_id}}">The New Testament</a>
{{/imagenewtestaments}}

{{#imageobediences}}

    <a href="/game38/{{_id}}">Obedience</a>
{{/imageobediences}}

{{#imageoldtestaments}}

    <a href="/game39/{{_id}}">The Old Testament</a>
{{/imageoldtestaments}}

{{#imagepioneers}}

    <a href="/game40/{{_id}}">Pioneers</a>
{{/imagepioneers}}

{{#imageprayers}}

    <a href="/game41/{{_id}}">Prayer</a>
{{/imageprayers}}

{{#imagepremortals}}

    <a href="/game42/{{_id}}">Premortal Life</a>
{{/imagepremortals}}

{{#imagepriesthoods}}

    <a href="/game43/{{_id}}">The Priesthood</a>
{{/imagepriesthoods}}

{{#imageprophets}}

    <a href="/game44/{{_id}}">Prophets</a>
{{/imageprophets}}

{{#imagerepentences}}

    <a href="/game45/{{_id}}">Repentance</a>
{{/imagerepentences}}

{{#imagesacraments}}

    <a href="/game46/{{_id}}">The Sacrament</a>
{{/imagesacraments}}

{{#imagescriptures}}

    <a href="/game47/{{_id}}">The Scriptures</a>
{{/imagescriptures}}

{{#imagesecondcomings}}

    <a href="/game48/{{_id}}">The Second Coming</a>
{{/imagesecondcomings}}

{{#imageselfreliances}}

    <a href="/game49/{{_id}}">Self Reliance</a>
{{/imageselfreliances}}

{{#imagetemples}}

    <a href="/game50/{{_id}}">Temples</a>
{{/imagetemples}}

{{#imagetestimonies}}

    <a href="/game51/{{_id}}">Testimony</a>
{{/imagetestimonies}}

{{#imageservices}}

    <a href="/game52/{{_id}}">Service</a>
{{/imageservices}}

{{#imagethefalls}}

    <a href="/game53/{{_id}}">The Fall</a>
{{/imagethefalls}}

{{#imagetithings}}

    <a href="/game54/{{_id}}">Tithing</a>
{{/imagetithings}}

{{#imagetrials}}

    <a href="/game55/{{_id}}">Trials and Tribulation</a>
{{/imagetrials}}

{{#imagewomens}}

    <a href="/game56/{{_id}}">Women</a>
{{/imagewomens}}

{{#imagewordofwisdoms}}

    <a href="/game57/{{_id}}">Word of Wisdom</a>
{{/imagewordofwisdoms}}

{{#imagegenauthbrighamyoungs}}

    <a href="/game58/{{_id}}">Brigham Young</a>
{{/imagegenauthbrighamyoungs}}

{{#imagegenauthdabednars}}

    <a href="/game59/{{_id}}">David A. Bednar</a>
{{/imagegenauthdabednars}}

{{#imagegenauthdavidomckays}}

    <a href="/game60/{{_id}}">David O. Mckay</a>
{{/imagegenauthdavidomckays}}

{{#imagegenauthdfuchtdorfs}}

    <a href="/game61/{{_id}}">Dieter F. Uchtdorf</a>
{{/imagegenauthdfuchtdorfs}}

{{#imagegenauthdgrenlunds}}

    <a href="/game62/{{_id}}">Dale G. Renlund</a>
{{/imagegenauthdgrenlunds}}

{{#imagegenauthdhoaks}}

    <a href="/game63/{{_id}}">Dallin H. Oaks</a>
{{/imagegenauthdhoaks}}

{{#imagegenauthdtchristoffersons}}

    <a href="/game64/{{_id}}">D. Todd Christofferson</a>
{{/imagegenauthdtchristoffersons}}

{{#imagegenauthezrataftbensons}}

    <a href="/game65/{{_id}}">Ezra Taft Benson</a>
{{/imagegenauthezrataftbensons}}

{{#imagegenauthgeorgeasmiths}}

    <a href="/game66/{{_id}}">George A. Smith</a>
{{/imagegenauthgeorgeasmiths}}

{{#imagegenauthgestevensons}}

    <a href="/game67/{{_id}}">Gary E. Stevenson</a>
{{/imagegenauthgestevensons}}

{{#imagegenauthgordonbhinckleys}}

    <a href="/game68/{{_id}}">Gordon B. Hinckley</a>
{{/imagegenauthgordonbhinckleys}}

{{#imagegenauthharoldblees}}

    <a href="/game69/{{_id}}">Harold B. Lee</a>
{{/imagegenauthharoldblees}}

{{#imagegenauthhbeyrings}}

    <a href="/game70/{{_id}}">Henry B. Eyring</a>
{{/imagegenauthhbeyrings}}

{{#imagegenauthheberjgrants}}

    <a href="/game71/{{_id}}">Heber J. Grant</a>
{{/imagegenauthheberjgrants}}

{{#imagegenauthhowardwhunters}}

    <a href="/game72/{{_id}}">Howard W. Hunter</a>
{{/imagegenauthhowardwhunters}}

{{#imagegenauthjohntaylors}}

    <a href="/game73/{{_id}}">John Taylor</a>
{{/imagegenauthjohntaylors}}

{{#imagegenauthjosephfieldingsmiths}}

    <a href="/game74/{{_id}}">Joseph Fielding Smith</a>
{{/imagegenauthjosephfieldingsmiths}}

{{#imagegenauthjosephfsmiths}}

    <a href="/game75/{{_id}}">Joseph F. Smith</a>
{{/imagegenauthjosephfsmiths}}

{{#imagegenauthjosephsmiths}}

    <a href="/game76/{{_id}}">Joseph Smith</a>
{{/imagegenauthjosephsmiths}}

{{#imagegenauthjrhollands}}

    <a href="/game77/{{_id}}">Jeffrey R. Holland</a>
{{/imagegenauthjrhollands}}

{{#imagegenauthlorenzosnows}}

    <a href="/game78/{{_id}}">Lorenzo Snow</a>
{{/imagegenauthlorenzosnows}}

{{#imagegenauthmrballards}}

    <a href="/game79/{{_id}}">M. Russell Ballard</a>
{{/imagegenauthmrballards}}

{{#imagegenauthnlandersons}}

    <a href="/game80/{{_id}}">Neil L. Anderson</a>
{{/imagegenauthnlandersons}}

{{#imagegenauthqlcooks}}

    <a href="/game81/{{_id}}">Quentin L. Cook</a>
{{/imagegenauthqlcooks}}

{{#imagegenauthrarasbands}}

    <a href="/game82/{{_id}}">Ronald A. Rasband</a>
{{/imagegenauthrarasbands}}

{{#imagegenauthrmnelsons}}

    <a href="/game83/{{_id}}">Russell M. Nelson</a>
{{/imagegenauthrmnelsons}}

{{#imagegenauthspencerkimballs}}

    <a href="/game84/{{_id}}">Spencer W. Kimball</a>
{{/imagegenauthspencerkimballs}}

{{#imagegenauthtsmonsons}}

    <a href="/game85/{{_id}}">Thomas S. Monson</a>
{{/imagegenauthtsmonsons}}

{{#imagegenauthwilfordwoodruffs}}

    <a href="/game86/{{_id}}">Wilford Woodruff</a>
{{/imagegenauthwilfordwoodruffs}}

</div>




</body>

</html>
