<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>The Talk Maker</title>
  <link rel="stylesheet" href="/game1.css">
  <link href="https://fonts.googleapis.com/css?family=Volkhov" rel="stylesheet">

  </script>
</head>

<body>


  {{#imagepeoples}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/people" method="post">

      <label>Category: People</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
  <option value="book of mormon">Book of Mormon
  </option>
  <option value="new testament">New Testament
  </option>
  <option value="old testament">Old Testament
  </option>
  <option value="pearl of great price">Pearl of Great Price"
  </option>
  <option value="D&C">Doctrine and Covenants
  </option>
<option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagepeoples}}
  {{#imageagencies}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/agency" method="post">

      <label>Category: Agency</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
  <option value="book of mormon">Book of Mormon
  </option>
  <option value="new testament">New Testament
  </option>
  <option value="old testament">Old Testament
  </option>
  <option value="pearl of great price">Pearl of Great Price"
  </option>
  <option value="D&C">Doctrine and Covenants
  </option>
<option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imageagencies}}
  {{#imageangels}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/angels" method="post">

      <label>Category: Angels</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imageangels}}

  {{#imageapostasy}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/apostasy" method="post">

      <label>Category: Apostasy</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imageapostasy}}

  {{#imageapostles}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/apostle" method="post">

      <label>Category: Apostles</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imageapostles}}

  {{#imageatonements}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/atonement" method="post">

      <label>Category: The Atonement</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imageatonements}}

  {{#imagebaptisms}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/baptism" method="post">

      <label>Category: Baptism</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagebaptisms}}

  {{#imagebookofmormons}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/bookofmormon" method="post">

      <label>Category: Book of mormon</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagebookofmormons}}

  {{#imagecharities}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/charity" method="post">

      <label>Category: Charity</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagecharities}}

  {{#imagechastities}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/chastity" method="post">

      <label>Category: Chastity</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagechastities}}

  {{#imagechildrens}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/children" method="post">

      <label>Category: Children</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagechildrens}}

  {{#imagechurches}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/church" method="post">

      <label>Category: Church</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagechurches}}

  {{#imagecovenants}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/covenants" method="post">

      <label>Category: Covenants</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagecovenants}}

  {{#imagecreations}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/creation" method="post">

      <label>Category: The Creation</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagecreations}}

  {{#imagedeaths}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/death" method="post">

      <label>Category: Death</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagedeaths}}

  {{#imagedoctrinecovenants}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/doctrinecovenants" method="post">

      <label>Category: Doctrine & Covenants</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagedoctrinecovenants}}

  {{#imageevents}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/events" method="post">

      <label>Category: Events from the Scriptures</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imageevents}}

  {{#imagefaiths}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/faith" method="post">

      <label>Category: Faith</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagefaiths}}

  {{#imagefamilies}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/family" method="post">

      <label>Category: Family</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagefamilies}}

  {{#imagefastings}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/fasting" method="post">

      <label>Category: Fasting</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagefastings}}

  {{#imagegenealogies}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/genealogy" method="post">

      <label>Category: genealogy</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagegenealogies}}

  {{#imagegiftsofthespirits}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/giftsofthespirit" method="post">

      <label>Category: Gifts of the Spirit</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagegiftsofthespirits}}

  {{#imagegods}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/god" method="post">

      <label>Category: Heavenly Father</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagegods}}

  {{#imagegodheads}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/godhead" method="post">

      <label>Category: The Godhead</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagegodheads}}

  {{#imagegospels}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/gospel" method="post">

      <label>Category: The Gospel of Jesus Christ</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagegospels}}

  {{#imagehappinesses}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/happiness" method="post">

      <label>Category: Happiness</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagehappinesses}}

  {{#imageheavens}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/heaven" method="post">

      <label>Category: Heaven</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imageheavens}}

  {{#imagehells}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/hell" method="post">

      <label>Category: Hell</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagehells}}

  {{#imageholyghosts}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/holyghost" method="post">

      <label>Category: The Holy Ghost</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imageholyghosts}}

  {{#imagehonesties}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/honesty" method="post">

      <label>Category: Honesty</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagehonesties}}

  {{#imagehumilities}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/humility" method="post">

      <label>Category: Humility</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagehumilities}}

  {{#imagejesuses}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/jesus" method="post">

      <label>Category: Jesus Christ</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagejesuses}}

  {{#imagemarriages}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/marriage" method="post">

      <label>Category: Eternal Marriage</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagemarriages}}

  {{#imagemiracles}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/miracles" method="post">

      <label>Category: Miracles</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagemiracles}}

  {{#imagemissionaries}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/missionary" method="post">

      <label>Category: Missionary Work</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagemissionaries}}

  {{#imagenativities}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/nativity" method="post">

      <label>Category: The Birth of Jesus Christ</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagenativities}}

  {{#imagenewtestaments}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/newtestament" method="post">

      <label>Category: The New Testament</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagenewtestaments}}

  {{#imageobediences}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/obedience" method="post">

      <label>Category: Obedience</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imageobediences}}

  {{#imageoldtestaments}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/oldtestament" method="post">

      <label>Category: The Old Testament</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imageoldtestaments}}

  {{#imagepioneers}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/pioneer" method="post">

      <label>Category: Pioneers</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagepioneers}}

  {{#imageprayers}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/prayer" method="post">

      <label>Category: Prayer</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imageprayers}}

  {{#imagepremortals}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/premortal" method="post">

      <label>Category: The Premortal Life</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagepremortals}}

  {{#imagepriesthoods}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/priesthood" method="post">

      <label>Category: The Priesthood</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagepriesthoods}}

  {{#imageprophets}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/prophets" method="post">

      <label>Category: Prophets of God</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imageprophets}}

  {{#imagerepentences}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/repentence" method="post">

      <label>Category: Repentence</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagerepentences}}

  {{#imageresurrections}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/resurrection" method="post">

      <label>Category: The Resurrection</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imageresurrections}}

  {{#imagesacraments}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/sacrament" method="post">

      <label>Category: The Sacrament</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagesacraments}}

  {{#imagescriptures}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/scriptures" method="post">

      <label>Category: The Scriptures</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagescriptures}}

  {{#imagesecondcomings}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/secondcoming" method="post">

      <label>Category: The Second Coming</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagesecondcomings}}

  {{#imageselfreliances}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/selfreliance" method="post">

      <label>Category: Self Reliance</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imageselfreliances}}

  {{#imageservices}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/service" method="post">

      <label>Category: Service</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imageservices}}

  {{#imagetemples}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/temple" method="post">

      <label>Category: The Temple</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagetemples}}

  {{#imagetestimonies}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/testimony" method="post">

      <label>Category: Testimony</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagetestimonies}}

  {{#imagethefalls}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/thefall" method="post">

      <label>Category: The Fall of Adam and Eve</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagethefalls}}

  {{#imagetithings}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/tithing" method="post">

      <label>Category: Tithing</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagetithings}}

  {{#imagetrials}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/trials" method="post">

      <label>Category: Trials and Tribulations</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagetrials}}

  {{#imagewomens}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/women" method="post">

      <label>Category: Women</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagewomens}}

  {{#imagewordofwisdoms}}

    <img src="{{#image_data}}{{image}}{{/image_data}}" />

    <form class="form2" action="/api/scriptures/wordofwisdom" method="post">

      <label>Category: Word of Wisdom</label>
      <label>Can you think of a scripture or quote that helps describe this picture?</label>
      <select name="standard_work_location">
      <option value="book of mormon">Book of Mormon
      </option>
      <option value="new testament">New Testament
      </option>
      <option value="old testament">Old Testament
      </option>
      <option value="pearl of great price">Pearl of Great Price"
      </option>
      <option value="D&C">Doctrine and Covenants
      </option>
    <option value="Quote or Church Material">Other Church Literature</option></select>
      <label>Where is it located(book or author)?</label>
      <input name="book_and_verse_number" />
      <label>What's the verse text?</label>
      <textarea name="verse_text">Write the verse or quote text here</textarea>

      <input class="submit" type="submit" value="submit">
    </form>
  {{/imagewordofwisdoms}}

</body>

</html>
