<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>The Talk Maker</title>
  <link rel="stylesheet" href="/game3.css">
  <link href="https://fonts.googleapis.com/css?family=Volkhov" rel="stylesheet">

  </script>
</head>

<body>



    <form class="form7" action="/api/genconf/gratitude" method="post">
      <label>gratitude</label>
      <label>Talk Title</label>
      <input name="talk_title" />
      <label>Month & Year</label>
      <input name="year" />
      <label>Speaker's Name</label>
      <input name="author" />
      <label>Speakers Calling</label>
      <input name="position" />
      <label>Image URL</label>
      <input name="image_url" />
      <label>Talk Blurb</label>
      <textarea name="talk_blurb"></textarea>
      <label>paragraph1</label>
      <textarea name="paragraph1"></textarea>
      <label>paragraph2</label>
      <textarea name="paragraph2"></textarea>
      <label>paragraph3</label>
      <textarea name="paragraph3"></textarea>
      <label>paragraph4</label>
      <textarea name="paragraph4"></textarea>
      <label>paragraph5</label>
      <textarea name="paragraph5"></textarea>
      <label>paragraph6</label>
      <textarea name="paragraph6"></textarea>
      <label>paragraph7</label>
      <textarea name="paragraph7"></textarea>
      <label>paragraph8</label>
      <textarea name="paragraph8"></textarea>
      <label>paragraph9</label>
      <textarea name="paragraph9"></textarea>
      <label>paragraph10</label>
      <textarea name="paragraph10"></textarea>

      <input class="submit" type="submit" value="submit">
    </form>


  <form class="form7" action="/api/genconf/godhead" method="post">
    <label>godhead</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>

  <form class="form7" action="/api/genconf/god" method="post">
    <label>god</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>

  <form class="form7" action="/api/genconf/giftsofthespirit" method="post">
    <label>giftsofthespirit</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>

  <form class="form7" action="/api/genconf/genealogy" method="post">
    <label>genealogy</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>

  <form class="form7" action="/api/genconf/fasting" method="post">
    <label>fasting</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>

  <form class="form7" action="/api/genconf/family" method="post">
    <label>family</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>

  <form class="form7" action="/api/genconf/faith" method="post">
    <label>faith</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>

  <form class="form7" action="/api/genconf/death" method="post">
    <label>death</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>

  <form class="form7" action="/api/genconf/creation" method="post">
    <label>creation</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>

  <form class="form7" action="/api/genconf/covenants" method="post">
    <label>covenants</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>

  <form class="form7" action="/api/genconf/church" method="post">
    <label>church</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>

  <form class="form7" action="/api/genconf/children" method="post">
    <label>children</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>

  <form class="form7" action="/api/genconf/chastity" method="post">
    <label>chastity</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>

  <form class="form7" action="/api/genconf/charity" method="post">
    <label>charity</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>

  <form class="form7" action="/api/genconf/bookofmormon" method="post">
    <label>bookofmormon</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>

  <form class="form7" action="/api/genconf/baptism" method="post">
    <label>baptism</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>

  <form class="form7" action="/api/genconf/atonement" method="post">
    <label>atonement</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>

  <form class="form7" action="/api/genconf/apostle" method="post">
    <label>apostle</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>

  <form class="form7" action="/api/genconf/angels" method="post">
    <label>angels</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>

  <form class="form7" action="/api/genconf/agency" method="post">
    <label>agency</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>

  <form class="form7" action="/api/genconf/apostasy" method="post">
    <label>apostasy</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>


  <form class="form7" action="/api/genconf/fellowship" method="post">
    <label>Fellowship</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>

  <form class="form7" action="/api/genconf/wordofwisdom" method="post">
    <label>wordofwisdom</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>

  <form class="form7" action="/api/genconf/women" method="post">
    <label>women</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>



  <form class="form7" action="/api/genconf/trials" method="post">
    <label>trials</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>

  <form class="form7" action="/api/genconf/tithing" method="post">
    <label>tithing</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>



  <form class="form7" action="/api/genconf/thefall" method="post">
    <label>thefall</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>


  <form class="form7" action="/api/genconf/testimony" method="post">
    <label>testimony</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>


  <form class="form7" action="/api/genconf/temple" method="post">
    <label>temple</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>

  <form class="form7" action="/api/genconf/service" method="post">
    <label>service</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>



  <form class="form7" action="/api/genconf/selfreliance" method="post">
    <label>selfreliance</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>


  <form class="form7" action="/api/genconf/secondcoming" method="post">
    <label>secondcoming</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>



  <form class="form7" action="/api/genconf/scriptures" method="post">
    <label>scriptures</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>


  <form class="form7" action="/api/genconf/sacrament" method="post">
    <label>sacrament</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>


  <form class="form7" action="/api/genconf/resurrection" method="post">
    <label>resurrection</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>


  <form class="form7" action="/api/genconf/repentence" method="post">
    <label>repentence</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>


  <form class="form7" action="/api/genconf/prophets" method="post">
    <label>prophets</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>



  <form class="form7" action="/api/genconf/priesthood" method="post">
    <label>priesthood</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>


  <form class="form7" action="/api/genconf/premortal" method="post">
    <label>premortal</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>



  <form class="form7" action="/api/genconf/prayer" method="post">
    <label>prayer</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>

  <form class="form7" action="/api/genconf/pioneer" method="post">
    <label>pioneer</label>
    <label>Talk Title</label>
    <input name="talk_title" />
    <label>Month & Year</label>
    <input name="year" />
    <label>Speaker's Name</label>
    <input name="author" />
    <label>Speakers Calling</label>
    <input name="position" />
    <label>Image URL</label>
    <input name="image_url" />
    <label>Talk Blurb</label>
    <textarea name="talk_blurb"></textarea>
    <label>paragraph1</label>
    <textarea name="paragraph1"></textarea>
    <label>paragraph2</label>
    <textarea name="paragraph2"></textarea>
    <label>paragraph3</label>
    <textarea name="paragraph3"></textarea>
    <label>paragraph4</label>
    <textarea name="paragraph4"></textarea>
    <label>paragraph5</label>
    <textarea name="paragraph5"></textarea>
    <label>paragraph6</label>
    <textarea name="paragraph6"></textarea>
    <label>paragraph7</label>
    <textarea name="paragraph7"></textarea>
    <label>paragraph8</label>
    <textarea name="paragraph8"></textarea>
    <label>paragraph9</label>
    <textarea name="paragraph9"></textarea>
    <label>paragraph10</label>
    <textarea name="paragraph10"></textarea>

    <input class="submit" type="submit" value="submit">
  </form>



    <form class="form7" action="/api/genconf/obedience" method="post">
      <label>obedience</label>
      <label>Talk Title</label>
      <input name="talk_title" />
      <label>Month & Year</label>
      <input name="year" />
      <label>Speaker's Name</label>
      <input name="author" />
      <label>Speakers Calling</label>
      <input name="position" />
      <label>Image URL</label>
      <input name="image_url" />
      <label>Talk Blurb</label>
      <textarea name="talk_blurb"></textarea>
      <label>paragraph1</label>
      <textarea name="paragraph1"></textarea>
      <label>paragraph2</label>
      <textarea name="paragraph2"></textarea>
      <label>paragraph3</label>
      <textarea name="paragraph3"></textarea>
      <label>paragraph4</label>
      <textarea name="paragraph4"></textarea>
      <label>paragraph5</label>
      <textarea name="paragraph5"></textarea>
      <label>paragraph6</label>
      <textarea name="paragraph6"></textarea>
      <label>paragraph7</label>
      <textarea name="paragraph7"></textarea>
      <label>paragraph8</label>
      <textarea name="paragraph8"></textarea>
      <label>paragraph9</label>
      <textarea name="paragraph9"></textarea>
      <label>paragraph10</label>
      <textarea name="paragraph10"></textarea>

      <input class="submit" type="submit" value="submit">
    </form>



      <form class="form7" action="/api/genconf/nativity" method="post">
        <label>nativity</label>
        <label>Talk Title</label>
        <input name="talk_title" />
        <label>Month & Year</label>
        <input name="year" />
        <label>Speaker's Name</label>
        <input name="author" />
        <label>Speakers Calling</label>
        <input name="position" />
        <label>Image URL</label>
        <input name="image_url" />
        <label>Talk Blurb</label>
        <textarea name="talk_blurb"></textarea>
        <label>paragraph1</label>
        <textarea name="paragraph1"></textarea>
        <label>paragraph2</label>
        <textarea name="paragraph2"></textarea>
        <label>paragraph3</label>
        <textarea name="paragraph3"></textarea>
        <label>paragraph4</label>
        <textarea name="paragraph4"></textarea>
        <label>paragraph5</label>
        <textarea name="paragraph5"></textarea>
        <label>paragraph6</label>
        <textarea name="paragraph6"></textarea>
        <label>paragraph7</label>
        <textarea name="paragraph7"></textarea>
        <label>paragraph8</label>
        <textarea name="paragraph8"></textarea>
        <label>paragraph9</label>
        <textarea name="paragraph9"></textarea>
        <label>paragraph10</label>
        <textarea name="paragraph10"></textarea>

        <input class="submit" type="submit" value="submit">
      </form>




        <form class="form7" action="/api/genconf/missionary" method="post">
          <label>missionary</label>
          <label>Talk Title</label>
          <input name="talk_title" />
          <label>Month & Year</label>
          <input name="year" />
          <label>Speaker's Name</label>
          <input name="author" />
          <label>Speakers Calling</label>
          <input name="position" />
          <label>Image URL</label>
          <input name="image_url" />
          <label>Talk Blurb</label>
          <textarea name="talk_blurb"></textarea>
          <label>paragraph1</label>
          <textarea name="paragraph1"></textarea>
          <label>paragraph2</label>
          <textarea name="paragraph2"></textarea>
          <label>paragraph3</label>
          <textarea name="paragraph3"></textarea>
          <label>paragraph4</label>
          <textarea name="paragraph4"></textarea>
          <label>paragraph5</label>
          <textarea name="paragraph5"></textarea>
          <label>paragraph6</label>
          <textarea name="paragraph6"></textarea>
          <label>paragraph7</label>
          <textarea name="paragraph7"></textarea>
          <label>paragraph8</label>
          <textarea name="paragraph8"></textarea>
          <label>paragraph9</label>
          <textarea name="paragraph9"></textarea>
          <label>paragraph10</label>
          <textarea name="paragraph10"></textarea>

          <input class="submit" type="submit" value="submit">
        </form>


          <form class="form7" action="/api/genconf/miracles" method="post">
            <label>miracles</label>
            <label>Talk Title</label>
            <input name="talk_title" />
            <label>Month & Year</label>
            <input name="year" />
            <label>Speaker's Name</label>
            <input name="author" />
            <label>Speakers Calling</label>
            <input name="position" />
            <label>Image URL</label>
            <input name="image_url" />
            <label>Talk Blurb</label>
            <textarea name="talk_blurb"></textarea>
            <label>paragraph1</label>
            <textarea name="paragraph1"></textarea>
            <label>paragraph2</label>
            <textarea name="paragraph2"></textarea>
            <label>paragraph3</label>
            <textarea name="paragraph3"></textarea>
            <label>paragraph4</label>
            <textarea name="paragraph4"></textarea>
            <label>paragraph5</label>
            <textarea name="paragraph5"></textarea>
            <label>paragraph6</label>
            <textarea name="paragraph6"></textarea>
            <label>paragraph7</label>
            <textarea name="paragraph7"></textarea>
            <label>paragraph8</label>
            <textarea name="paragraph8"></textarea>
            <label>paragraph9</label>
            <textarea name="paragraph9"></textarea>
            <label>paragraph10</label>
            <textarea name="paragraph10"></textarea>

            <input class="submit" type="submit" value="submit">
          </form>


            <form class="form7" action="/api/genconf/marriage" method="post">
              <label>marriage</label>
              <label>Talk Title</label>
              <input name="talk_title" />
              <label>Month & Year</label>
              <input name="year" />
              <label>Speaker's Name</label>
              <input name="author" />
              <label>Speakers Calling</label>
              <input name="position" />
              <label>Image URL</label>
              <input name="image_url" />
              <label>Talk Blurb</label>
              <textarea name="talk_blurb"></textarea>
              <label>paragraph1</label>
              <textarea name="paragraph1"></textarea>
              <label>paragraph2</label>
              <textarea name="paragraph2"></textarea>
              <label>paragraph3</label>
              <textarea name="paragraph3"></textarea>
              <label>paragraph4</label>
              <textarea name="paragraph4"></textarea>
              <label>paragraph5</label>
              <textarea name="paragraph5"></textarea>
              <label>paragraph6</label>
              <textarea name="paragraph6"></textarea>
              <label>paragraph7</label>
              <textarea name="paragraph7"></textarea>
              <label>paragraph8</label>
              <textarea name="paragraph8"></textarea>
              <label>paragraph9</label>
              <textarea name="paragraph9"></textarea>
              <label>paragraph10</label>
              <textarea name="paragraph10"></textarea>

              <input class="submit" type="submit" value="submit">
            </form>


              <form class="form7" action="/api/genconf/humility" method="post">
                <label>humility</label>
                <label>Talk Title</label>
                <input name="talk_title" />
                <label>Month & Year</label>
                <input name="year" />
                <label>Speaker's Name</label>
                <input name="author" />
                <label>Speakers Calling</label>
                <input name="position" />
                <label>Image URL</label>
                <input name="image_url" />
                <label>Talk Blurb</label>
                <textarea name="talk_blurb"></textarea>
                <label>paragraph1</label>
                <textarea name="paragraph1"></textarea>
                <label>paragraph2</label>
                <textarea name="paragraph2"></textarea>
                <label>paragraph3</label>
                <textarea name="paragraph3"></textarea>
                <label>paragraph4</label>
                <textarea name="paragraph4"></textarea>
                <label>paragraph5</label>
                <textarea name="paragraph5"></textarea>
                <label>paragraph6</label>
                <textarea name="paragraph6"></textarea>
                <label>paragraph7</label>
                <textarea name="paragraph7"></textarea>
                <label>paragraph8</label>
                <textarea name="paragraph8"></textarea>
                <label>paragraph9</label>
                <textarea name="paragraph9"></textarea>
                <label>paragraph10</label>
                <textarea name="paragraph10"></textarea>

                <input class="submit" type="submit" value="submit">
              </form>



                <form class="form7" action="/api/genconf/jesus" method="post">
                  <label>jesus</label>
                  <label>Talk Title</label>
                  <input name="talk_title" />
                  <label>Month & Year</label>
                  <input name="year" />
                  <label>Speaker's Name</label>
                  <input name="author" />
                  <label>Speakers Calling</label>
                  <input name="position" />
                  <label>Image URL</label>
                  <input name="image_url" />
                  <label>Talk Blurb</label>
                  <textarea name="talk_blurb"></textarea>
                  <label>paragraph1</label>
                  <textarea name="paragraph1"></textarea>
                  <label>paragraph2</label>
                  <textarea name="paragraph2"></textarea>
                  <label>paragraph3</label>
                  <textarea name="paragraph3"></textarea>
                  <label>paragraph4</label>
                  <textarea name="paragraph4"></textarea>
                  <label>paragraph5</label>
                  <textarea name="paragraph5"></textarea>
                  <label>paragraph6</label>
                  <textarea name="paragraph6"></textarea>
                  <label>paragraph7</label>
                  <textarea name="paragraph7"></textarea>
                  <label>paragraph8</label>
                  <textarea name="paragraph8"></textarea>
                  <label>paragraph9</label>
                  <textarea name="paragraph9"></textarea>
                  <label>paragraph10</label>
                  <textarea name="paragraph10"></textarea>

                  <input class="submit" type="submit" value="submit">
                </form>


                  <form class="form7" action="/api/genconf/honesty" method="post">
                    <label>honesty</label>
                    <label>Talk Title</label>
                    <input name="talk_title" />
                    <label>Month & Year</label>
                    <input name="year" />
                    <label>Speaker's Name</label>
                    <input name="author" />
                    <label>Speakers Calling</label>
                    <input name="position" />
                    <label>Image URL</label>
                    <input name="image_url" />
                    <label>Talk Blurb</label>
                    <textarea name="talk_blurb"></textarea>
                    <label>paragraph1</label>
                    <textarea name="paragraph1"></textarea>
                    <label>paragraph2</label>
                    <textarea name="paragraph2"></textarea>
                    <label>paragraph3</label>
                    <textarea name="paragraph3"></textarea>
                    <label>paragraph4</label>
                    <textarea name="paragraph4"></textarea>
                    <label>paragraph5</label>
                    <textarea name="paragraph5"></textarea>
                    <label>paragraph6</label>
                    <textarea name="paragraph6"></textarea>
                    <label>paragraph7</label>
                    <textarea name="paragraph7"></textarea>
                    <label>paragraph8</label>
                    <textarea name="paragraph8"></textarea>
                    <label>paragraph9</label>
                    <textarea name="paragraph9"></textarea>
                    <label>paragraph10</label>
                    <textarea name="paragraph10"></textarea>

                    <input class="submit" type="submit" value="submit">
                  </form>



                    <form class="form7" action="/api/genconf/holyghost" method="post">
                      <label>holyghost</label>
                      <label>Talk Title</label>
                      <input name="talk_title" />
                      <label>Month & Year</label>
                      <input name="year" />
                      <label>Speaker's Name</label>
                      <input name="author" />
                      <label>Speakers Calling</label>
                      <input name="position" />
                      <label>Image URL</label>
                      <input name="image_url" />
                      <label>Talk Blurb</label>
                      <textarea name="talk_blurb"></textarea>
                      <label>paragraph1</label>
                      <textarea name="paragraph1"></textarea>
                      <label>paragraph2</label>
                      <textarea name="paragraph2"></textarea>
                      <label>paragraph3</label>
                      <textarea name="paragraph3"></textarea>
                      <label>paragraph4</label>
                      <textarea name="paragraph4"></textarea>
                      <label>paragraph5</label>
                      <textarea name="paragraph5"></textarea>
                      <label>paragraph6</label>
                      <textarea name="paragraph6"></textarea>
                      <label>paragraph7</label>
                      <textarea name="paragraph7"></textarea>
                      <label>paragraph8</label>
                      <textarea name="paragraph8"></textarea>
                      <label>paragraph9</label>
                      <textarea name="paragraph9"></textarea>
                      <label>paragraph10</label>
                      <textarea name="paragraph10"></textarea>

                      <input class="submit" type="submit" value="submit">
                    </form>


                      <form class="form7" action="/api/genconf/hell" method="post">
                        <label>hell</label>
                        <label>Talk Title</label>
                        <input name="talk_title" />
                        <label>Month & Year</label>
                        <input name="year" />
                        <label>Speaker's Name</label>
                        <input name="author" />
                        <label>Speakers Calling</label>
                        <input name="position" />
                        <label>Image URL</label>
                        <input name="image_url" />
                        <label>Talk Blurb</label>
                        <textarea name="talk_blurb"></textarea>
                        <label>paragraph1</label>
                        <textarea name="paragraph1"></textarea>
                        <label>paragraph2</label>
                        <textarea name="paragraph2"></textarea>
                        <label>paragraph3</label>
                        <textarea name="paragraph3"></textarea>
                        <label>paragraph4</label>
                        <textarea name="paragraph4"></textarea>
                        <label>paragraph5</label>
                        <textarea name="paragraph5"></textarea>
                        <label>paragraph6</label>
                        <textarea name="paragraph6"></textarea>
                        <label>paragraph7</label>
                        <textarea name="paragraph7"></textarea>
                        <label>paragraph8</label>
                        <textarea name="paragraph8"></textarea>
                        <label>paragraph9</label>
                        <textarea name="paragraph9"></textarea>
                        <label>paragraph10</label>
                        <textarea name="paragraph10"></textarea>

                        <input class="submit" type="submit" value="submit">
                      </form>

                      <form class="form7" action="/api/genconf/heaven" method="post">
                        <label>heaven</label>
                        <label>Talk Title</label>
                        <input name="talk_title" />
                        <label>Month & Year</label>
                        <input name="year" />
                        <label>Speaker's Name</label>
                        <input name="author" />
                        <label>Speakers Calling</label>
                        <input name="position" />
                        <label>Image URL</label>
                        <input name="image_url" />
                        <label>Talk Blurb</label>
                        <textarea name="talk_blurb"></textarea>
                        <label>paragraph1</label>
                        <textarea name="paragraph1"></textarea>
                        <label>paragraph2</label>
                        <textarea name="paragraph2"></textarea>
                        <label>paragraph3</label>
                        <textarea name="paragraph3"></textarea>
                        <label>paragraph4</label>
                        <textarea name="paragraph4"></textarea>
                        <label>paragraph5</label>
                        <textarea name="paragraph5"></textarea>
                        <label>paragraph6</label>
                        <textarea name="paragraph6"></textarea>
                        <label>paragraph7</label>
                        <textarea name="paragraph7"></textarea>
                        <label>paragraph8</label>
                        <textarea name="paragraph8"></textarea>
                        <label>paragraph9</label>
                        <textarea name="paragraph9"></textarea>
                        <label>paragraph10</label>
                        <textarea name="paragraph10"></textarea>

                        <input class="submit" type="submit" value="submit">
                      </form>



                        <form class="form7" action="/api/genconf/happiness" method="post">
                          <label>happiness</label>
                          <label>Talk Title</label>
                          <input name="talk_title" />
                          <label>Month & Year</label>
                          <input name="year" />
                          <label>Speaker's Name</label>
                          <input name="author" />
                          <label>Speakers Calling</label>
                          <input name="position" />
                          <label>Image URL</label>
                          <input name="image_url" />
                          <label>Talk Blurb</label>
                          <textarea name="talk_blurb"></textarea>
                          <label>paragraph1</label>
                          <textarea name="paragraph1"></textarea>
                          <label>paragraph2</label>
                          <textarea name="paragraph2"></textarea>
                          <label>paragraph3</label>
                          <textarea name="paragraph3"></textarea>
                          <label>paragraph4</label>
                          <textarea name="paragraph4"></textarea>
                          <label>paragraph5</label>
                          <textarea name="paragraph5"></textarea>
                          <label>paragraph6</label>
                          <textarea name="paragraph6"></textarea>
                          <label>paragraph7</label>
                          <textarea name="paragraph7"></textarea>
                          <label>paragraph8</label>
                          <textarea name="paragraph8"></textarea>
                          <label>paragraph9</label>
                          <textarea name="paragraph9"></textarea>
                          <label>paragraph10</label>
                          <textarea name="paragraph10"></textarea>

                          <input class="submit" type="submit" value="submit">
                        </form>


                          <form class="form7" action="/api/genconf/gospel" method="post">
                            <label>gospel</label>
                            <label>Talk Title</label>
                            <input name="talk_title" />
                            <label>Month & Year</label>
                            <input name="year" />
                            <label>Speaker's Name</label>
                            <input name="author" />
                            <label>Speakers Calling</label>
                            <input name="position" />
                            <label>Image URL</label>
                            <input name="image_url" />
                            <label>Talk Blurb</label>
                            <textarea name="talk_blurb"></textarea>
                            <label>paragraph1</label>
                            <textarea name="paragraph1"></textarea>
                            <label>paragraph2</label>
                            <textarea name="paragraph2"></textarea>
                            <label>paragraph3</label>
                            <textarea name="paragraph3"></textarea>
                            <label>paragraph4</label>
                            <textarea name="paragraph4"></textarea>
                            <label>paragraph5</label>
                            <textarea name="paragraph5"></textarea>
                            <label>paragraph6</label>
                            <textarea name="paragraph6"></textarea>
                            <label>paragraph7</label>
                            <textarea name="paragraph7"></textarea>
                            <label>paragraph8</label>
                            <textarea name="paragraph8"></textarea>
                            <label>paragraph9</label>
                            <textarea name="paragraph9"></textarea>
                            <label>paragraph10</label>
                            <textarea name="paragraph10"></textarea>

                            <input class="submit" type="submit" value="submit">
                          </form>

</body>

</html>
