<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>The Talk Maker</title>
  <link rel="stylesheet" href="/home.css">
<link href="https://fonts.googleapis.com/css?family=Volkhov" rel="stylesheet">
  <script>
    function allowDrop(ev) {
      ev.preventDefault();
    }

    function drag(ev) {
      ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
      ev.preventDefault();
      var data = ev.dataTransfer.getData("text");
      ev.target.appendChild(document.getElementById(data));
    }
  </script>
  <script>
    function add_section16() {
      document.getElementById('wrapper18').innerHTML +=
        `<div class="topic">
        <label>
        Section Topic 10:
        </label>
        <input class="inputfield" type="text" name="section1_topic" />
        </div>

        <div class="section">


<div class="buttonContainer">
        <div class="button">
          <input class="button1" type="button" id="more_fields" onclick="add_content10();">
          <img src="/down.png"/>
          Add content to this section
        </input>
      </div>


</div>
          <div class="content">
            <div class="contentColumn" id="wrapper"></div>
          </div>
        </div>`
    }
  </script>
  <script>
    function add_section14() {
      document.getElementById('wrapper16').innerHTML +=
        `<div class="topic">
        <label>
        Section Topic 9:
        </label>
        <input class="inputfield" type="text" name="section1_topic" />
        </div>

        <div class="section">


<div class="buttonContainer">
        <div class="button">
          <input class="button1" type="button" id="more_fields" onclick="add_content9();">
          <img src="/down.png"/>
          Add content to this section
        </input>
      </div>

      <div class="button">
      <input class="button1" type="button" id="more_fields" onclick="add_section16();">
      <img src="/down.png"/>
      Add another section
      </input>
      </div>
</div>
          <div class="content">
            <div class="contentColumn" id="wrapper"></div>
          </div>
        </div>`
    }
  </script>
  <script>
    function add_section12() {
      document.getElementById('wrapper14').innerHTML +=
        `<div class="topic">
        <label>
        Section Topic 8:
        </label>
        <input class="inputfield" type="text" name="section1_topic" />
        </div>

        <div class="section">


<div class="buttonContainer">
        <div class="button">
          <input class="button1" type="button" id="more_fields" onclick="add_content8();">
          <img src="/down.png"/>
          Add content to this section
        </input>
      </div>

      <div class="button">
      <input class="button1" type="button" id="more_fields" onclick="add_section14();">
      <img src="/down.png"/>
      Add another section
      </input>
      </div>
</div>
          <div class="content">
            <div class="contentColumn" id="wrapper"></div>
          </div>
        </div>`
    }
  </script>
  <script>
    function add_section10() {
      document.getElementById('wrapper12').innerHTML +=
        `<div class="topic">
        <label>
        Section Topic 7:
        </label>
        <input class="inputfield" type="text" name="section1_topic" />
        </div>

        <div class="section">


<div class="buttonContainer">
        <div class="button">
          <input class="button1" type="button" id="more_fields" onclick="add_content7();">
          <img src="/down.png"/>
          Add content to this section
        </input>
      </div>

      <div class="button">
      <input class="button1" type="button" id="more_fields" onclick="add_section12();">
      <img src="/down.png"/>
      Add another section
      </input>
      </div>
</div>
          <div class="content">
            <div class="contentColumn" id="wrapper"></div>
          </div>
        </div>`
    }
  </script>
  <script>
    function add_section8() {
      document.getElementById('wrapper10').innerHTML +=
        `<div class="topic">
        <label>
        Section Topic 6:
        </label>
        <input class="inputfield" type="text" name="section1_topic" />
        </div>

        <div class="section">


<div class="buttonContainer">
        <div class="button">
          <input class="button1" type="button" id="more_fields" onclick="add_content6();">
          <img src="/down.png"/>
          Add content to this section
        </input>
      </div>

      <div class="button">
      <input class="button1" type="button" id="more_fields" onclick="add_section10();">
      <img src="/down.png"/>
      Add another section
      </input>
      </div>
</div>
          <div class="content">
            <div class="contentColumn" id="wrapper"></div>
          </div>
        </div>`
    }
  </script>
  <script>
    function add_section6() {
      document.getElementById('wrapper8').innerHTML +=
        `<div class="topic">
        <label>
        Section Topic 5:
        </label>
        <input class="inputfield" type="text" name="section1_topic" />
        </div>

        <div class="section">


<div class="buttonContainer">
        <div class="button">
          <input class="button1" type="button" id="more_fields" onclick="add_content5();">
          <img src="/down.png"/>
          Add content to this section
        </input>
      </div>

      <div class="button">
      <input class="button1" type="button" id="more_fields" onclick="add_section8();">
      <img src="/down.png"/>
      Add another section
      </input>
      </div>
</div>
          <div class="content">
            <div class="contentColumn" id="wrapper"></div>
          </div>
        </div>`
    }
  </script>
  <script>
    function add_section4() {
      document.getElementById('wrapper6').innerHTML +=
        `<div class="topic">
        <label>
        Section Topic 4:
        </label>
        <input class="inputfield" type="text" name="section1_topic" />
        </div>

        <div class="section">


<div class="buttonContainer">
        <div class="button">
          <input class="button1" type="button" id="more_fields" onclick="add_content4();">
          <img src="/down.png"/>
          Add content to this section
        </input>
      </div>

      <div class="button">
      <input class="button1" type="button" id="more_fields" onclick="add_section6();">
      <img src="/down.png"/>
      Add another section
      </input>
      </div>
</div>
          <div class="content">
            <div class="contentColumn" id="wrapper"></div>
          </div>
        </div>`
    }
  </script>
  <script>
    function add_section2() {
      document.getElementById('wrapper4').innerHTML +=
        `<div class="topic">
        <label>
        Section Topic 3:
        </label>
        <input class="inputfield" type="text" name="section1_topic" />
        </div>

        <div class="section">

<div class="buttonContainer">
        <div class="button">
          <input class="button1" type="button" id="more_fields" onclick="add_content3();">
          <img src="/down.png"/>
          Add content to this section
        </input>
      </div>



      <div class="button">
      <input class="button1" type="button" id="more_fields" onclick="add_section4();">
      <img src="/down.png"/>
      Add another section
      </input>
      </div>
      </div>

      <div class="content">
        <div class="contentColumn" id="wrapper3"></div>
      </div>
    </div>`
    }
  </script>
  <script>
    function add_section() {
      document.getElementById('wrapper2').innerHTML +=
        `<div class="topic">
        <label>
        Section Topic 2:
        </label>
        <input class="inputfield" type="text" name="section1_topic" />
        </div>

        <div class="section">

<div class="buttonContainer">
        <div class="button">
          <input class="button1" type="button" id="more_fields" onclick="add_content2();">
          <img src="/down.png"/>
          Add content to this section
        </input>
      </div>


      <div class="button">
      <input class="button1" type="button" id="more_fields" onclick="add_section2();">
      <img src="/down.png"/>
      Add another section
      </input>
      </div>
      </div>


                      <div class="content">
                        <div class="contentColumn" id="wrapper"></div>
                      </div>
                    </div>
`
    }
  </script>
  <script>
    function add_content10() {
      document.getElementById('wrapper19').innerHTML +=
        `<div class="contentColumn">
        <label>
          Image URL:
        </label>
          <input class="inputfield3" type="text" name="image10" />
          <label>
            Title, Type or Author:
          </label>
          <input class="inputfield3" type="text" name="topic10" />
          <label>
            Content Text:
          </label>
          <textarea class="inputfield2" type="text" name="textarea10"></textarea>
        </div>`
    }
  </script>
  <script>
    function add_content9() {
      document.getElementById('wrapper17').innerHTML +=
        `<div class="contentColumn">
        <label>
          Image URL:
        </label>
          <input class="inputfield3" type="text" name="image9" />
          <label>
            Title, Type or Author:
          </label>
          <input class="inputfield3" type="text" name="topic9" />
          <label>
            Content Text:
          </label>
          <textarea class="inputfield2" type="text" name="textarea9"></textarea>
        </div>`
    }
  </script>
  <script>
    function add_content8() {
      document.getElementById('wrapper15').innerHTML +=
        `<div class="contentColumn">
        <label>
          Image URL:
        </label>
          <input class="inputfield3" type="text" name="image8" />
          <label>
            Title, Type or Author:
          </label>
          <input class="inputfield3" type="text" name="topic8" />
          <label>
            Content Text:
          </label>
          <textarea class="inputfield2" type="text" name="textarea8"></textarea>
        </div>`
    }
  </script>
  <script>
    function add_content7() {
      document.getElementById('wrapper13').innerHTML +=
        `<div class="contentColumn">
        <label>
          Image URL:
        </label>
          <input class="inputfield3" type="text" name="image7" />
          <label>
            Title, Type or Author:
          </label>
          <input class="inputfield3" type="text" name="topic7" />
          <label>
            Content Text:
          </label>
          <textarea class="inputfield2" type="text" name="textarea7"></textarea>
        </div>`
    }
  </script>
  <script>
    function add_content6() {
      document.getElementById('wrapper11').innerHTML +=
        `<div class="contentColumn">
        <label>
          Image URL:
        </label>
          <input class="inputfield3" type="text" name="image6" />
          <label>
            Title, Type or Author:
          </label>
          <input class="inputfield3" type="text" name="topic6" />
          <label>
            Content Text:
          </label>
          <textarea class="inputfield2" type="text" name="textarea6"></textarea>
        </div>`
    }
  </script>
  <script>
    function add_content5() {
      document.getElementById('wrapper9').innerHTML +=
        `<div class="contentColumn">
        <label>
          Image URL:
        </label>
          <input class="inputfield3" type="text" name="image5" />
          <label>
            Title, Type or Author:
          </label>
          <input class="inputfield3" type="text" name="topic5" />
          <label>
            Content Text:
          </label>
          <textarea class="inputfield2" type="text" name="textarea5"></textarea>
        </div>`
    }
  </script>
  <script>
    function add_content4() {
      document.getElementById('wrapper7').innerHTML +=
        `<div class="contentColumn">
        <label>
          Image URL:
        </label>
          <input class="inputfield3" type="text" name="image4" />
          <label>
            Title, Type or Author:
          </label>
          <input class="inputfield3" type="text" name="topic4" />
          <label>
            Content Text:
          </label>
          <textarea class="inputfield2" type="text" name="textarea4"></textarea>
        </div>`
    }
  </script>
  <script>
    function add_content3() {
      document.getElementById('wrapper5').innerHTML +=
        `<div class="contentColumn">
        <label>
          Image URL:
        </label>
          <input class="inputfield3" type="text" name="image3" />
          <label>
            Title, Type or Author:
          </label>
          <input class="inputfield3" type="text" name="topic3" />
          <label>
            Content Text:
          </label>
          <textarea class="inputfield2" type="text" name="textarea3"></textarea>
        </div>`
    }
  </script>
  <script>
    function add_content2() {
      document.getElementById('wrapper3').innerHTML +=
        `<div class="contentColumn">
        <label>
          Image URL:
        </label>
          <input class="inputfield3" type="text" name="image2" />
          <label>
            Title, Type or Author:
          </label>
          <input class="inputfield3" type="text" name="topic2" />
          <label>
            Content Text:
          </label>
          <textarea class="inputfield2" type="text" name="textarea2"></textarea>
        </div>`
    }
  </script>
  <script>
    function add_content() {
      document.getElementById('wrapper').innerHTML +=
        `<div class="contentColumn">
        <label>
          Image URL:
        </label>
          <input class="inputfield3" type="text" name="image1" />
          <label>
            Title, Type or Author:
          </label>
          <input class="inputfield3" type="text" name="topic1" />
          <label>
            Content Text:
          </label>
          <textarea class="inputfield2" type="text" name="textarea1"></textarea>
        </div>`
    }
  </script>
  <script>
    function add_email() {
      document.getElementById('new_email').innerHTML +=
        `<div class="contentColumn3">
          <label>
            Add the usernames of the users you wnt to share your talk with:
          </label>
          <div class="row_of_input">
          <input class="inputfield7" type="text" name="shared" />
          <input class="inputfield7" type="text" name="shared" />
          <input class="inputfield7" type="text" name="shared" />
          <input class="inputfield7" type="text" name="shared" />
          <input class="inputfield7" type="text" name="shared" />
          <input class="inputfield7" type="text" name="shared" />
          <input class="inputfield7" type="text" name="shared" />
          <input class="inputfield7" type="text" name="shared" />
          <input class="inputfield7" type="text" name="shared" />
          <input class="inputfield7" type="text" name="shared" />
          </div>
        </div>`
    }
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>
  $(document).ready(function(){
  console.log("talking");
  /*
  Here is a guide for the steps you could take:
  */
  // 1. First select and store the elements you'll be working with
  let searchInput = document.getElementById('searchInput');
  let submitButton = document.getElementById('submitButton');
  submitButton.onclick = searchAPI;
  console.log(searchInput);
  console.log(submitButton);
  //let usersApi = 'https://api.soundcloud.com/users/?client_id=86b6a66bb2d863f5d64dd8a91cd8de94&q=' + userSearchResults;
  // 2. Create your `onSubmit` event for getting the user's search term
  function remove() {
      $.stripSpaces = function(str) {
          var reg = new RegExp("[ ]+","g");
          return str.replace(/\s/g, '');
      }
  };


  function searchAPI() {

  let searchResults = searchInput.value;

  fetch('https://presentation-maker.herokuapp.com/api/images/' + searchResults).then(function(response) {
      if (response.status != 200) {
          console.log('Looks like there was a problem. Status Code' + response.status);
          return;
      }

      response.json().then(function(data) {
          let api = data;

          function renderapis() {

            return `${api.map(api =>
            `<img onclick="Copy();" class="images" src="${api.image_data[0].image}" />`
            )}
            `
            }

          let markup = `${renderapis()}`;
          document.getElementById('updatediv').innerHTML = markup;
          })
        })
      }
    })


  </script>

  <script language="javascript" type="text/javascript">
  function removeSpaces(string) {
  return string.split(' ').join('');
  }
  </script>
<script type="text/javascript">
function convert()
{
    alert("hi");
    var str ;
    str = document.getElementById("searchInput").value;
    document.writeln(str.toLowerCase());
}
</script>
<script>

</script>

</head>

<body>
  <div class="navbar">
  <img class="logo" src="/logo2.png">
  <a class="link" href="/createp1">new talk</a>
  <a class="link" href="/saved">saved talks</a>
  <a class="link" href="/completed">completed talks</a>
  <a class="link" href="/shared">public talks</a>
  <a class="link" href="/logout">logout</a>
  </div>

  <div class="bodywrapper4">

    <div class="navbar3">
      {{#talktopics}}
      <h6 class="link6">Resources</h6>
      <a target="_blank" class="link4" href="http://www.dictionary.com/browse/{{talk_topic}}?s=t">dictionary</a>
      <a target="_blank" class="link4" href="https://www.lds.org/search?lang=eng&query={{talk_topic}}">lds.org</a>
      <a target="_blank" class="link4" href="https://www.lds.org/scriptures/search?lang=eng&options=verse&options=highlight&options=text&query={{talk_topic}}&testament=bofm&type=word">book of mormon</a>
      <a target="_blank" class="link4" href="https://www.lds.org/scriptures/search?lang=eng&options=verse&options=highlight&options=text&query={{talk_topic}}&testament=dc-testament&type=word">Doctrine & Covenants</a>
      <a target="_blank" class="link4" href="https://www.lds.org/scriptures/search?lang=eng&options=verse&options=highlight&options=text&query={{talk_topic}}&testament=pgp&type=word">Pearl of Great Price</a>
      <a target="_blank" class="link4" href="https://www.lds.org/scriptures/search?lang=eng&options=verse&options=highlight&options=text&query={{talk_topic}}&testament=nt&type=word">New Testament</a>
      <a target="_blank" class="link4" href="https://www.lds.org/scriptures/search?lang=eng&options=verse&options=text&query={{talk_topic}}&testament=ot&type=word&options=headings">Old Testament</a>
      <a target="_blank" class="link4" href="https://speeches.byu.edu/search/?q=brave&submit=Submit#stq={{talk_topic}}&stp=1">BYU speeches</a>
      <a target="_blank" class="link4" href="https://rsc.byu.edu/search/site/{{talk_topic}}">BYU religious studies center</a>
      <a target="_blank" class="link4" href="https://archive.bookofmormoncentral.org/search/site/{{talk_topic}}">book of mormon central</a>
      <a target="_blank" class="link4" href="https://www.lds.org/search?query={{talk_topic}}&x=0&y=0&lang=eng&domains=images">LDS images</a>
    {{/talktopics}}
    </div>

<div class="bodywrapper6">
  <div id="add_div2" class="dynamic">
  <div id="add_div" class="dynamic">

  </div>
  <div class="homelabeldiv1">

    <section class="search">

    <input placeholder="image search" class="searchInput" onblur="this.value=removeSpaces(this.value);" type="text" id="searchInput">
    <button class="submitButton2" type="submit" id="submitButton"name="button">SUBMIT</button>

</section>

</section>
<div id="searched"></div>
<div class="results">
<section id="updatediv"></section>
</div>

{{#talktopics}}
<div class="homelabeldiv">
  <div class="homelabeldiv2">
  <h3>
    Talk Topic:
  </h3>
  <h2>
    {{talk_topic}}
  </h2>
</div>
  <div class="homelabeldiv2">
  <h3>
    for:
  </h3>
  <h2>
    {{talk_name}}
  </h2>
</div>
<div class="homelabeldiv2">
<h3>
  Talk Title:
</h3>
<h2>
  {{talkid}}
</h2>
</div>
</div>
{{/talktopics}}
</div>

<form class="form1" action="/talk/talkid/{{#talkids}}{{talkid}}{{/talkids}}" method="post">

  <label>share talk?</label>

  <div class="buttonWrapper5">
    <div class="button">
      <input class="button1" type="button" id="more_fields" onclick="add_email();">
        <img src="/down.png" /> Yes
      </input>
    </div>
    <div class="button">
      <input class="button1" type="button" >
        <img src="/down.png" /> No
      </input>
    </div>
    </div>
    <div id="new_email">

    </div>


    <div class="section">
      <div class="topic">
        <label>
              Section Topic 1:
            </label>
        <input class="inputfield" type="text" name="section1_topic" />
      </div>

      <div class="buttonContainer">
          <div class="button">
            <input class="button1" type="button" id="more_fields" onclick="add_content();">
            <img src="/down.png" /> Add content to this section
            </input>
          </div>

          <div class="button">
            <input class="button1" type="button" id="more_fields" onclick="add_section();">
            <img src="/down.png" /> Add another section
            </input>
          </div>
      </div>

    </div>

    <div class="content">
      <div class="contentColumn" id="wrapper"></div>
    </div>

    <div class="section" id="wrapper2">

    </div>

    <div class="content">
      <div class="contentColumn" id="wrapper3"></div>
    </div>



    <div class="section" id="wrapper4">

    </div>


    <div class="content">
      <div class="contentColumn" id="wrapper5"></div>
    </div>



    <div class="section" id="wrapper6"></div>

    <div class="content">
      <div class="contentColumn" id="wrapper7"></div>
    </div>

    <div class="section" id="wrapper8"></div>

    <div class="content">
      <div class="contentColumn" id="wrapper9"></div>
    </div>

    <div class="section" id="wrapper10"></div>

    <div class="content">
      <div class="contentColumn" id="wrapper11"></div>
    </div>

    <div class="section" id="wrapper12"></div>

    <div class="content">
      <div class="contentColumn" id="wrapper13"></div>
    </div>

    <div class="section" id="wrapper14"></div>

    <div class="content">
      <div class="contentColumn" id="wrapper15"></div>
    </div>

    <div class="section" id="wrapper16"></div>

    <div class="content">
      <div class="contentColumn" id="wrapper17"></div>
    </div>

    <div class="section" id="wrapper18"></div>

    <div class="content">
      <div class="contentColumn" id="wrapper19"></div>
    </div>

  <input class="submit" value="save talk" type="submit">
</form>
</div>
</div>

</body>

</html>
