<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>The Talk Maker</title>
  <link rel="stylesheet" href="/home.css">

  <script>
    function allowDrop(ev) {
      ev.preventDefault();
    }

    function drag(ev) {
      ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
      ev.preventDefault();
      var data = ev.dataTransfer.getData("text");
      ev.target.appendChild(document.getElementById(data));
    }
  </script>
  <script>
    function add_section16() {
      document.getElementById('wrapper18').innerHTML +=
        `<div class="topic">
        <label>
        Section Topic 10:
        </label>
        <input class="inputfield" type="text" name="section1_topic" />
        </div>

        <div class="section">


<div class="buttonContainer">
        <div class="button">
          <input class="button1" type="button" id="more_fields" onclick="add_content10();">
          <img src="/down.png"/>
          Add content to this section
        </input>
      </div>


</div>
          <div class="content">
            <div class="contentColumn" id="wrapper"></div>
          </div>
        </div>`
    }
  </script>
  <script>
    function add_section14() {
      document.getElementById('wrapper16').innerHTML +=
        `<div class="topic">
        <label>
        Section Topic 9:
        </label>
        <input class="inputfield" type="text" name="section1_topic" />
        </div>

        <div class="section">


<div class="buttonContainer">
        <div class="button">
          <input class="button1" type="button" id="more_fields" onclick="add_content9();">
          <img src="/down.png"/>
          Add content to this section
        </input>
      </div>

      <div class="button">
      <input class="button1" type="button" id="more_fields" onclick="add_section16();">
      <img src="/down.png"/>
      Add another section
      </input>
      </div>
</div>
          <div class="content">
            <div class="contentColumn" id="wrapper"></div>
          </div>
        </div>`
    }
  </script>
  <script>
    function add_section12() {
      document.getElementById('wrapper14').innerHTML +=
        `<div class="topic">
        <label>
        Section Topic 8:
        </label>
        <input class="inputfield" type="text" name="section1_topic" />
        </div>

        <div class="section">


<div class="buttonContainer">
        <div class="button">
          <input class="button1" type="button" id="more_fields" onclick="add_content8();">
          <img src="/down.png"/>
          Add content to this section
        </input>
      </div>

      <div class="button">
      <input class="button1" type="button" id="more_fields" onclick="add_section14();">
      <img src="/down.png"/>
      Add another section
      </input>
      </div>
</div>
          <div class="content">
            <div class="contentColumn" id="wrapper"></div>
          </div>
        </div>`
    }
  </script>
  <script>
    function add_section10() {
      document.getElementById('wrapper12').innerHTML +=
        `<div class="topic">
        <label>
        Section Topic 7:
        </label>
        <input class="inputfield" type="text" name="section1_topic" />
        </div>

        <div class="section">


<div class="buttonContainer">
        <div class="button">
          <input class="button1" type="button" id="more_fields" onclick="add_content7();">
          <img src="/down.png"/>
          Add content to this section
        </input>
      </div>

      <div class="button">
      <input class="button1" type="button" id="more_fields" onclick="add_section12();">
      <img src="/down.png"/>
      Add another section
      </input>
      </div>
</div>
          <div class="content">
            <div class="contentColumn" id="wrapper"></div>
          </div>
        </div>`
    }
  </script>
  <script>
    function add_section8() {
      document.getElementById('wrapper10').innerHTML +=
        `<div class="topic">
        <label>
        Section Topic 6:
        </label>
        <input class="inputfield" type="text" name="section1_topic" />
        </div>

        <div class="section">


<div class="buttonContainer">
        <div class="button">
          <input class="button1" type="button" id="more_fields" onclick="add_content6();">
          <img src="/down.png"/>
          Add content to this section
        </input>
      </div>

      <div class="button">
      <input class="button1" type="button" id="more_fields" onclick="add_section10();">
      <img src="/down.png"/>
      Add another section
      </input>
      </div>
</div>
          <div class="content">
            <div class="contentColumn" id="wrapper"></div>
          </div>
        </div>`
    }
  </script>
  <script>
    function add_section6() {
      document.getElementById('wrapper8').innerHTML +=
        `<div class="topic">
        <label>
        Section Topic 5:
        </label>
        <input class="inputfield" type="text" name="section1_topic" />
        </div>

        <div class="section">


<div class="buttonContainer">
        <div class="button">
          <input class="button1" type="button" id="more_fields" onclick="add_content5();">
          <img src="/down.png"/>
          Add content to this section
        </input>
      </div>

      <div class="button">
      <input class="button1" type="button" id="more_fields" onclick="add_section8();">
      <img src="/down.png"/>
      Add another section
      </input>
      </div>
</div>
          <div class="content">
            <div class="contentColumn" id="wrapper"></div>
          </div>
        </div>`
    }
  </script>
  <script>
    function add_section4() {
      document.getElementById('wrapper6').innerHTML +=
        `<div class="topic">
        <label>
        Section Topic 4:
        </label>
        <input class="inputfield" type="text" name="section1_topic" />
        </div>

        <div class="section">


<div class="buttonContainer">
        <div class="button">
          <input class="button1" type="button" id="more_fields" onclick="add_content4();">
          <img src="/down.png"/>
          Add content to this section
        </input>
      </div>

      <div class="button">
      <input class="button1" type="button" id="more_fields" onclick="add_section6();">
      <img src="/down.png"/>
      Add another section
      </input>
      </div>
</div>
          <div class="content">
            <div class="contentColumn" id="wrapper"></div>
          </div>
        </div>`
    }
  </script>
  <script>
    function add_section2() {
      document.getElementById('wrapper4').innerHTML +=
        `<div class="topic">
        <label>
        Section Topic 3:
        </label>
        <input class="inputfield" type="text" name="section1_topic" />
        </div>

        <div class="section">

<div class="buttonContainer">
        <div class="button">
          <input class="button1" type="button" id="more_fields" onclick="add_content3();">
          <img src="/down.png"/>
          Add content to this section
        </input>
      </div>



      <div class="button">
      <input class="button1" type="button" id="more_fields" onclick="add_section4();">
      <img src="/down.png"/>
      Add another section
      </input>
      </div>
      </div>

      <div class="content">
        <div class="contentColumn" id="wrapper3"></div>
      </div>
    </div>`
    }
  </script>
  <script>
    function add_section() {
      document.getElementById('wrapper2').innerHTML +=
        `<div class="topic">
        <label>
        Section Topic 2:
        </label>
        <input class="inputfield" type="text" name="section1_topic" />
        </div>

        <div class="section">

<div class="buttonContainer">
        <div class="button">
          <input class="button1" type="button" id="more_fields" onclick="add_content2();">
          <img src="/down.png"/>
          Add content to this section
        </input>
      </div>


      <div class="button">
      <input class="button1" type="button" id="more_fields" onclick="add_section2();">
      <img src="/down.png"/>
      Add another section
      </input>
      </div>
      </div>


                      <div class="content">
                        <div class="contentColumn" id="wrapper"></div>
                      </div>
                    </div>
`
    }
  </script>
  <script>
    function add_content10() {
      document.getElementById('wrapper19').innerHTML +=
        `<div class="contentColumn">
          <label>
            Title, Type or Author:
          </label>
          <input class="inputfield3" type="text" name="topic10" />
          <label>
            Content Text:
          </label>
          <textarea class="inputfield2" type="text" name="textarea10"></textarea>
        </div>`
    }
  </script>
  <script>
    function add_content9() {
      document.getElementById('wrapper17').innerHTML +=
        `<div class="contentColumn">
          <label>
            Title, Type or Author:
          </label>
          <input class="inputfield3" type="text" name="topic9" />
          <label>
            Content Text:
          </label>
          <textarea class="inputfield2" type="text" name="textarea9"></textarea>
        </div>`
    }
  </script>
  <script>
    function add_content8() {
      document.getElementById('wrapper15').innerHTML +=
        `<div class="contentColumn">
          <label>
            Title, Type or Author:
          </label>
          <input class="inputfield3" type="text" name="topic8" />
          <label>
            Content Text:
          </label>
          <textarea class="inputfield2" type="text" name="textarea8"></textarea>
        </div>`
    }
  </script>
  <script>
    function add_content7() {
      document.getElementById('wrapper13').innerHTML +=
        `<div class="contentColumn">
          <label>
            Title, Type or Author:
          </label>
          <input class="inputfield3" type="text" name="topic7" />
          <label>
            Content Text:
          </label>
          <textarea class="inputfield2" type="text" name="textarea7"></textarea>
        </div>`
    }
  </script>
  <script>
    function add_content6() {
      document.getElementById('wrapper11').innerHTML +=
        `<div class="contentColumn">
          <label>
            Title, Type or Author:
          </label>
          <input class="inputfield3" type="text" name="topic6" />
          <label>
            Content Text:
          </label>
          <textarea class="inputfield2" type="text" name="textarea6"></textarea>
        </div>`
    }
  </script>
  <script>
    function add_content5() {
      document.getElementById('wrapper9').innerHTML +=
        `<div class="contentColumn">
          <label>
            Title, Type or Author:
          </label>
          <input class="inputfield3" type="text" name="topic5" />
          <label>
            Content Text:
          </label>
          <textarea class="inputfield2" type="text" name="textarea5"></textarea>
        </div>`
    }
  </script>
  <script>
    function add_content4() {
      document.getElementById('wrapper7').innerHTML +=
        `<div class="contentColumn">
          <label>
            Title, Type or Author:
          </label>
          <input class="inputfield3" type="text" name="topic4" />
          <label>
            Content Text:
          </label>
          <textarea class="inputfield2" type="text" name="textarea4"></textarea>
        </div>`
    }
  </script>
  <script>
    function add_content3() {
      document.getElementById('wrapper5').innerHTML +=
        `<div class="contentColumn">
          <label>
            Title, Type or Author:
          </label>
          <input class="inputfield3" type="text" name="topic3" />
          <label>
            Content Text:
          </label>
          <textarea class="inputfield2" type="text" name="textarea3"></textarea>
        </div>`
    }
  </script>
  <script>
    function add_content2() {
      document.getElementById('wrapper3').innerHTML +=
        `<div class="contentColumn">
          <label>
            Title, Type or Author:
          </label>
          <input class="inputfield3" type="text" name="topic2" />
          <label>
            Content Text:
          </label>
          <textarea class="inputfield2" type="text" name="textarea2"></textarea>
        </div>`
    }
  </script>
  <script>
    function add_content() {
      document.getElementById('wrapper').innerHTML +=
        `<div class="contentColumn">
          <label>
            Title, Type or Author:
          </label>
          <input class="inputfield3" type="text" name="topic1" />
          <label>
            Content Text:
          </label>
          <textarea class="inputfield2" type="text" name="textarea1"></textarea>
        </div>`
    }
  </script>
</head>

<body>
  <div class="navbar">
  <img class="logo" src="/logo.png">
  <a class="link" href="/talkname">start a new talk</a>
  <a class="link2" href="/mytalks">organize a talk</a>
  <a class="link" href="/completed">view completed talks</a>
  <a class="link" href="/logout">logout</a>
  </div>

  <div class="bodywrapper4">

    <div class="navbar3">
      {{#talknames}}
    <a target="_blank" class="link4" href="http://www.dictionary.com/browse/{{talk_name}}?s=t"><img class="dict" src="/dictionary.png" />dictionary</a>
    <a target="_blank" class="link4" href="https://www.lds.org/search?lang=eng&query={{talk_name}}"><img class="lds" src="/lds.png" />lds.org</a>
    <a target="_blank" class="link4" href="https://speeches.byu.edu/search/?q=brave&submit=Submit#stq={{talk_name}}&stp=1"><img class="byu" src="/byu.png" />byu speeches</a>
    <a target="_blank" class="link4" href="https://rsc.byu.edu/search/site/{{talk_name}}"><img class="byu" src="/byu.png" />byu religious studies</a>
    <a target="_blank" class="link4" href="https://archive.bookofmormoncentral.org/search/site/{{talk_name}}"><img class="mormon" src="/mormon.png" />book of mormon central</a>
    {{/talknames}}
    </div>

<div class="bodywrapper6">
<form class="form1" action="/{{#talknames}}{{talk_name}}{{/talknames}}" method="post">

  {{#talknames}}<div class="labelContainer"><label>Talk Topic: </label><h2>{{talk_name}}</h2></div>{{/talknames}}
    <div class="talkHeader">
      <label>Talk Name:</label>

        <input class="inputfield" type="text" name="talk_topic" />
    </div>

    <div class="section">
      <div class="topic">
        <label>
              Section Topic 1:
            </label>
        <input class="inputfield" type="text" name="section1_topic" />
      </div>

      <div class="buttonContainer">
          <div class="button">
            <input class="button1" type="button" id="more_fields" onclick="add_content();">
            <img src="/down.png" /> Add content to this section
            </input>
          </div>

          <div class="button">
            <input class="button1" type="button" id="more_fields" onclick="add_section();">
            <img src="/down.png" /> Add another section
            </input>
          </div>
      </div>

    </div>

    <div class="content">
      <div class="contentColumn" id="wrapper"></div>
    </div>

    <div class="section" id="wrapper2">

    </div>

    <div class="content">
      <div class="contentColumn" id="wrapper3"></div>
    </div>



    <div class="section" id="wrapper4">

    </div>


    <div class="content">
      <div class="contentColumn" id="wrapper5"></div>
    </div>



    <div class="section" id="wrapper6"></div>

    <div class="content">
      <div class="contentColumn" id="wrapper7"></div>
    </div>

    <div class="section" id="wrapper8"></div>

    <div class="content">
      <div class="contentColumn" id="wrapper9"></div>
    </div>

    <div class="section" id="wrapper10"></div>

    <div class="content">
      <div class="contentColumn" id="wrapper11"></div>
    </div>

    <div class="section" id="wrapper12"></div>

    <div class="content">
      <div class="contentColumn" id="wrapper13"></div>
    </div>

    <div class="section" id="wrapper14"></div>

    <div class="content">
      <div class="contentColumn" id="wrapper15"></div>
    </div>

    <div class="section" id="wrapper16"></div>

    <div class="content">
      <div class="contentColumn" id="wrapper17"></div>
    </div>

    <div class="section" id="wrapper18"></div>

    <div class="content">
      <div class="contentColumn" id="wrapper19"></div>
    </div>

  <input class="submit" type="submit">
</form>
</div>
</div>
</body>

</html>
