<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>The Talk Maker</title>
  <link rel="stylesheet" href="/home.css">
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Volkhov" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <script>
    $(document).ready(function() {
      let yellowbtn = document.getElementById('yellowbtn');
      yellowbtn.onclick = searchtext;

      function searchtext() {
        if ($('#yellowsearch').val().length !== 0) {
          $('.verse_text, .collapse').each(function() {
            var search_value = $("#yellowsearch").val();
            var search_regexp = new RegExp(search_value, "g");
            $(this).html($(this).html().replace(search_regexp, "<span class = 'highlightyellow'>" + search_value + "</span>"));
          });
        }
      };
    });
  </script>
  <script>
    $(document).ready(function() {
      let orangebtn = document.getElementById('orangebtn');
      orangebtn.onclick = searchtext2;

      function searchtext2() {
        if ($('#orangesearch').val().length !== 0) {
          $('.verse_text, .collapse').each(function() {
            var search_value = $("#orangesearch").val();
            var search_regexp = new RegExp(search_value, "g");
            $(this).html($(this).html().replace(search_regexp, "<span class = 'highlightorange'>" + search_value + "</span>"));
          });
        }
      };
    });
  </script>

  <script>
    $(document).ready(function() {
      let redbtn = document.getElementById('redbtn');
      redbtn.onclick = searchtext3;

      function searchtext3() {
        if ($('#redsearch').val().length !== 0) {
          $('.verse_text, .collapse').each(function() {
            var search_value = $("#redsearch").val();
            var search_regexp = new RegExp(search_value, "g");
            $(this).html($(this).html().replace(search_regexp, "<span class = 'highlightred'>" + search_value + "</span>"));
          });
        }
      };
    });
  </script>

  <script>
    $(document).ready(function() {
      let greenbtn = document.getElementById('greenbtn');
      greenbtn.onclick = searchtext4;

      function searchtext4() {
        if ($('#greensearch').val().length !== 0) {
          $('.verse_text, .collapse').each(function() {
            var search_value = $("#greensearch").val();
            var search_regexp = new RegExp(search_value, "g");
            $(this).html($(this).html().replace(search_regexp, "<span class = 'highlightgreen'>" + search_value + "</span>"));
          });
        }
      };
    });
  </script>

  <script>
    $(document).ready(function() {
      let bluebtn = document.getElementById('bluebtn');
      bluebtn.onclick = searchtext5;

      function searchtext5() {
        if ($('#bluesearch').val().length !== 0) {
          $('.verse_text, .collapse').each(function() {
            var search_value = $("#bluesearch").val();
            var search_regexp = new RegExp(search_value, "g");
            $(this).html($(this).html().replace(search_regexp, "<span class = 'highlightblue'>" + search_value + "</span>"));
          });
        }
      };
    });
  </script>

  <script>
    $(document).ready(function() {
      let graybtn = document.getElementById('graybtn');
      graybtn.onclick = searchtext6;

      function searchtext6() {
        if ($('#graysearch').val().length !== 0) {
          $('.verse_text, .collapse').each(function() {
            var search_value = $("#graysearch").val();
            var search_regexp = new RegExp(search_value, "g");
            $(this).html($(this).html().replace(search_regexp, "<span class = 'highlightgray'>" + search_value + "</span>"));
          });
        }
      };
    });
  </script>

  <script>
    $(document).ready(function() {
      let pinkbtn = document.getElementById('pinkbtn');
      pinkbtn.onclick = searchtext7;

      function searchtext7() {
        if ($('#pinksearch').val().length !== 0) {
          $('.verse_text, .collapse').each(function() {
            var search_value = $("#pinksearch").val();
            var search_regexp = new RegExp(search_value, "g");
            $(this).html($(this).html().replace(search_regexp, "<span class = 'highlightpink'>" + search_value + "</span>"));
          });
        }
      };
    });
  </script>

  <script>
    $(document).ready(function() {
      let purplebtn = document.getElementById('purplebtn');
      purplebtn.onclick = searchtext8;

      function searchtext8() {
        if ($('#purplesearch').val().length !== 0) {
          $('.verse_text, .collapse').each(function() {
            var search_value = $("#purplesearch").val();
            var search_regexp = new RegExp(search_value, "g");
            $(this).html($(this).html().replace(search_regexp, "<span class = 'highlightpurple'>" + search_value + "</span>"));
          });
        }
      };
    });
  </script>

  <script>
    $(document).ready(function() {
      console.log("talking");

      let searchInput = document.getElementById('searchInput');
      let genconf = document.getElementById('genconf');
      genconf.onclick = searchgenconf;
      console.log(searchInput);
      console.log(genconf);


      function searchgenconf() {

        let searchResults = searchInput.value;

        var str = searchInput.value;

        var mapObj = {
          "the gathering of israel" : "gatheringofisrael",
          "gathering of israel" : "gatheringofisrael",
          "the gathering" : "gatheringofisrael",
          "the lords covenant people" : "lordscovenantpeople",
          "abrahamic covenant" : "lordscovenantpeople",
          "covenant of abraham" : "lordscovenantpeople",
          "eternal life and exaltation" : "exaltation",
          "exalted" : "exaltation",
          "exaltation" : "exaltation",
          "patience" : "patience",
          "enduring" : "patience",
          "endure to the end" : "patience",
          "the final judgement" : "finaljudgement",
          "final judgement" : "finaljudgement",
          "judgement day" : "finaljudgement",
          "judgement" : "finaljudgement",
          "sabbath day" : "sabbathday",
          "sabbath" : "sabbathday",
          "the sabbath day" : "sabbathday",
          "the sabbath" : "sabbathday",
          "developing talents" : "talents",
          "talents" : "talents",
          "talent" : "talents",
          "animal sacrifices" : "sacrifice",
          "sacrifices" : "sacrifice",
          "sacrifice" : "sacrifice",
          "thankful": "gratitude",
          "thanks": "gratitude",
          "grateful": "gratitude",
          "gratitude": "gratitude",
          "agency": "agency",
          "free agency": "agency",
          "the atonement": "atonement",
          "baptize": "baptism",
          "book of mormon": "bookofmormon",
          "love": "charity",
          "charitable": "charity",
          "pure love": "charity",
          "pure love of christ": "charity",
          "created": "creation",
          "religion": "church",
          "church organization": "church",
          "d&c": "doctrinecovenants",
          "events": "events",
          "heavenly father": "god",
          "father in heaven": "god",
          "god the father": "god",
          "father": "god",
          "belief": "faith",
          "hope": "faith",
          "holy spirit": "holyghost",
          "holy ghost": "holyghost",
          "the holy ghost": "holyghost",
          "spirit": "holyghost",
          "the spirit": "holyghost",
          "honesty": "honesty",
          "honest": "honesty",
          "lie": "honesty",
          "steal": "honesty",
          "integrity": "honesty",
          "bible": "newtestament",
          "new testament": "newtestament",
          "obedience": "obedience",
          "follow": "obedience",
          "submission": "obedience",
          "submissive": "obedience",
          "old testament": "oldtestament",
          "people": "people",
          "melchizedek priesthood": "priesthood",
          "aaronic priesthood": "priesthood",
          "melchizedek": "priesthood",
          "aaronic": "priesthood",
          "prophets of god": "prophets",
          "prophet": "prophets",
          "prophets": "prophets",
          "repent": "repentence",
          "repentance": "repentence",
          "forgiveness": "repentence",
          "bread and water": "sacrament",
          "the sacrament": "sacrament",
          "scripture": "scriptures",
          "scriptures": "scriptures",
          "the scriptures": "scriptures",
          "word of god": "scriptures",
          "labor": "service",
          "work": "service",
          "responsibility": "service",
          "personal responsibility": "service",
          "fall of man": "thefall",
          "the fall": "thefall",
          "fall of mankind": "thefall",
          "fall": "thefall",
          "jesus christ": "jesus",
          "christ": "jesus",
          "savior": "jesus",
          "redeemer": "jesus",
          "lord": "jesus",
          "fall of adam": "thefall",
          "garden of eden": "thefall",
          "lucifer": "thefall",
          "original sin": "thefall",
          "law of health": "wordofwisdom",
          "word of wisdom": "wordofwisdom",
          "apostles": "apostle",
          "the godhead": "godhead",
          "revelation": "testimony",
          "truth": "testimony",
          "testify": "testimony",
          "conversion": "testimony",
          "devil": "hell",
          "satan": "hell",
          "damnation": "hell",
          "torment": "hell",
          "eternal marriage": "marriage",
          "temple marriage": "marriage",
          "fire and brimstone": "hell",
          "celestial kingdom": "heaven",
          "plan of salvation": "heaven",
          "telestial": "heaven",
          "exaltation": "heaven",
          "immortality": "heaven",
          "eternal life": "heaven",
          "three degrees of glory": "heaven",
          "missionaries": "missionary",
          "preach": "missionary",
          "preaching": "missionary",
          "missionary work": "missionary",
          "christmas": "nativity",
          "church history": "pioneer",
          "pioneers": "pioneer",
          "handcarts": "pioneer",
          "nauvoo": "pioneer",
          "premortal existence": "premortal",
          "council in heaven": "premortal",
          "premortal life": "premortal",
          "war in heaven": "premortal",
          "easter": "resurrection",
          "resurrected": "resurrection",
          "crucifixion": "resurrection",
          "cross": "resurrection",
          "the resurrection": "resurrection",
          "woman": "women",
          "widow": "women",
          "mary": "women",
          "mothers": "women",
          "mother": "women",
          "motherhood": "women",
          "daughter": "women",
          "daughters": "women",
          "relief society": "women",
          "daughters of god": "women",
          "the great apostasy": "apostasy",
          "restoration": "apostasy",
          "first vision": "apostasy",
          "the first vision": "apostasy",
          "the restoration": "apostasy",
          "apostasy and restoration": "apostasy",
          "first vision": "apostasy",
          "family home evening": "family",
          "family prayer": "family",
          "eternal family": "family",
          "virtue": "chastity",
          "chaste": "chastity",
          "virtuous": "chastity",
          "child": "children",
          "primary": "children",
          "primary children": "children",
          "covenant": "covenants",
          "temple covenant": "covenants",
          "temple covenants": "covenants",
          "baptismal covenant": "covenants",
          "baptismal covenants": "covenants",
          "life after death": "death",
          "die": "death",
          "mortality": "death",
          "family history": "genealogy",
          "ancestors": "genealogy",
          "family tree": "genealogy",
          "spiritual gifts": "giftsofthespirit",
          "gifts of the spirit": "giftsofthespirit",
          "good news": "gospel",
          "good news of the gospel": "gospel",
          "the gospel": "gospel",
          "gospel": "gospel",
          "plan of salvation": "gospel",
          "the plan of salvation": "gospel",
          "happy": "happiness",
          "joy": "happiness",
          "plan of happiness": "happiness",
          "miracle": "miracles",
          "brigham young": "brighamyoung",
          "brigham": "brighamyoung",
          "davdid bednar": "dabednar",
          "bednar": "dabednar",
          "davdid a. bednar": "dabednar",
          "daivd o mckay": "davidomckay",
          "daivd o. mckay": "davidomckay",
          "uchtdorf": "dfuchtdorf",
          "dieter uchtdorf": "dfuchtdorf",
          "dieter f. uchtdorf": "dfuchtdorf",
          "renlund": "dgrenlund",
          "dale g. renlund": "dgrenlund",
          "oaks": "dhoaks",
          "dallin h. oaks": "dhoaks",
          "D. Todd Christofferson": "dtchristofferson",
          "Christofferson": "dtchristofferson",
          "benson": "ezrataftbenson",
          "ezra taft benson": "ezrataftbenson",
          "benson": "ezrataftbenson",
          "george a. smith": "georgeasmith",
          "george albert smith": "georgeasmith",
          "gary e. stevenson": "gestevenson",
          "gordon b. hinckley": "gordonbhinckley",
          "hinckley": "gordonbhinckley",
          "harold b. lee": "haroldblee",
          "eyring": "hbeyring",
          "henry b. eyring": "hbeyring",
          "grant": "heberjgrant",
          "heber j. grant": "heberjgrant",
          "howard w. hunter": "howardwhunter",
          "hunter": "howardwhunter",
          "john taylor": "johntaylor",
          "joseph fielding smith": "josephfieldingsmith",
          "joseph f. smith": "josephfsmith",
          "joseph smith": "josephsmith",
          "joseph": "josephsmith",
          "jeffrey r. holland": "jrholland",
          "holland": "jrholland",
          "lorenzo snow": "lorenzosnow",
          "snow": "lorenzosnow",
          "m. russell ballard": "mrballard",
          "ballard": "mrballard",
          "neil l. anderson": "nlanderson",
          "quentin l. cook": "qlcook",
          "rasband": "rarasband",
          "ronald a. rasband": "rarasband",
          "russell m. nelson": "rmnelson",
          "nelson": "rmnelson",
          "spencer w. kimball": "spencerkimball",
          "thomas s. monson": "tsmonson",
          "monson": "tsmonson",
          "woodruff": "wilfordwoodruff",
          "wilford woodruff": "wilfordwoodruff",
          "self reliance": "selfreliance",
          "self-reliance": "selfreliance",
          "second coming": "secondcoming",
          "the second coming": "secondcoming",
          "miracles": "miracles",
          "miracle": "miracles",
        };
        var re = new RegExp(Object.keys(mapObj).join("|"), "gi");
        str = str.replace(re, function(matched) {
          return mapObj[matched.toLowerCase()];
        });


        fetch('https://presentation-maker.herokuapp.com/api/genconf/' + str).then(function(response) {
          if (response.status != 200) {
            window.alert("Sorry, nothing matches those search terms.  Try another search, or use the panel on the left.");
            return;
          }

          response.json().then(function(data) {
            let api = data;

            for (var i = 0; i < 1; i++) {
              let api = data;


              let markup =
                `
          <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#three">
          <p class="gencontitle1">${data[0].talk_title}</p>
          <div class="gencontitlecontainer">
          <p class="genconyear1">${data[0].year}</p>
          <p class="genconauthor1">${data[0].author}</p>
          </div>
          </button>
          <div id="three" class="collapse">
          <p class="genconyear2">${data[0].year}</p>
          <p class="gencontitle2">${data[0].talk_title}</p>
          <p class="genconauthor2">${data[0].author}</p>
          <p class="genconposition">${data[0].position}</p>


          <p class="genconpara">${data[0].paragraph1}</p>
          <p class="genconpara">${data[0].paragraph2}</p>
          <p class="genconpara">${data[0].paragraph3}</p>
          <p class="genconpara">${data[0].paragraph4}</p>
          <p class="genconpara">${data[0].paragraph5}</p>
          <p class="genconpara">${data[0].paragraph6}</p>
          <p class="genconpara">${data[0].paragraph7}</p>
          <p class="genconpara">${data[0].paragraph8}</p>
          <p class="genconpara">${data[0].paragraph9}</p>
          <p class="genconpara">${data[0].paragraph10}</p>
          </div>

          <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#four">
          <p class="gencontitle1">${data[1].talk_title}</p>
          <div class="gencontitlecontainer">
          <p class="genconyear1">${data[1].year}</p>
          <p class="genconauthor1">${data[1].author}</p>
          </div>
          </button>
          <div id="four" class="collapse">
          <p class="genconyear2">${data[1].year}</p>
          <p class="gencontitle2">${data[1].talk_title}</p>
          <p class="genconauthor2">${data[1].author}</p>
          <p class="genconposition">${data[1].position}</p>


          <p class="genconpara">${data[1].paragraph1}</p>
          <p class="genconpara">${data[1].paragraph2}</p>
          <p class="genconpara">${data[1].paragraph3}</p>
          <p class="genconpara">${data[1].paragraph4}</p>
          <p class="genconpara">${data[1].paragraph5}</p>
          <p class="genconpara">${data[1].paragraph6}</p>
          <p class="genconpara">${data[1].paragraph7}</p>
          <p class="genconpara">${data[1].paragraph8}</p>
          <p class="genconpara">${data[1].paragraph9}</p>
          <p class="genconpara">${data[1].paragraph10}</p>
          </div>

          <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#five">
          <p class="gencontitle1">${data[2].talk_title}</p>
          <div class="gencontitlecontainer">
          <p class="genconyear1">${data[2].year}</p>
          <p class="genconauthor1">${data[2].author}</p>
          </button>
          <div id="five" class="collapse">
          <p class="genconyear2">${data[2].year}</p>
          <p class="gencontitle2">${data[2].talk_title}</p>
          <p class="genconauthor2">${data[2].author}</p>
          <p class="genconposition">${data[2].position}</p>


          <p class="genconpara">${data[2].paragraph1}</p>
          <p class="genconpara">${data[2].paragraph2}</p>
          <p class="genconpara">${data[2].paragraph3}</p>
          <p class="genconpara">${data[2].paragraph4}</p>
          <p class="genconpara">${data[2].paragraph5}</p>
          <p class="genconpara">${data[2].paragraph6}</p>
          <p class="genconpara">${data[2].paragraph7}</p>
          <p class="genconpara">${data[2].paragraph8}</p>
          <p class="genconpara">${data[2].paragraph9}</p>
          <p class="genconpara">${data[2].paragraph10}</p>
          </div>

          <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#six">
          <p class="gencontitle1">${data[3].talk_title}</p>
          <div class="gencontitlecontainer">
          <p class="genconyear1">${data[3].year}</p>
          <p class="genconauthor1">${data[3].author}</p>
          </button>
          <div id="six" class="collapse">
          <p class="genconyear2">${data[3].year}</p>
          <p class="gencontitle2">${data[3].talk_title}</p>
          <p class="genconauthor2">${data[3].author}</p>
          <p class="genconposition">${data[3].position}</p>


          <p class="genconpara">${data[3].paragraph1}</p>
          <p class="genconpara">${data[3].paragraph2}</p>
          <p class="genconpara">${data[3].paragraph3}</p>
          <p class="genconpara">${data[3].paragraph4}</p>
          <p class="genconpara">${data[3].paragraph5}</p>
          <p class="genconpara">${data[3].paragraph6}</p>
          <p class="genconpara">${data[3].paragraph7}</p>
          <p class="genconpara">${data[3].paragraph8}</p>
          <p class="genconpara">${data[3].paragraph9}</p>
          <p class="genconpara">${data[3].paragraph10}</p>
          </div>

          <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#seven">
          <p class="gencontitle1">${data[4].talk_title}</p>
          <div class="gencontitlecontainer">
          <p class="genconyear1">${data[4].year}</p>
          <p class="genconauthor1">${data[4].author}</p>
          </button>
          <div id="seven" class="collapse">
          <p class="genconyear2">${data[4].year}</p>
          <p class="gencontitle2">${data[4].talk_title}</p>
          <p class="genconauthor2">${data[4].author}</p>
          <p class="genconposition">${data[4].position}</p>


          <p class="genconpara">${data[4].paragraph1}</p>
          <p class="genconpara">${data[4].paragraph2}</p>
          <p class="genconpara">${data[4].paragraph3}</p>
          <p class="genconpara">${data[4].paragraph4}</p>
          <p class="genconpara">${data[4].paragraph5}</p>
          <p class="genconpara">${data[4].paragraph6}</p>
          <p class="genconpara">${data[4].paragraph7}</p>
          <p class="genconpara">${data[4].paragraph8}</p>
          <p class="genconpara">${data[4].paragraph9}</p>
          <p class="genconpara">${data[4].paragraph10}</p>
          </div>



             `




              document.getElementById('updatediv2').innerHTML = markup;
            }
          })
        })
      }



    })
  </script>

  <script>
    $(document).ready(function() {
      console.log("talking");

      let searchInput = document.getElementById('searchInput');
      let moderndef = document.getElementById('moderndef');
      moderndef.onclick = searchAPI;
      console.log(searchInput);
      console.log(moderndef);



      function searchAPI() {

        let searchResults = searchInput.value;

        var str = searchInput.value;

        var mapObj = {
          "the gathering of israel" : "gatheringofisrael",
          "gathering of israel" : "gatheringofisrael",
          "the gathering" : "gatheringofisrael",
          "the lords covenant people" : "lordscovenantpeople",
          "abrahamic covenant" : "lordscovenantpeople",
          "covenant of abraham" : "lordscovenantpeople",
          "eternal life and exaltation" : "exaltation",
          "exalted" : "exaltation",
          "exaltation" : "exaltation",
          "patience" : "patience",
          "enduring" : "patience",
          "endure to the end" : "patience",
          "the final judgement" : "finaljudgement",
          "final judgement" : "finaljudgement",
          "judgement day" : "finaljudgement",
          "judgement" : "finaljudgement",
          "sabbath day" : "sabbathday",
          "sabbath" : "sabbathday",
          "the sabbath day" : "sabbathday",
          "the sabbath" : "sabbathday",
          "developing talents" : "talents",
          "talents" : "talents",
          "talent" : "talents",
          "animal sacrifices" : "sacrifice",
          "sacrifices" : "sacrifice",
          "sacrifice" : "sacrifice",
          "thankful": "gratitude",
          "thanks": "gratitude",
          "grateful": "gratitude",
          "gratitude": "gratitude",
          "agency": "agency",
          "free agency": "agency",
          "the atonement": "atonement",
          "baptize": "baptism",
          "book of mormon": "bookofmormon",
          "love": "charity",
          "charitable": "charity",
          "pure love": "charity",
          "pure love of christ": "charity",
          "created": "creation",
          "religion": "church",
          "church organization": "church",
          "d&c": "doctrinecovenants",
          "events": "events",
          "heavenly father": "god",
          "father in heaven": "god",
          "god the father": "god",
          "father": "god",
          "belief": "faith",
          "hope": "faith",
          "holy spirit": "holyghost",
          "holy ghost": "holyghost",
          "the holy ghost": "holyghost",
          "spirit": "holyghost",
          "the spirit": "holyghost",
          "honesty": "honesty",
          "honest": "honesty",
          "lie": "honesty",
          "steal": "honesty",
          "integrity": "honesty",
          "bible": "newtestament",
          "new testament": "newtestament",
          "obedience": "obedience",
          "follow": "obedience",
          "submission": "obedience",
          "submissive": "obedience",
          "old testament": "oldtestament",
          "people": "people",
          "melchizedek priesthood": "priesthood",
          "aaronic priesthood": "priesthood",
          "melchizedek": "priesthood",
          "aaronic": "priesthood",
          "prophets of god": "prophets",
          "prophet": "prophets",
          "prophets": "prophets",
          "repent": "repentence",
          "repentance": "repentence",
          "forgiveness": "repentence",
          "bread and water": "sacrament",
          "the sacrament": "sacrament",
          "scripture": "scriptures",
          "scriptures": "scriptures",
          "the scriptures": "scriptures",
          "word of god": "scriptures",
          "labor": "service",
          "work": "service",
          "responsibility": "service",
          "personal responsibility": "service",
          "fall of man": "thefall",
          "the fall": "thefall",
          "fall of mankind": "thefall",
          "fall": "thefall",
          "jesus christ": "jesus",
          "christ": "jesus",
          "savior": "jesus",
          "redeemer": "jesus",
          "lord": "jesus",
          "fall of adam": "thefall",
          "garden of eden": "thefall",
          "lucifer": "thefall",
          "original sin": "thefall",
          "law of health": "wordofwisdom",
          "word of wisdom": "wordofwisdom",
          "apostles": "apostle",
          "the godhead": "godhead",
          "revelation": "testimony",
          "truth": "testimony",
          "testify": "testimony",
          "conversion": "testimony",
          "devil": "hell",
          "satan": "hell",
          "damnation": "hell",
          "torment": "hell",
          "eternal marriage": "marriage",
          "temple marriage": "marriage",
          "fire and brimstone": "hell",
          "celestial kingdom": "heaven",
          "plan of salvation": "heaven",
          "telestial": "heaven",
          "exaltation": "heaven",
          "immortality": "heaven",
          "eternal life": "heaven",
          "three degrees of glory": "heaven",
          "missionaries": "missionary",
          "preach": "missionary",
          "preaching": "missionary",
          "missionary work": "missionary",
          "christmas": "nativity",
          "church history": "pioneer",
          "pioneers": "pioneer",
          "handcarts": "pioneer",
          "nauvoo": "pioneer",
          "premortal existence": "premortal",
          "council in heaven": "premortal",
          "premortal life": "premortal",
          "war in heaven": "premortal",
          "easter": "resurrection",
          "resurrected": "resurrection",
          "crucifixion": "resurrection",
          "cross": "resurrection",
          "the resurrection": "resurrection",
          "woman": "women",
          "widow": "women",
          "mary": "women",
          "mothers": "women",
          "mother": "women",
          "motherhood": "women",
          "daughter": "women",
          "daughters": "women",
          "relief society": "women",
          "daughters of god": "women",
          "the great apostasy": "apostasy",
          "restoration": "apostasy",
          "first vision": "apostasy",
          "the first vision": "apostasy",
          "the restoration": "apostasy",
          "apostasy and restoration": "apostasy",
          "first vision": "apostasy",
          "family home evening": "family",
          "family prayer": "family",
          "eternal family": "family",
          "virtue": "chastity",
          "chaste": "chastity",
          "virtuous": "chastity",
          "child": "children",
          "primary": "children",
          "primary children": "children",
          "covenant": "covenants",
          "temple covenant": "covenants",
          "temple covenants": "covenants",
          "baptismal covenant": "covenants",
          "baptismal covenants": "covenants",
          "life after death": "death",
          "die": "death",
          "mortality": "death",
          "family history": "genealogy",
          "ancestors": "genealogy",
          "family tree": "genealogy",
          "spiritual gifts": "giftsofthespirit",
          "gifts of the spirit": "giftsofthespirit",
          "good news": "gospel",
          "good news of the gospel": "gospel",
          "the gospel": "gospel",
          "gospel": "gospel",
          "plan of salvation": "gospel",
          "the plan of salvation": "gospel",
          "happy": "happiness",
          "joy": "happiness",
          "plan of happiness": "happiness",
          "miracle": "miracles",
          "brigham young": "brighamyoung",
          "brigham": "brighamyoung",
          "davdid bednar": "dabednar",
          "bednar": "dabednar",
          "davdid a. bednar": "dabednar",
          "daivd o mckay": "davidomckay",
          "daivd o. mckay": "davidomckay",
          "uchtdorf": "dfuchtdorf",
          "dieter uchtdorf": "dfuchtdorf",
          "dieter f. uchtdorf": "dfuchtdorf",
          "renlund": "dgrenlund",
          "dale g. renlund": "dgrenlund",
          "oaks": "dhoaks",
          "dallin h. oaks": "dhoaks",
          "D. Todd Christofferson": "dtchristofferson",
          "Christofferson": "dtchristofferson",
          "benson": "ezrataftbenson",
          "ezra taft benson": "ezrataftbenson",
          "benson": "ezrataftbenson",
          "george a. smith": "georgeasmith",
          "george albert smith": "georgeasmith",
          "gary e. stevenson": "gestevenson",
          "gordon b. hinckley": "gordonbhinckley",
          "hinckley": "gordonbhinckley",
          "harold b. lee": "haroldblee",
          "eyring": "hbeyring",
          "henry b. eyring": "hbeyring",
          "grant": "heberjgrant",
          "heber j. grant": "heberjgrant",
          "howard w. hunter": "howardwhunter",
          "hunter": "howardwhunter",
          "john taylor": "johntaylor",
          "joseph fielding smith": "josephfieldingsmith",
          "joseph f. smith": "josephfsmith",
          "joseph smith": "josephsmith",
          "joseph": "josephsmith",
          "jeffrey r. holland": "jrholland",
          "holland": "jrholland",
          "lorenzo snow": "lorenzosnow",
          "snow": "lorenzosnow",
          "m. russell ballard": "mrballard",
          "ballard": "mrballard",
          "neil l. anderson": "nlanderson",
          "quentin l. cook": "qlcook",
          "rasband": "rarasband",
          "ronald a. rasband": "rarasband",
          "russell m. nelson": "rmnelson",
          "nelson": "rmnelson",
          "spencer w. kimball": "spencerkimball",
          "thomas s. monson": "tsmonson",
          "monson": "tsmonson",
          "woodruff": "wilfordwoodruff",
          "wilford woodruff": "wilfordwoodruff",
          "self reliance": "selfreliance",
          "self-reliance": "selfreliance",
          "second coming": "secondcoming",
          "the second coming": "secondcoming",
          "miracles": "miracles",
          "miracle": "miracles",
        };
        var re = new RegExp(Object.keys(mapObj).join("|"), "gi");
        str = str.replace(re, function(matched) {
          return mapObj[matched.toLowerCase()];
        });


        fetch('https://presentation-maker.herokuapp.com/api/def/' + str).then(function(response) {
          if (response.status != 200) {
            window.alert("Sorry, nothing matches those search terms.  Try another search, or use the panel on the left.");
            return;
          }

          response.json().then(function(data) {
            let api = data;

            function renderapis() {

              return `${api.map(api =>
            `

            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#one">
            <p>Dictionary Definition</p>
            </button>
            <div id="one" class="collapse">
            <p class="genconpara">${api.modern_def}</p>
            </div>
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#two">
            <p>Encyclopedia of Mormonism</p>
            </button>
            <div id="two" class="collapse">
            <p class="genconpara">${api.encyclo}</p>
            </div>
            `
            )}
            `

            }

            let markup = `${renderapis()}`;
            document.getElementById('updatediv3').innerHTML = markup;
            console.log(markup);
          })
        })
      }



    })
  </script>

  <script>
    $(document).ready(function() {
      console.log("talking");

      let searchInput = document.getElementById('searchInput');
      let bofmSearch = document.getElementById('bofmSearch');
      bofmSearch.onclick = searchAPI;
      console.log(searchInput);
      console.log(bofmSearch);



      function searchAPI() {

        let searchResults = searchInput.value;

        var str = searchInput.value;

        var mapObj = {
          "the gathering of israel" : "gatheringofisrael",
          "gathering of israel" : "gatheringofisrael",
          "the gathering" : "gatheringofisrael",
          "the lords covenant people" : "lordscovenantpeople",
          "abrahamic covenant" : "lordscovenantpeople",
          "covenant of abraham" : "lordscovenantpeople",
          "eternal life and exaltation" : "exaltation",
          "exalted" : "exaltation",
          "exaltation" : "exaltation",
          "patience" : "patience",
          "enduring" : "patience",
          "endure to the end" : "patience",
          "the final judgement" : "finaljudgement",
          "final judgement" : "finaljudgement",
          "judgement day" : "finaljudgement",
          "judgement" : "finaljudgement",
          "sabbath day" : "sabbathday",
          "sabbath" : "sabbathday",
          "the sabbath day" : "sabbathday",
          "the sabbath" : "sabbathday",
          "developing talents" : "talents",
          "talents" : "talents",
          "talent" : "talents",
          "animal sacrifices" : "sacrifice",
          "sacrifices" : "sacrifice",
          "sacrifice" : "sacrifice",
          "thankful": "gratitude",
          "thanks": "gratitude",
          "grateful": "gratitude",
          "gratitude": "gratitude",
          "agency": "agency",
          "free agency": "agency",
          "the atonement": "atonement",
          "baptize": "baptism",
          "book of mormon": "bookofmormon",
          "love": "charity",
          "charitable": "charity",
          "pure love": "charity",
          "pure love of christ": "charity",
          "created": "creation",
          "religion": "church",
          "church organization": "church",
          "d&c": "doctrinecovenants",
          "events": "events",
          "heavenly father": "god",
          "father in heaven": "god",
          "god the father": "god",
          "father": "god",
          "belief": "faith",
          "hope": "faith",
          "holy spirit": "holyghost",
          "holy ghost": "holyghost",
          "the holy ghost": "holyghost",
          "spirit": "holyghost",
          "the spirit": "holyghost",
          "honesty": "honesty",
          "honest": "honesty",
          "lie": "honesty",
          "steal": "honesty",
          "integrity": "honesty",
          "bible": "newtestament",
          "new testament": "newtestament",
          "obedience": "obedience",
          "follow": "obedience",
          "submission": "obedience",
          "submissive": "obedience",
          "old testament": "oldtestament",
          "people": "people",
          "melchizedek priesthood": "priesthood",
          "aaronic priesthood": "priesthood",
          "melchizedek": "priesthood",
          "aaronic": "priesthood",
          "prophets of god": "prophets",
          "prophet": "prophets",
          "prophets": "prophets",
          "repent": "repentence",
          "repentance": "repentence",
          "forgiveness": "repentence",
          "bread and water": "sacrament",
          "the sacrament": "sacrament",
          "scripture": "scriptures",
          "scriptures": "scriptures",
          "the scriptures": "scriptures",
          "word of god": "scriptures",
          "labor": "service",
          "work": "service",
          "responsibility": "service",
          "personal responsibility": "service",
          "fall of man": "thefall",
          "the fall": "thefall",
          "fall of mankind": "thefall",
          "fall": "thefall",
          "jesus christ": "jesus",
          "christ": "jesus",
          "savior": "jesus",
          "redeemer": "jesus",
          "lord": "jesus",
          "fall of adam": "thefall",
          "garden of eden": "thefall",
          "lucifer": "thefall",
          "original sin": "thefall",
          "law of health": "wordofwisdom",
          "word of wisdom": "wordofwisdom",
          "apostles": "apostle",
          "the godhead": "godhead",
          "revelation": "testimony",
          "truth": "testimony",
          "testify": "testimony",
          "conversion": "testimony",
          "devil": "hell",
          "satan": "hell",
          "damnation": "hell",
          "torment": "hell",
          "eternal marriage": "marriage",
          "temple marriage": "marriage",
          "fire and brimstone": "hell",
          "celestial kingdom": "heaven",
          "plan of salvation": "heaven",
          "telestial": "heaven",
          "exaltation": "heaven",
          "immortality": "heaven",
          "eternal life": "heaven",
          "three degrees of glory": "heaven",
          "missionaries": "missionary",
          "preach": "missionary",
          "preaching": "missionary",
          "missionary work": "missionary",
          "christmas": "nativity",
          "church history": "pioneer",
          "pioneers": "pioneer",
          "handcarts": "pioneer",
          "nauvoo": "pioneer",
          "premortal existence": "premortal",
          "council in heaven": "premortal",
          "premortal life": "premortal",
          "war in heaven": "premortal",
          "easter": "resurrection",
          "resurrected": "resurrection",
          "crucifixion": "resurrection",
          "cross": "resurrection",
          "the resurrection": "resurrection",
          "woman": "women",
          "widow": "women",
          "mary": "women",
          "mothers": "women",
          "mother": "women",
          "motherhood": "women",
          "daughter": "women",
          "daughters": "women",
          "relief society": "women",
          "daughters of god": "women",
          "the great apostasy": "apostasy",
          "restoration": "apostasy",
          "first vision": "apostasy",
          "the first vision": "apostasy",
          "the restoration": "apostasy",
          "apostasy and restoration": "apostasy",
          "first vision": "apostasy",
          "family home evening": "family",
          "family prayer": "family",
          "eternal family": "family",
          "virtue": "chastity",
          "chaste": "chastity",
          "virtuous": "chastity",
          "child": "children",
          "primary": "children",
          "primary children": "children",
          "covenant": "covenants",
          "temple covenant": "covenants",
          "temple covenants": "covenants",
          "baptismal covenant": "covenants",
          "baptismal covenants": "covenants",
          "life after death": "death",
          "die": "death",
          "mortality": "death",
          "family history": "genealogy",
          "ancestors": "genealogy",
          "family tree": "genealogy",
          "spiritual gifts": "giftsofthespirit",
          "gifts of the spirit": "giftsofthespirit",
          "good news": "gospel",
          "good news of the gospel": "gospel",
          "the gospel": "gospel",
          "gospel": "gospel",
          "plan of salvation": "gospel",
          "the plan of salvation": "gospel",
          "happy": "happiness",
          "joy": "happiness",
          "plan of happiness": "happiness",
          "miracle": "miracles",
          "brigham young": "brighamyoung",
          "brigham": "brighamyoung",
          "davdid bednar": "dabednar",
          "bednar": "dabednar",
          "davdid a. bednar": "dabednar",
          "daivd o mckay": "davidomckay",
          "daivd o. mckay": "davidomckay",
          "uchtdorf": "dfuchtdorf",
          "dieter uchtdorf": "dfuchtdorf",
          "dieter f. uchtdorf": "dfuchtdorf",
          "renlund": "dgrenlund",
          "dale g. renlund": "dgrenlund",
          "oaks": "dhoaks",
          "dallin h. oaks": "dhoaks",
          "D. Todd Christofferson": "dtchristofferson",
          "Christofferson": "dtchristofferson",
          "benson": "ezrataftbenson",
          "ezra taft benson": "ezrataftbenson",
          "benson": "ezrataftbenson",
          "george a. smith": "georgeasmith",
          "george albert smith": "georgeasmith",
          "gary e. stevenson": "gestevenson",
          "gordon b. hinckley": "gordonbhinckley",
          "hinckley": "gordonbhinckley",
          "harold b. lee": "haroldblee",
          "eyring": "hbeyring",
          "henry b. eyring": "hbeyring",
          "grant": "heberjgrant",
          "heber j. grant": "heberjgrant",
          "howard w. hunter": "howardwhunter",
          "hunter": "howardwhunter",
          "john taylor": "johntaylor",
          "joseph fielding smith": "josephfieldingsmith",
          "joseph f. smith": "josephfsmith",
          "joseph smith": "josephsmith",
          "joseph": "josephsmith",
          "jeffrey r. holland": "jrholland",
          "holland": "jrholland",
          "lorenzo snow": "lorenzosnow",
          "snow": "lorenzosnow",
          "m. russell ballard": "mrballard",
          "ballard": "mrballard",
          "neil l. anderson": "nlanderson",
          "quentin l. cook": "qlcook",
          "rasband": "rarasband",
          "ronald a. rasband": "rarasband",
          "russell m. nelson": "rmnelson",
          "nelson": "rmnelson",
          "spencer w. kimball": "spencerkimball",
          "thomas s. monson": "tsmonson",
          "monson": "tsmonson",
          "woodruff": "wilfordwoodruff",
          "wilford woodruff": "wilfordwoodruff",
          "self reliance": "selfreliance",
          "self-reliance": "selfreliance",
          "second coming": "secondcoming",
          "the second coming": "secondcoming",
          "miracles": "miracles",
          "miracle": "miracles",
        };
        var re = new RegExp(Object.keys(mapObj).join("|"), "gi");
        str = str.replace(re, function(matched) {
          return mapObj[matched.toLowerCase()];
        });


        fetch('https://presentation-maker.herokuapp.com/api/scriptures/' + str).then(function(response) {
          if (response.status != 200) {
            window.alert("Sorry, nothing matches those search terms.  Try another search, or use the panel on the left.");
            return;
          }

          response.json().then(function(data) {
            let api = data;

            function renderapis() {

              return `${api.map(api =>
            `<div class="main">
            <p class="book_verse">${api.book_and_verse_number}</p>
            <p class="verse_text">${api.verse_text}</p>
            </div>
            `
            )}
            `

            }

            let markup = `${renderapis()}`;
            document.getElementById('updatediv1').innerHTML = markup;
            console.log(markup);
          })
        })
      }



    })
  </script>



  <script>
    $(window).load(function() {
      $("#scripture_highlighter").hide();
    })
  </script>
  <script>
    $(document).ready(function() {
      $("#bofmSearch").click(function() {
        $("#scripture_highlighter").show();
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      $("#genconf").click(function() {
        $("#scripture_highlighter").show();
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      $("#moderndef").click(function() {
        $("#scripture_highlighter").show();
      });
    });
  </script>

  <script type="text/javascript">
    function convert() {
      alert("hi");
      var str;
      str = document.getElementById("searchInput").value;
      document.writeln(str.toLowerCase());
    }
  </script>

</head>

<body>
  <div class="navbar">
    <a class="link" href="/mytalks">home</a>
    <a class="link2" href="/createp1">new</a>
    <a class="link" href="/saved">saved</a>
    <a class="link" href="/completed">completed</a>
    <a class="link" href="/shared">shared</a>
    <a class="link" href="/account">account</a>
    <a class="link" href="/logout">logout</a>
  </div>

  <div class="bodywrapper4">

    <div class="navbar3">
      {{#talktopics}}
        <h6 class="link6">Resources</h6>
        <a target="_blank" class="link4" href="http://www.dictionary.com/browse/{{talk_topic}}?s=t">dictionary</a>
        <a target="_blank" class="link4" href="https://www.lds.org/search?lang=eng&query={{talk_topic}}">lds.org</a>
        <a target="_blank" class="link4" href="https://www.lds.org/scriptures/search?lang=eng&options=verse&options=highlight&options=text&query={{talk_topic}}&testament=bofm&type=word">book of mormon</a>
        <a target="_blank" class="link4" href="https://www.lds.org/scriptures/search?lang=eng&options=verse&options=highlight&options=text&query={{talk_topic}}&testament=dc-testament&type=word">Doctrine & Covenants</a>
        <a target="_blank" class="link4" href="https://www.lds.org/scriptures/search?lang=eng&options=verse&options=highlight&options=text&query={{talk_topic}}&testament=pgp&type=word">Pearl of Great Price</a>
        <a target="_blank" class="link4" href="https://www.lds.org/scriptures/search?lang=eng&options=verse&options=highlight&options=text&query={{talk_topic}}&testament=nt&type=word">New Testament</a>
        <a target="_blank" class="link4" href="https://www.lds.org/scriptures/search?lang=eng&options=verse&options=text&query={{talk_topic}}&testament=ot&type=word&options=headings">Old Testament</a>
        <a target="_blank" class="link4" href="https://speeches.byu.edu/search/?q=brave&submit=Submit#stq={{talk_topic}}&stp=1">BYU speeches</a>
        <a target="_blank" class="link4" href="https://rsc.byu.edu/search/site/{{talk_topic}}">BYU religious studies center</a>
        <a target="_blank" class="link4" href="https://archive.bookofmormoncentral.org/search/site/{{talk_topic}}">book of mormon central</a>
        <a target="_blank" class="link4" href="https://www.lds.org/search?query={{talk_topic}}&x=0&y=0&lang=eng&domains=images">LDS images</a>
      {{/talktopics}}
    </div>

    <div class="bodywrapper6">
      {{#talktopics}}
        <div class="homelabeldiv">
          <div class="homelabeldiv2">
            <h3>
      Talk Topic:
      </h3>
            <h2>
      {{talk_topic}}
      </h2>
          </div>
          <div class="homelabeldiv2">
            <h3>
      for:
      </h3>
            <h2>
      {{talk_name}}
      </h2>
          </div>
          <div class="homelabeldiv2">
            <h3>
      Talk Title:
      </h3>
            <h2>
      {{talkid}}
      </h2>
          </div>
        </div>
      {{/talktopics}}
      <div class="homelabeldiv1">
        <section class="search">
          <label> TOPIC SEARCH: </label>
          <input placeholder="image search" class="searchInput" type="text" id="searchInput">
          <div class="buttonwrapper2">

            <button class="submitButton2" type="submit" id="bofmSearch" name="button">scriptures</button>
            <button class="submitButton2" type="submit" id="genconf" name="button">gen. conf.</button>


            <button class="submitButton2" type="submit" id="moderndef" name="button">more info</button>
          </div>


        </section>

        <div id="scripture_highlighter">
          <section class="searchtextHolder">
            <label class="yoyoyo">use these boxes to search for words within the search results</label>
            <div class="highlight_row">
              <div class="seach6">
                <input placeholder="search" class="yellowsearch" type="text" id="yellowsearch">
                <button class="submitButton2" type="submit" id="yellowbtn" name="button">find</button>
              </div>

              <div class="seach6">
                <input placeholder="search" class="yellowsearch" type="text" id="orangesearch">
                <button class="submitButton2" type="submit" id="orangebtn" name="button">find</button>
              </div>

              <div class="seach6">
                <input placeholder="search" class="yellowsearch" type="text" id="redsearch">
                <button class="submitButton2" type="submit" id="redbtn" name="button">find</button>
              </div>

              <div class="seach6">
                <input placeholder="search" class="yellowsearch" type="text" id="greensearch">
                <button class="submitButton2" type="submit" id="greenbtn" name="button">find</button>
              </div>
            </div>
            <div class="highlight_row">
              <div class="seach6">
                <input placeholder="search" class="yellowsearch" type="text" id="bluesearch">
                <button class="submitButton2" type="submit" id="bluebtn" name="button">find</button>
              </div>

              <div class="seach6">
                <input placeholder="search" class="yellowsearch" type="text" id="graysearch">
                <button class="submitButton2" type="submit" id="graybtn" name="button">find</button>
              </div>

              <div class="seach6">
                <input placeholder="search" class="yellowsearch" type="text" id="pinksearch">
                <button class="submitButton2" type="submit" id="pinkbtn" name="button">find</button>
              </div>

              <div class="seach6">
                <input placeholder="search" class="yellowsearch" type="text" id="purplesearch">
                <button class="submitButton2" type="submit" id="purplebtn" name="button">find</button>
              </div>
            </div>
        </div>

        </section>
        </section>
        <div id="searched"></div>
        <div class="results">

          <section id="updatediv1"></section>
          <section id="updatediv2"></section>
          <section id="updatediv3"></section>
          <section id="updatediv4"></section>

        </div>


      </div>
      <form class="form1" action="/talk/talkid/{{#talktopics}}{{talkid}}{{/talktopics}}" method="post">

        <div class="results">
                <textarea name="brainstorm1" id="brainstorm1">Quotes & Scriptures I liked</textarea>
                <textarea name="brainstorm2" id="brainstorm2">Spiritual Impressions</textarea>
                <textarea name="brainstorm3" id="brainstorm3">Other Thoughts</textarea>
        </div>


            </div>
          </div>
    </div>


    <div class="contentColumn3">
      <label class="small-label">
      Add usernames of the users you want to share your talk with:
    </label>
      <div class="row_of_input">
        <input class="inputfield7" type="text" value="{{shared.0}}" name="shared" />
        <input class="inputfield7" type="text" value="{{shared.1}}" name="shared" />
        <input class="inputfield7" type="text" value="{{shared.2}}" name="shared" />
        <input class="inputfield7" type="text" value="{{shared.3}}" name="shared" />
        <input class="inputfield7" type="text" value="{{shared.4}}" name="shared" />
        <input class="inputfield7" type="text" value="{{shared.5}}" name="shared" />
        <input class="inputfield7" type="text" value="{{shared.6}}" name="shared" />
        <input class="inputfield7" type="text" value="{{shared.7}}" name="shared" />
        <input class="inputfield7" type="text" value="{{shared.8}}" name="shared" />
        <input class="inputfield7" type="text" value="{{shared.9}}" name="shared" />
      </div>
    </div>
    <input class="submit" value="save talk" type="submit" />
    </form>


</body>

</html>
