<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>The Talk Maker</title>
  <link rel="stylesheet" href="/home2.css">
  <link href="https://fonts.googleapis.com/css?family=Volkhov" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js">
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $('div.listItem').each(function(){
      let str = $(this).text();
      if(str.length < 1){
        $(this).parent().hide();
      }
    })
  });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.0-beta.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.1.135/jspdf.min.js"></script>
<script type="text/javascript" src="http://cdn.uriit.ru/jsPDF/libs/adler32cs.js/adler32cs.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js
"></script>
<script type="text/javascript" src="libs/Blob.js/BlobBuilder.js"></script>
<script type="text/javascript" src="http://cdn.immex1.com/js/jspdf/plugins/jspdf.plugin.addimage.js"></script>
<script type="text/javascript" src="http://cdn.immex1.com/js/jspdf/plugins/jspdf.plugin.standard_fonts_metrics.js"></script>
<script type="text/javascript" src="http://cdn.immex1.com/js/jspdf/plugins/jspdf.plugin.split_text_to_size.js"></script>
<script type="text/javascript" src="http://cdn.immex1.com/js/jspdf/plugins/jspdf.plugin.from_html.js"></script>
<script type="text/javascript" src="js/basic.js"></script>
    <script>
    $(function () {

  var specialElementHandlers = {
      '#editor': function (element,renderer) {
          return true;
      }
  };
$('#cmd').click(function () {
      var doc = new jsPDF();
      doc.fromHTML($('#target').html(), 15, 15, {
          'width': 170,'elementHandlers': specialElementHandlers
      });
      doc.save('{{#talktopics}}{{talk_name}}{{/talktopics}}.pdf');
  });
});
    </script>

</head>
<body>
  <div class="navbar">
  <a href="/mytalks"><img class="logo" src="/logo2.png"></a>
  <a class="link" href="/createp1">new</a>
  <a class="link" href="/saved">saved</a>
  <a class="link2" href="/completed">completed</a>
  <a class="link" href="/shared">shared</a>
  <a class="link" href="/account">account</a>
  <a class="link" href="/logout">logout</a>
  </div>
<div class="buttongencontainer">
<button id="cmd">generate PDF</button>
</div>
<div id="target">
  {{#talktopics}}
  <div class="labelContainer3">
    <label>Talk Title:</label>
    <label class="labelContainer2">{{talkid}}</label>
    <label>Talk Topic:</label>
    <label class="labelContainer2">{{talk_topic}}</label>
  </div>
  {{/talktopics}}
    {{#talks}}<div class="talkContainer">

      <div class="outerSectionContainer"  >
      <div class="sectionHeading">{{section1_topic.0}}</div>
      <div class="sectionContainer">
      <div class="topicContainer" >
        1.0
        <div class="listTitle">{{topic1.0}}</div>
        <div class="listItem">{{textarea1.0}}</div>
      </div>
      <div class="topicContainer" >
        1.1
        <div class="listTitle">{{topic1.1}}</div>
        <div class="listItem">{{textarea1.1}}</div>
      </div>
      <div class="topicContainer" >
        1.2
        <div class="listTitle">{{topic1.2}}</div>
        <div class="listItem">{{textarea1.2}}</div>
      </div>
      <div class="topicContainer" >
        1.3
        <div class="listTitle">{{topic1.3}}</div>
        <div class="listItem">{{textarea1.3}}</div>
      </div>
      <div class="topicContainer" >
        1.4
        <div class="listTitle">{{topic1.4}}</div>
        <div class="listItem">{{textarea1.4}}</div>
      </div>
      <div class="topicContainer" >
        1.5
        <div class="listTitle">{{topic1.5}}</div>
        <div class="listItem">{{textarea1.5}}</div>
      </div>
      <div class="topicContainer" >
        1.6
        <div class="listTitle">{{topic1.6}}</div>
        <div class="listItem">{{textarea1.6}}</div>
      </div>
      <div class="topicContainer" >
        1.7
        <div class="listTitle">{{topic1.7}}</div>
        <div class="listItem">{{textarea1.7}}</div>
      </div>
      <div class="topicContainer" >
        1.8
        <div class="listTitle">{{topic1.8}}</div>
        <div class="listItem">{{textarea1.8}}</div>
      </div>
      <div class="topicContainer" >
        1.9
        <div class="listTitle">{{topic1.9}}</div>
        <div class="listItem">{{textarea1.9}}</div>
      </div>
      <div class="topicContainer" >
        1.10
        <div class="listTitle">{{topic1.10}}</div>
        <div class="listItem">{{textarea1.10}}</div>
      </div>
      <div class="topicContainer" >
        1.11
        <div class="listTitle">{{topic1.11}}</div>
        <div class="listItem">{{textarea1.11}}</div>
      </div>
      <div class="topicContainer" >
        1.12
        <div class="listTitle">{{topic1.12}}</div>
        <div class="listItem">{{textarea1.12}}</div>
      </div>
      <div class="topicContainer" >
        1.13
        <div class="listTitle">{{topic1.13}}</div>
        <div class="listItem">{{textarea1.13}}</div>
      </div>
      <div class="topicContainer" >
        1.14
        <div class="listTitle">{{topic1.14}}</div>
        <div class="listItem">{{textarea1.14}}</div>
      </div>
      <div class="topicContainer" >
        1.15
        <div class="listTitle">{{topic1.15}}</div>
        <div class="listItem">{{textarea1.15}}</div>
      </div>
      <div class="topicContainer" >
        1.16
        <div class="listTitle">{{topic1.16}}</div>
        <div class="listItem">{{textarea1.16}}</div>
      </div>
      <div class="topicContainer" >
        1.17
        <div class="listTitle">{{topic1.17}}</div>
        <div class="listItem">{{textarea1.17}}</div>
      </div>
      <div class="topicContainer" >
        1.18
        <div class="listTitle">{{topic1.18}}</div>
        <div class="listItem">{{textarea1.18}}</div>
      </div>
      <div class="topicContainer" >
        1.19
        <div class="listTitle">{{topic1.19}}</div>
        <div class="listItem">{{textarea1.19}}</div>
      </div>
      <div class="topicContainer" >
        1.20
        <div class="listTitle">{{topic1.20}}</div>
        <div class="listItem">{{textarea1.20}}</div>
      </div>
    </div>
    </div>

  <div class="outerSectionContainer"  >
  <div class="sectionHeading">{{section1_topic.1}}</div>
  <div class="sectionContainer">
  <div class="topicContainer" >
    2.0
    <div class="listTitle">{{topic2.0}}</div>
    <div class="listItem">{{textarea2.0}}</div>
  </div>
  <div class="topicContainer" >
    2.1
    <div class="listTitle">{{topic2.1}}</div>
    <div class="listItem">{{textarea2.1}}</div>
  </div>
  <div class="topicContainer" >
    2.2
    <div class="listTitle">{{topic2.2}}</div>
    <div class="listItem">{{textarea2.2}}</div>
  </div>
  <div class="topicContainer" >
    2.3
    <div class="listTitle">{{topic2.3}}</div>
    <div class="listItem">{{textarea2.3}}</div>
  </div>
  <div class="topicContainer" >
    2.4
    <div class="listTitle">{{topic2.4}}</div>
    <div class="listItem">{{textarea2.4}}</div>
  </div>
  <div class="topicContainer" >
    2.5
    <div class="listTitle">{{topic2.5}}</div>
    <div class="listItem">{{textarea2.5}}</div>
  </div>
  <div class="topicContainer" >
    2.6
    <div class="listTitle">{{topic2.6}}</div>
    <div class="listItem">{{textarea2.6}}</div>
  </div>
  <div class="topicContainer" >
    2.7
    <div class="listTitle">{{topic2.7}}</div>
    <div class="listItem">{{textarea2.7}}</div>
  </div>
  <div class="topicContainer" >
    2.8
    <div class="listTitle">{{topic2.8}}</div>
    <div class="listItem">{{textarea2.8}}</div>
  </div>
  <div class="topicContainer" >
    2.9
    <div class="listTitle">{{topic2.9}}</div>
    <div class="listItem">{{textarea2.9}}</div>
  </div>
  <div class="topicContainer" >
    2.10
    <div class="listTitle">{{topic2.10}}</div>
    <div class="listItem">{{textarea2.10}}</div>
  </div>
  <div class="topicContainer" >
    2.11
    <div class="listTitle">{{topic2.11}}</div>
    <div class="listItem">{{textarea2.11}}</div>
  </div>
  <div class="topicContainer" >
    2.12
    <div class="listTitle">{{topic2.12}}</div>
    <div class="listItem">{{textarea2.12}}</div>
  </div>
  <div class="topicContainer" >
    2.13
    <div class="listTitle">{{topic2.13}}</div>
    <div class="listItem">{{textarea2.13}}</div>
  </div>
  <div class="topicContainer" >
    2.14
    <div class="listTitle">{{topic2.14}}</div>
    <div class="listItem">{{textarea2.14}}</div>
  </div>
  <div class="topicContainer" >
    2.15
    <div class="listTitle">{{topic2.15}}</div>
    <div class="listItem">{{textarea2.15}}</div>
  </div>
  <div class="topicContainer" >
    2.16
    <div class="listTitle">{{topic2.16}}</div>
    <div class="listItem">{{textarea2.16}}</div>
  </div>
  <div class="topicContainer" >
    2.17
    <div class="listTitle">{{topic2.17}}</div>
    <div class="listItem">{{textarea2.17}}</div>
  </div>
  <div class="topicContainer" >
    2.18
    <div class="listTitle">{{topic2.18}}</div>
    <div class="listItem">{{textarea2.18}}</div>
  </div>
  <div class="topicContainer" >
    2.19
    <div class="listTitle">{{topic2.19}}</div>
    <div class="listItem">{{textarea2.19}}</div>
  </div>
  <div class="topicContainer" >
    2.20
    <div class="listTitle">{{topic2.20}}</div>
    <div class="listItem">{{textarea2.20}}</div>
  </div>
</div>
</div>

<div class="outerSectionContainer"  >
<div class="sectionHeading">{{section1_topic.2}}</div>
<div class="sectionContainer">
<div class="topicContainer" >
  3.0
  <div class="listTitle">{{topic3.0}}</div>
  <div class="listItem">{{textarea3.0}}</div>
</div>
<div class="topicContainer" >
  3.1
  <div class="listTitle">{{topic3.1}}</div>
  <div class="listItem">{{textarea3.1}}</div>
</div>
<div class="topicContainer" >
  3.2
  <div class="listTitle">{{topic3.2}}</div>
  <div class="listItem">{{textarea3.2}}</div>
</div>
<div class="topicContainer" >
  3.3
  <div class="listTitle">{{topic3.3}}</div>
  <div class="listItem">{{textarea3.3}}</div>
</div>
<div class="topicContainer" >
  3.4
  <div class="listTitle">{{topic3.4}}</div>
  <div class="listItem">{{textarea3.4}}</div>
</div>
<div class="topicContainer" >
  3.5
  <div class="listTitle">{{topic3.5}}</div>
  <div class="listItem">{{textarea3.5}}</div>
</div>
<div class="topicContainer" >
  3.6
  <div class="listTitle">{{topic3.6}}</div>
  <div class="listItem">{{textarea3.6}}</div>
</div>
<div class="topicContainer" >
  3.7
  <div class="listTitle">{{topic3.7}}</div>
  <div class="listItem">{{textarea3.7}}</div>
</div>
<div class="topicContainer" >
  3.8
  <div class="listTitle">{{topic3.8}}</div>
  <div class="listItem">{{textarea3.8}}</div>
</div>
<div class="topicContainer" >
  3.9
  <div class="listTitle">{{topic3.9}}</div>
  <div class="listItem">{{textarea3.9}}</div>
</div>
<div class="topicContainer" >
  3.10
  <div class="listTitle">{{topic3.10}}</div>
  <div class="listItem">{{textarea3.10}}</div>
</div>
<div class="topicContainer" >
  3.11
  <div class="listTitle">{{topic3.11}}</div>
  <div class="listItem">{{textarea3.11}}</div>
</div>
<div class="topicContainer" >
  3.12
  <div class="listTitle">{{topic3.12}}</div>
  <div class="listItem">{{textarea3.12}}</div>
</div>
<div class="topicContainer" >
  3.13
  <div class="listTitle">{{topic3.13}}</div>
  <div class="listItem">{{textarea3.13}}</div>
</div>
<div class="topicContainer" >
  3.14
  <div class="listTitle">{{topic3.14}}</div>
  <div class="listItem">{{textarea3.14}}</div>
</div>
<div class="topicContainer" >
  3.15
  <div class="listTitle">{{topic3.15}}</div>
  <div class="listItem">{{textarea3.15}}</div>
</div>
<div class="topicContainer" >
  3.16
  <div class="listTitle">{{topic3.16}}</div>
  <div class="listItem">{{textarea3.16}}</div>
</div>
<div class="topicContainer" >
  3.17
  <div class="listTitle">{{topic3.17}}</div>
  <div class="listItem">{{textarea3.17}}</div>
</div>
<div class="topicContainer" >
  3.18
  <div class="listTitle">{{topic3.18}}</div>
  <div class="listItem">{{textarea3.18}}</div>
</div>
<div class="topicContainer" >
  3.19
  <div class="listTitle">{{topic3.19}}</div>
  <div class="listItem">{{textarea3.19}}</div>
</div>
<div class="topicContainer" >
  3.20
  <div class="listTitle">{{topic3.20}}</div>
  <div class="listItem">{{textarea3.20}}</div>
</div>
</div>
</div>

<div class="outerSectionContainer"  >
<div class="sectionHeading">{{section1_topic.3}}</div>
<div class="sectionContainer">
<div class="topicContainer" >
  4.0
  <div class="listTitle">{{topic4.0}}</div>
  <div class="listItem">{{textarea4.0}}</div>
</div>
<div class="topicContainer" >
  4.1
  <div class="listTitle">{{topic4.1}}</div>
  <div class="listItem">{{textarea4.1}}</div>
</div>
<div class="topicContainer" >
  4.2
  <div class="listTitle">{{topic4.2}}</div>
  <div class="listItem">{{textarea4.2}}</div>
</div>
<div class="topicContainer" >
  4.3
  <div class="listTitle">{{topic4.3}}</div>
  <div class="listItem">{{textarea4.3}}</div>
</div>
<div class="topicContainer" >
  4.4
  <div class="listTitle">{{topic4.4}}</div>
  <div class="listItem">{{textarea4.4}}</div>
</div>
<div class="topicContainer" >
  4.5
  <div class="listTitle">{{topic4.5}}</div>
  <div class="listItem">{{textarea4.5}}</div>
</div>
<div class="topicContainer" >
  4.6
  <div class="listTitle">{{topic4.6}}</div>
  <div class="listItem">{{textarea4.6}}</div>
</div>
<div class="topicContainer" >
  4.7
  <div class="listTitle">{{topic4.7}}</div>
  <div class="listItem">{{textarea4.7}}</div>
</div>
<div class="topicContainer" >
  4.8
  <div class="listTitle">{{topic4.8}}</div>
  <div class="listItem">{{textarea4.8}}</div>
</div>
<div class="topicContainer" >
  4.9
  <div class="listTitle">{{topic4.9}}</div>
  <div class="listItem">{{textarea4.9}}</div>
</div>
<div class="topicContainer" >
  4.10
  <div class="listTitle">{{topic4.10}}</div>
  <div class="listItem">{{textarea4.10}}</div>
</div>
<div class="topicContainer" >
  4.11
  <div class="listTitle">{{topic4.11}}</div>
  <div class="listItem">{{textarea4.11}}</div>
</div>
<div class="topicContainer" >
  4.12
  <div class="listTitle">{{topic4.12}}</div>
  <div class="listItem">{{textarea4.12}}</div>
</div>
<div class="topicContainer" >
  4.13
  <div class="listTitle">{{topic4.13}}</div>
  <div class="listItem">{{textarea4.13}}</div>
</div>
<div class="topicContainer" >
  4.14
  <div class="listTitle">{{topic4.14}}</div>
  <div class="listItem">{{textarea4.14}}</div>
</div>
<div class="topicContainer" >
  4.15
  <div class="listTitle">{{topic4.15}}</div>
  <div class="listItem">{{textarea4.15}}</div>
</div>
<div class="topicContainer" >
  4.16
  <div class="listTitle">{{topic4.16}}</div>
  <div class="listItem">{{textarea4.16}}</div>
</div>
<div class="topicContainer" >
  4.17
  <div class="listTitle">{{topic4.17}}</div>
  <div class="listItem">{{textarea4.17}}</div>
</div>
<div class="topicContainer" >
  4.18
  <div class="listTitle">{{topic4.18}}</div>
  <div class="listItem">{{textarea4.18}}</div>
</div>
<div class="topicContainer" >
  4.19
  <div class="listTitle">{{topic4.19}}</div>
  <div class="listItem">{{textarea4.19}}</div>
</div>
<div class="topicContainer" >
  4.20
  <div class="listTitle">{{topic4.20}}</div>
  <div class="listItem">{{textarea4.20}}</div>
</div>
</div>
</div>

<div class="outerSectionContainer"  >
<div class="sectionHeading">{{section1_topic.4}}</div>
<div class="sectionContainer">
<div class="topicContainer" >
  5.0
  <div class="listTitle">{{topic5.0}}</div>
  <div class="listItem">{{textarea5.0}}</div>
</div>
<div class="topicContainer" >
  5.1
  <div class="listTitle">{{topic5.1}}</div>
  <div class="listItem">{{textarea5.1}}</div>
</div>
<div class="topicContainer" >
  5.2
  <div class="listTitle">{{topic5.2}}</div>
  <div class="listItem">{{textarea5.2}}</div>
</div>
<div class="topicContainer" >
  5.3
  <div class="listTitle">{{topic5.3}}</div>
  <div class="listItem">{{textarea5.3}}</div>
</div>
<div class="topicContainer" >
  5.4
  <div class="listTitle">{{topic5.4}}</div>
  <div class="listItem">{{textarea5.4}}</div>
</div>
<div class="topicContainer" >
  5.5
  <div class="listTitle">{{topic5.5}}</div>
  <div class="listItem">{{textarea5.5}}</div>
</div>
<div class="topicContainer" >
  5.6
  <div class="listTitle">{{topic5.6}}</div>
  <div class="listItem">{{textarea5.6}}</div>
</div>
<div class="topicContainer" >
  5.7
  <div class="listTitle">{{topic5.7}}</div>
  <div class="listItem">{{textarea5.7}}</div>
</div>
<div class="topicContainer" >
  5.8
  <div class="listTitle">{{topic5.8}}</div>
  <div class="listItem">{{textarea5.8}}</div>
</div>
<div class="topicContainer" >
  5.9
  <div class="listTitle">{{topic5.9}}</div>
  <div class="listItem">{{textarea5.9}}</div>
</div>
<div class="topicContainer" >
  5.10
  <div class="listTitle">{{topic5.10}}</div>
  <div class="listItem">{{textarea5.10}}</div>
</div>
<div class="topicContainer" >
  5.11
  <div class="listTitle">{{topic5.11}}</div>
  <div class="listItem">{{textarea5.11}}</div>
</div>
<div class="topicContainer" >
  5.12
  <div class="listTitle">{{topic5.12}}</div>
  <div class="listItem">{{textarea5.12}}</div>
</div>
<div class="topicContainer" >
  5.13
  <div class="listTitle">{{topic5.13}}</div>
  <div class="listItem">{{textarea5.13}}</div>
</div>
<div class="topicContainer" >
  5.14
  <div class="listTitle">{{topic5.14}}</div>
  <div class="listItem">{{textarea5.14}}</div>
</div>
<div class="topicContainer" >
  5.15
  <div class="listTitle">{{topic5.15}}</div>
  <div class="listItem">{{textarea5.15}}</div>
</div>
<div class="topicContainer" >
  5.16
  <div class="listTitle">{{topic5.16}}</div>
  <div class="listItem">{{textarea5.16}}</div>
</div>
<div class="topicContainer" >
  5.17
  <div class="listTitle">{{topic5.17}}</div>
  <div class="listItem">{{textarea5.17}}</div>
</div>
<div class="topicContainer" >
  5.18
  <div class="listTitle">{{topic5.18}}</div>
  <div class="listItem">{{textarea5.18}}</div>
</div>
<div class="topicContainer" >
  5.19
  <div class="listTitle">{{topic5.19}}</div>
  <div class="listItem">{{textarea5.19}}</div>
</div>
<div class="topicContainer" >
  5.20
  <div class="listTitle">{{topic5.20}}</div>
  <div class="listItem">{{textarea5.20}}</div>
</div>
</div>
</div>

<div class="outerSectionContainer"  >
<div class="sectionHeading">{{section1_topic.5}}</div>
<div class="sectionContainer">
<div class="topicContainer" >
  6.1
  <div class="listTitle">{{topic6.0}}</div>
  <div class="listItem">{{textarea6.0}}</div>
</div>
<div class="topicContainer" >
  6.0
  <div class="listTitle">{{topic6.1}}</div>
  <div class="listItem">{{textarea6.1}}</div>
</div>
<div class="topicContainer" >
  6.2
  <div class="listTitle">{{topic6.2}}</div>
  <div class="listItem">{{textarea6.2}}</div>
</div>
<div class="topicContainer" >
  6.3
  <div class="listTitle">{{topic6.3}}</div>
  <div class="listItem">{{textarea6.3}}</div>
</div>
<div class="topicContainer" >
  6.4
  <div class="listTitle">{{topic6.4}}</div>
  <div class="listItem">{{textarea6.4}}</div>
</div>
<div class="topicContainer" >
  6.5
  <div class="listTitle">{{topic6.5}}</div>
  <div class="listItem">{{textarea6.5}}</div>
</div>
<div class="topicContainer" >
  6.6
  <div class="listTitle">{{topic6.6}}</div>
  <div class="listItem">{{textarea6.6}}</div>
</div>
<div class="topicContainer" >
  6.7
  <div class="listTitle">{{topic6.7}}</div>
  <div class="listItem">{{textarea6.7}}</div>
</div>
<div class="topicContainer" >
  6.8
  <div class="listTitle">{{topic6.8}}</div>
  <div class="listItem">{{textarea6.8}}</div>
</div>
<div class="topicContainer" >
  6.9
  <div class="listTitle">{{topic6.9}}</div>
  <div class="listItem">{{textarea6.9}}</div>
</div>
<div class="topicContainer" >
  6.10
  <div class="listTitle">{{topic6.10}}</div>
  <div class="listItem">{{textarea6.10}}</div>
</div>
<div class="topicContainer" >
  6.11
  <div class="listTitle">{{topic6.11}}</div>
  <div class="listItem">{{textarea6.11}}</div>
</div>
<div class="topicContainer" >
  6.12
  <div class="listTitle">{{topic6.12}}</div>
  <div class="listItem">{{textarea6.12}}</div>
</div>
<div class="topicContainer" >
  6.13
  <div class="listTitle">{{topic6.13}}</div>
  <div class="listItem">{{textarea6.13}}</div>
</div>
<div class="topicContainer" >
  6.14
  <div class="listTitle">{{topic6.14}}</div>
  <div class="listItem">{{textarea6.14}}</div>
</div>
<div class="topicContainer" >
  6.15
  <div class="listTitle">{{topic6.15}}</div>
  <div class="listItem">{{textarea6.15}}</div>
</div>
<div class="topicContainer" >
  6.16
  <div class="listTitle">{{topic6.16}}</div>
  <div class="listItem">{{textarea6.16}}</div>
</div>
<div class="topicContainer" >
  6.17
  <div class="listTitle">{{topic6.17}}</div>
  <div class="listItem">{{textarea6.17}}</div>
</div>
<div class="topicContainer" >
  6.18
  <div class="listTitle">{{topic6.18}}</div>
  <div class="listItem">{{textarea6.18}}</div>
</div>
<div class="topicContainer" >
  6.19
  <div class="listTitle">{{topic6.19}}</div>
  <div class="listItem">{{textarea6.19}}</div>
</div>
<div class="topicContainer" >
  6.20
  <div class="listTitle">{{topic6.20}}</div>
  <div class="listItem">{{textarea6.20}}</div>
</div>
</div>
</div>

<div class="outerSectionContainer"  >
<div class="sectionHeading">{{section1_topic.6}}</div>
<div class="sectionContainer">
<div class="topicContainer" >
  7.0
  <div class="listTitle">{{topic7.0}}</div>
  <div class="listItem">{{textarea7.0}}</div>
</div>
<div class="topicContainer" >
  7.1
  <div class="listTitle">{{topic7.1}}</div>
  <div class="listItem">{{textarea7.1}}</div>
</div>
<div class="topicContainer" >
  7.2
  <div class="listTitle">{{topic7.2}}</div>
  <div class="listItem">{{textarea7.2}}</div>
</div>
<div class="topicContainer" >
  7.3
  <div class="listTitle">{{topic7.3}}</div>
  <div class="listItem">{{textarea7.3}}</div>
</div>
<div class="topicContainer" >
  7.4
  <div class="listTitle">{{topic7.4}}</div>
  <div class="listItem">{{textarea7.4}}</div>
</div>
<div class="topicContainer" >
  7.5
  <div class="listTitle">{{topic7.5}}</div>
  <div class="listItem">{{textarea7.5}}</div>
</div>
<div class="topicContainer" >
  7.6
  <div class="listTitle">{{topic7.6}}</div>
  <div class="listItem">{{textarea7.6}}</div>
</div>
<div class="topicContainer" >
  7.7
  <div class="listTitle">{{topic7.7}}</div>
  <div class="listItem">{{textarea7.7}}</div>
</div>
<div class="topicContainer" >
  7.8
  <div class="listTitle">{{topic7.8}}</div>
  <div class="listItem">{{textarea7.8}}</div>
</div>
<div class="topicContainer" >
  7.9
  <div class="listTitle">{{topic7.9}}</div>
  <div class="listItem">{{textarea7.9}}</div>
</div>
<div class="topicContainer" >
  7.10
  <div class="listTitle">{{topic7.10}}</div>
  <div class="listItem">{{textarea7.10}}</div>
</div>
<div class="topicContainer" >
  7.11
  <div class="listTitle">{{topic7.11}}</div>
  <div class="listItem">{{textarea7.11}}</div>
</div>
<div class="topicContainer" >
  7.12
  <div class="listTitle">{{topic7.12}}</div>
  <div class="listItem">{{textarea7.12}}</div>
</div>
<div class="topicContainer" >
  7.13
  <div class="listTitle">{{topic7.13}}</div>
  <div class="listItem">{{textarea7.13}}</div>
</div>
<div class="topicContainer" >
  7.14
  <div class="listTitle">{{topic7.14}}</div>
  <div class="listItem">{{textarea7.14}}</div>
</div>
<div class="topicContainer" >
  7.15
  <div class="listTitle">{{topic7.15}}</div>
  <div class="listItem">{{textarea7.15}}</div>
</div>
<div class="topicContainer" >
  7.16
  <div class="listTitle">{{topic7.16}}</div>
  <div class="listItem">{{textarea7.16}}</div>
</div>
<div class="topicContainer" >
  7.17
  <div class="listTitle">{{topic7.17}}</div>
  <div class="listItem">{{textarea7.17}}</div>
</div>
<div class="topicContainer" >
  7.18
  <div class="listTitle">{{topic7.18}}</div>
  <div class="listItem">{{textarea7.18}}</div>
</div>
<div class="topicContainer" >
  7.19
  <div class="listTitle">{{topic7.19}}</div>
  <div class="listItem">{{textarea7.19}}</div>
</div>
<div class="topicContainer" >
  7.20
  <div class="listTitle">{{topic7.20}}</div>
  <div class="listItem">{{textarea7.20}}</div>
</div>
</div>
</div>

<div class="outerSectionContainer"  >
<div class="sectionHeading">{{section1_topic.7}}</div>
<div class="sectionContainer">
<div class="topicContainer" >
  8.0
  <div class="listTitle">{{topic8.0}}</div>
  <div class="listItem">{{textarea8.0}}</div>
</div>
<div class="topicContainer" >
  8.1
  <div class="listTitle">{{topic8.1}}</div>
  <div class="listItem">{{textarea8.1}}</div>
</div>
<div class="topicContainer" >
  8.2
  <div class="listTitle">{{topic8.2}}</div>
  <div class="listItem">{{textarea8.2}}</div>
</div>
<div class="topicContainer" >
  8.3
  <div class="listTitle">{{topic8.3}}</div>
  <div class="listItem">{{textarea8.3}}</div>
</div>
<div class="topicContainer" >
  8.4
  <div class="listTitle">{{topic8.4}}</div>
  <div class="listItem">{{textarea8.4}}</div>
</div>
<div class="topicContainer" >
  8.5
  <div class="listTitle">{{topic8.5}}</div>
  <div class="listItem">{{textarea8.5}}</div>
</div>
<div class="topicContainer" >
  8.6
  <div class="listTitle">{{topic8.6}}</div>
  <div class="listItem">{{textarea8.6}}</div>
</div>
<div class="topicContainer" >
  8.7
  <div class="listTitle">{{topic8.7}}</div>
  <div class="listItem">{{textarea8.7}}</div>
</div>
<div class="topicContainer" >
  8.8
  <div class="listTitle">{{topic8.8}}</div>
  <div class="listItem">{{textarea8.8}}</div>
</div>
<div class="topicContainer" >
  8.9
  <div class="listTitle">{{topic8.9}}</div>
  <div class="listItem">{{textarea8.9}}</div>
</div>
<div class="topicContainer" >
  8.10
  <div class="listTitle">{{topic8.10}}</div>
  <div class="listItem">{{textarea8.10}}</div>
</div>
<div class="topicContainer" >
  8.11
  <div class="listTitle">{{topic8.11}}</div>
  <div class="listItem">{{textarea8.11}}</div>
</div>
<div class="topicContainer" >
  8.12
  <div class="listTitle">{{topic8.12}}</div>
  <div class="listItem">{{textarea8.12}}</div>
</div>
<div class="topicContainer" >
  8.13
  <div class="listTitle">{{topic8.13}}</div>
  <div class="listItem">{{textarea8.13}}</div>
</div>
<div class="topicContainer" >
  8.14
  <div class="listTitle">{{topic8.14}}</div>
  <div class="listItem">{{textarea8.14}}</div>
</div>
<div class="topicContainer" >
  8.15
  <div class="listTitle">{{topic8.15}}</div>
  <div class="listItem">{{textarea8.15}}</div>
</div>
<div class="topicContainer" >
  8.16
  <div class="listTitle">{{topic8.16}}</div>
  <div class="listItem">{{textarea8.16}}</div>
</div>
<div class="topicContainer" >
  8.17
  <div class="listTitle">{{topic8.17}}</div>
  <div class="listItem">{{textarea8.17}}</div>
</div>
<div class="topicContainer" >
  8.18
  <div class="listTitle">{{topic8.18}}</div>
  <div class="listItem">{{textarea8.18}}</div>
</div>
<div class="topicContainer" >
  8.19
  <div class="listTitle">{{topic8.19}}</div>
  <div class="listItem">{{textarea8.19}}</div>
</div>
<div class="topicContainer" >
  8.20
  <div class="listTitle">{{topic8.20}}</div>
  <div class="listItem">{{textarea8.20}}</div>
</div>
</div>
</div>

<div class="outerSectionContainer"  >
<div class="sectionHeading">{{section1_topic.8}}</div>
<div class="sectionContainer">
<div class="topicContainer" >
  9.0
  <div class="listTitle">{{topic9.0}}</div>
  <div class="listItem">{{textarea9.0}}</div>
</div>
<div class="topicContainer" >
  9.1
  <div class="listTitle">{{topic9.1}}</div>
  <div class="listItem">{{textarea9.1}}</div>
</div>
<div class="topicContainer" >
  9.2
  <div class="listTitle">{{topic9.2}}</div>
  <div class="listItem">{{textarea9.2}}</div>
</div>
<div class="topicContainer" >
  9.3
  <div class="listTitle">{{topic9.3}}</div>
  <div class="listItem">{{textarea9.3}}</div>
</div>
<div class="topicContainer" >
  9.4
  <div class="listTitle">{{topic9.4}}</div>
  <div class="listItem">{{textarea9.4}}</div>
</div>
<div class="topicContainer" >
  9.5
  <div class="listTitle">{{topic9.5}}</div>
  <div class="listItem">{{textarea9.5}}</div>
</div>
<div class="topicContainer" >
  9.6
  <div class="listTitle">{{topic9.6}}</div>
  <div class="listItem">{{textarea9.6}}</div>
</div>
<div class="topicContainer" >
  9.7
  <div class="listTitle">{{topic9.7}}</div>
  <div class="listItem">{{textarea9.7}}</div>
</div>
<div class="topicContainer" >
  9.8
  <div class="listTitle">{{topic9.8}}</div>
  <div class="listItem">{{textarea9.8}}</div>
</div>
<div class="topicContainer" >
  9.9
  <div class="listTitle">{{topic9.9}}</div>
  <div class="listItem">{{textarea9.9}}</div>
</div>
<div class="topicContainer" >
  9.10
  <div class="listTitle">{{topic9.10}}</div>
  <div class="listItem">{{textarea9.10}}</div>
</div>
<div class="topicContainer" >
  9.11
  <div class="listTitle">{{topic9.11}}</div>
  <div class="listItem">{{textarea9.11}}</div>
</div>
<div class="topicContainer" >
  9.12
  <div class="listTitle">{{topic9.12}}</div>
  <div class="listItem">{{textarea9.12}}</div>
</div>
<div class="topicContainer" >
  9.13
  <div class="listTitle">{{topic9.13}}</div>
  <div class="listItem">{{textarea9.13}}</div>
</div>
<div class="topicContainer" >
  9.14
  <div class="listTitle">{{topic9.14}}</div>
  <div class="listItem">{{textarea9.14}}</div>
</div>
<div class="topicContainer" >
  9.15
  <div class="listTitle">{{topic9.15}}</div>
  <div class="listItem">{{textarea9.15}}</div>
</div>
<div class="topicContainer" >
  9.16
  <div class="listTitle">{{topic9.16}}</div>
  <div class="listItem">{{textarea9.16}}</div>
</div>
<div class="topicContainer" >
  9.17
  <div class="listTitle">{{topic9.17}}</div>
  <div class="listItem">{{textarea9.17}}</div>
</div>
<div class="topicContainer" >
  9.18
  <div class="listTitle">{{topic9.18}}</div>
  <div class="listItem">{{textarea9.18}}</div>
</div>
<div class="topicContainer" >
  9.19
  <div class="listTitle">{{topic9.19}}</div>
  <div class="listItem">{{textarea9.19}}</div>
</div>
<div class="topicContainer" >
  9.20
  <div class="listTitle">{{topic9.20}}</div>
  <div class="listItem">{{textarea9.20}}</div>
</div>
</div>
</div>

<div class="outerSectionContainer"  >
<div class="sectionHeading">{{section1_topic.9}}</div>
<div class="sectionContainer">
<div class="topicContainer" >
  10.0
  <div class="listTitle">{{topic10.0}}</div>
  <div class="listItem">{{textarea10.0}}</div>
</div>
<div class="topicContainer" >
  10.1
  <div class="listTitle">{{topic10.1}}</div>
  <div class="listItem">{{textarea10.1}}</div>
</div>
<div class="topicContainer" >
  10.2
  <div class="listTitle">{{topic10.2}}</div>
  <div class="listItem">{{textarea10.2}}</div>
</div>
<div class="topicContainer" >
  10.3
  <div class="listTitle">{{topic10.3}}</div>
  <div class="listItem">{{textarea10.3}}</div>
</div>
<div class="topicContainer" >
  10.4
  <div class="listTitle">{{topic10.4}}</div>
  <div class="listItem">{{textarea10.4}}</div>
</div>
<div class="topicContainer" >
  10.5
  <div class="listTitle">{{topic10.5}}</div>
  <div class="listItem">{{textarea10.5}}</div>
</div>
<div class="topicContainer" >
  10.6
  <div class="listTitle">{{topic10.6}}</div>
  <div class="listItem">{{textarea10.6}}</div>
</div>
<div class="topicContainer" >
  10.7
  <div class="listTitle">{{topic10.7}}</div>
  <div class="listItem">{{textarea10.7}}</div>
</div>
<div class="topicContainer" >
  10.8
  <div class="listTitle">{{topic10.8}}</div>
  <div class="listItem">{{textarea10.8}}</div>
</div>
<div class="topicContainer" >
  10.9
  <div class="listTitle">{{topic10.9}}</div>
  <div class="listItem">{{textarea10.9}}</div>
</div>
<div class="topicContainer" >
  10.10
  <div class="listTitle">{{topic10.10}}</div>
  <div class="listItem">{{textarea10.10}}</div>
</div>
<div class="topicContainer" >
  10.11
  <div class="listTitle">{{topic10.11}}</div>
  <div class="listItem">{{textarea10.11}}</div>
</div>
<div class="topicContainer" >
  10.12
  <div class="listTitle">{{topic10.12}}</div>
  <div class="listItem">{{textarea10.12}}</div>
</div>
<div class="topicContainer" >
  10.13
  <div class="listTitle">{{topic10.13}}</div>
  <div class="listItem">{{textarea10.13}}</div>
</div>
<div class="topicContainer" >
  10.14
  <div class="listTitle">{{topic10.14}}</div>
  <div class="listItem">{{textarea10.14}}</div>
</div>
<div class="topicContainer" >
  10.15
  <div class="listTitle">{{topic10.15}}</div>
  <div class="listItem">{{textarea10.15}}</div>
</div>
<div class="topicContainer" >
  10.16
  <div class="listTitle">{{topic10.16}}</div>
  <div class="listItem">{{textarea10.16}}</div>
</div>
<div class="topicContainer" >
  10.17
  <div class="listTitle">{{topic10.17}}</div>
  <div class="listItem">{{textarea10.17}}</div>
</div>
<div class="topicContainer" >
  10.18
  <div class="listTitle">{{topic10.18}}</div>
  <div class="listItem">{{textarea10.18}}</div>
</div>
<div class="topicContainer" >
  10.19
  <div class="listTitle">{{topic10.19}}</div>
  <div class="listItem">{{textarea10.19}}</div>
</div>
<div class="topicContainer" >
  10.20
  <div class="listTitle">{{topic10.20}}</div>
  <div class="listItem">{{textarea10.20}}</div>
</div>
</div>
</div>

<div class="outerSectionContainer">
<div class="sectionHeading">{{section1_topic.10}}</div>
<div class="sectionContainer">
<div class="topicContainer" >
  11.0
  <div class="listTitle">{{topic11.0}}</div>
  <div class="listItem">{{textarea11.0}}</div>
</div>
<div class="topicContainer" >
  11.1
  <div class="listTitle">{{topic11.1}}</div>
  <div class="listItem">{{textarea11.1}}</div>
</div>
<div class="topicContainer" >
  11.2
  <div class="listTitle">{{topic11.2}}</div>
  <div class="listItem">{{textarea11.2}}</div>
</div>
<div class="topicContainer" >
  11.3
  <div class="listTitle">{{topic11.3}}</div>
  <div class="listItem">{{textarea11.3}}</div>
</div>
<div class="topicContainer" >
  11.4
  <div class="listTitle">{{topic11.4}}</div>
  <div class="listItem">{{textarea11.4}}</div>
</div>
<div class="topicContainer" >
  11.5
  <div class="listTitle">{{topic11.5}}</div>
  <div class="listItem">{{textarea11.5}}</div>
</div>
<div class="topicContainer" >
  11.6
  <div class="listTitle">{{topic11.6}}</div>
  <div class="listItem">{{textarea11.6}}</div>
</div>
<div class="topicContainer" >
  11.7
  <div class="listTitle">{{topic11.7}}</div>
  <div class="listItem">{{textarea11.7}}</div>
</div>
<div class="topicContainer" >
  11.8
  <div class="listTitle">{{topic11.8}}</div>
  <div class="listItem">{{textarea11.8}}</div>
</div>
<div class="topicContainer" >
  11.9
  <div class="listTitle">{{topic11.9}}</div>
  <div class="listItem">{{textarea11.9}}</div>
</div>
<div class="topicContainer" >
  11.10
  <div class="listTitle">{{topic11.10}}</div>
  <div class="listItem">{{textarea11.10}}</div>
</div>
<div class="topicContainer" >
  11.11
  <div class="listTitle">{{topic11.11}}</div>
  <div class="listItem">{{textarea11.11}}</div>
</div>
<div class="topicContainer" >
  11.12
  <div class="listTitle">{{topic11.12}}</div>
  <div class="listItem">{{textarea11.12}}</div>
</div>
<div class="topicContainer" >
  11.13
  <div class="listTitle">{{topic11.13}}</div>
  <div class="listItem">{{textarea11.13}}</div>
</div>
<div class="topicContainer" >
  11.14
  <div class="listTitle">{{topic11.14}}</div>
  <div class="listItem">{{textarea11.14}}</div>
</div>
<div class="topicContainer" >
  11.15
  <div class="listTitle">{{topic11.15}}</div>
  <div class="listItem">{{textarea11.15}}</div>
</div>
<div class="topicContainer" >
  11.16
  <div class="listTitle">{{topic11.16}}</div>
  <div class="listItem">{{textarea11.16}}</div>
</div>
<div class="topicContainer" >
  11.17
  <div class="listTitle">{{topic11.17}}</div>
  <div class="listItem">{{textarea11.17}}</div>
</div>
<div class="topicContainer" >
  11.18
  <div class="listTitle">{{topic11.18}}</div>
  <div class="listItem">{{textarea11.18}}</div>
</div>
<div class="topicContainer" >
  11.19
  <div class="listTitle">{{topic11.19}}</div>
  <div class="listItem">{{textarea11.19}}</div>
</div>
<div class="topicContainer" >
  11.20
  <div class="listTitle">{{topic11.20}}</div>
  <div class="listItem">{{textarea11.20}}</div>
</div>
</div>
</div>
  {{/talks}}
</div>
</div>
</body>

</html>
