<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>The Talk Maker</title>
  <link rel="stylesheet" href="/landing.css">
</head>

<body>

<div class="logo">
  <img src="/logo.png">

<div class="buttons">
  <div>
    <a class="watchDemo" target="_blank" href="https://www.youtube.com/watch?v=75JcGcLG4Ak">Watch Demo</a>
  </div>
  <div>
  <div >
      <a href="/login" class="landingTitle">
        Login
      </a>
      </div>
<div>
      <a href="/signup" class="landingTitle">
        Signup
      </a>
      </div>
    </div>
</div>
</div>






</body>

</html>
