<!DOCTYPE html>
  <html>

  <head>
    <meta charset="utf-8">
    <title>The Talk Maker</title>
    <link rel="stylesheet" href="/home.css">
  </head>

  <body>

    <div class="navbar">
    <img class="logo" src="/logo2.png">
    <a class="link" href="/createp1">new talk</a>

    <a class="link" href="/saved">saved talks</a>
    <a class="link" href="/completed">completed talks</a>
    <a class="link2" href="/shared">public talks</a>
    <a class="link" href="/logout">logout</a>
    </div>
<div class="bodywrapper2">
<label class="labelContainer2">Choose an available talk:</label>
{{#talknames}}
<ul>
    <li>
      <a href="/saved/{{talk_name}}">{{talk_name}}</a>
    </li>
</ul>
{{/talknames}}

  </body>

  </html>

</div>
</body>

</html>
