<!DOCTYPE html>
  <html>

  <head>
    <meta charset="utf-8">
    <title>The Talk Maker</title>
    <link rel="stylesheet" href="/home.css">
  </head>

  <body>

    <div class="navbar">
    <img class="logo" src="/logo2.png">
    <a class="link" href="/createp1">new</a>
    <a class="link2" href="/saved">saved</a>
    <a class="link" href="/completed">completed</a>
    <a class="link" href="/shared">shared</a>
    <a class="link" href="/account">account</a>
    <a class="link" href="/logout">logout</a>
    </div>


<div class="bodywrapper9">
  <label class="labelContainer2">Select a saved talk:</label>
{{#talktopics}}
  <div class="savedContainer">
    <div><label>for:</label><span>{{talk_name}}</span></div>
          <div><label>talk topic:</label><span>{{talk_topic}}</span></div>
          <div><label>talk title:</label><span>{{talkid}}</span></div>
            <div><label>created at:</label><span>{{createdAt}}</span></div>
              <div><label>updated at:</label><span>{{updatedAt}}</span></div>
                <div><a href="saved/{{talkid}}">select this talk</a></div>
            </div>
{{/talktopics}}



</div>
</body>

</html>
