<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>The Talk Maker</title>
  <link rel="stylesheet" href="/slideshow.css">
  <link href="https://fonts.googleapis.com/css?family=Volkhov" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js">
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('div.labelContainer3').each(function(){
        let str = $(this).text();
        if(str.length < 1){
          $(this).parent().hide();
        }
      })
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('div.labelContainer2').each(function(){
        let str = $(this).text();
        if(str.length < 1){
          $(this).parent().hide();
        }
      })
    });
  </script>
  <script>
  var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
showSlides(slideIndex += n);
}

function currentSlide(n) {
showSlides(slideIndex = n);
}

function showSlides(n) {
var i;
var innertext = document.getElementsByClassName("labelContainer3").textcontent;
var slides = document.getElementsByClassName("mySlides");
var dots = document.getElementsByClassName("dot");
var label = document.getElementsByClassName("labelContainer2");
if (n > slides.length) {slideIndex = 1}
if (n < 1) {slideIndex = slides.length}
for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
}
for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
}
slides[slideIndex-1].style.display = "block";
dots[slideIndex-1].className += " active";
}
  </script>
  <script>
        function goBack() {
          window.history.back();
        }
        </script>
</head>
<body>
<div class="slideshow-container">
{{#talks}}
{{#talktopics}}

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <div class="labelContainer4">Title:</div>
    <div class="imglabelcontainer"> <div class="labelContainer2">{{talkid}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <div class="labelContainer4">Topic:</div>
    <div class="imglabelcontainer"> <div class="labelContainer2">{{talk_topic}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <div class="labelContainer4">Section 1:</div>
    <div class="imglabelcontainer"> <div class="labelContainer2">{{section1_topic.0}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image1.0}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic1.0}}</div>
    <div class="labelContainer3">{{textarea1.0}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image1.1}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic1.1}}</div>
    <div class="labelContainer3">{{textarea1.1}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image1.2}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic1.2}}</div>
    <div class="labelContainer3">{{textarea1.2}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image1.3}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic1.3}}</div>
    <div class="labelContainer3">{{textarea1.3}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image1.4}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic1.4}}</div>
    <div class="labelContainer3">{{textarea1.4}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image1.5}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic1.5}}</div>
    <div class="labelContainer3">{{textarea1.5}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image1.6}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic1.6}}</div>
    <div class="labelContainer3">{{textarea1.6}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image1.7}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic1.7}}</div>
    <div class="labelContainer3">{{textarea1.7}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image1.8}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic1.8}}</div>
    <div class="labelContainer3">{{textarea1.8}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image1.9}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic1.9}}</div>
    <div class="labelContainer3">{{textarea1.9}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image1.10}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic1.10}}</div>
    <div class="labelContainer3">{{textarea1.10}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image1.11}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic1.11}}</div>
    <div class="labelContainer3">{{textarea1.11}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image1.12}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic1.12}}</div>
    <div class="labelContainer3">{{textarea1.12}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image1.13}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic1.13}}</div>
    <div class="labelContainer3">{{textarea1.13}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image1.14}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic1.14}}</div>
    <div class="labelContainer3">{{textarea1.14}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image1.15}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic1.15}}</div>
    <div class="labelContainer3">{{textarea1.15}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image1.16}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic1.16}}</div>
    <div class="labelContainer3">{{textarea1.16}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image1.17}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic1.17}}</div>
    <div class="labelContainer3">{{textarea1.17}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image1.18}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic1.18}}</div>
    <div class="labelContainer3">{{textarea1.18}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image1.19}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic1.19}}</div>
    <div class="labelContainer3">{{textarea1.19}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image1.20}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic1.20}}</div>
    <div class="labelContainer3">{{textarea1.20}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <div class="labelContainer3">Section 2:</div>
    <div class="imglabelcontainer"> <div class="labelContainer2">{{section1_topic.1}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image2.0}}" />

    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic2.0}}</div>
    <div class="labelContainer3">{{textarea2.0}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image2.1}}" />

    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic2.1}}</div>
    <div class="labelContainer3">{{textarea2.1}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image2.2}}" />

    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic2.2}}</div>
    <div class="labelContainer3">{{textarea2.2}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image2.3}}" />

    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic2.3}}</div>
    <div class="labelContainer3">{{textarea2.3}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image2.4}}" />

    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic2.4}}</div>
    <div class="labelContainer3">{{textarea2.4}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image2.5}}" />

    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic2.5}}</div>
    <div class="labelContainer3">{{textarea2.5}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image2.6}}" />

    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic2.6}}</div>
    <div class="labelContainer3">{{textarea2.6}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image2.7}}" />

    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic2.7}}</div>
    <div class="labelContainer3">{{textarea2.7}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image2.8}}" />

    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic2.8}}</div>
    <div class="labelContainer3">{{textarea2.8}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image2.9}}" />

    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic2.9}}</div>
    <div class="labelContainer3">{{textarea2.9}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image2.10}}" />

    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic2.10}}</div>
    <div class="labelContainer3">{{textarea2.10}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image2.11}}" />

    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic2.11}}</div>
    <div class="labelContainer3">{{textarea2.11}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image2.12}}" />

    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic2.12}}</div>
    <div class="labelContainer3">{{textarea2.12}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image2.13}}" />

    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic2.13}}</div>
    <div class="labelContainer3">{{textarea2.13}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image2.14}}" />

    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic2.14}}</div>
    <div class="labelContainer3">{{textarea2.14}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image2.15}}" />

    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic2.15}}</div>
    <div class="labelContainer3">{{textarea2.15}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image2.16}}" />

    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic2.16}}</div>
    <div class="labelContainer3">{{textarea2.16}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image2.17}}" />

    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic2.17}}</div>
    <div class="labelContainer3">{{textarea2.17}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image2.18}}" />

    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic2.18}}</div>
    <div class="labelContainer3">{{textarea2.18}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image2.19}}" />

    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic2.19}}</div>
    <div class="labelContainer3">{{textarea2.19}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image2.20}}" />

    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic2.20}}</div>
    <div class="labelContainer3">{{textarea2.20}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">

    <div class="labelContainer3">Section 3:</div>
    <div class="imglabelcontainer"> <div class="labelContainer2">{{section1_topic.2}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image3.0}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic3.0}}</div>
    <div class="labelContainer3">{{textarea3.0}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
<image src="{{image3.1}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic3.1}}</div>
    <div class="labelContainer3">{{textarea3.1}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
<image src="{{image3.2}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic3.2}}</div>
    <div class="labelContainer3">{{textarea3.2}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
<image src="{{image3.3}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic3.3}}</div>
    <div class="labelContainer3">{{textarea3.3}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
<image src="{{image3.4}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic3.4}}</div>
    <div class="labelContainer3">{{textarea3.4}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
<image src="{{image3.5}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic3.5}}</div>
    <div class="labelContainer3">{{textarea3.5}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
<image src="{{image3.6}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic3.6}}</div>
    <div class="labelContainer3">{{textarea3.6}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
<image src="{{image3.7}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic3.7}}</div>
    <div class="labelContainer3">{{textarea3.7}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
<image src="{{image3.8}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic3.8}}</div>
    <div class="labelContainer3">{{textarea3.8}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
<image src="{{image3.9}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic3.9}}</div>
    <div class="labelContainer3">{{textarea3.9}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
<image src="{{image3.10}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic3.10}}</div>
    <div class="labelContainer3">{{textarea3.10}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
<image src="{{image3.11}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic3.11}}</div>
    <div class="labelContainer3">{{textarea3.11}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
<image src="{{image3.12}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic3.12}}</div>
    <div class="labelContainer3">{{textarea3.12}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
<image src="{{image3.13}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic3.13}}</div>
    <div class="labelContainer3">{{textarea3.13}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
<image src="{{image3.14}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic3.14}}</div>
    <div class="labelContainer3">{{textarea3.14}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
<image src="{{image3.15}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic3.15}}</div>
    <div class="labelContainer3">{{textarea3.15}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
<image src="{{image3.16}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic3.16}}</div>
    <div class="labelContainer3">{{textarea3.16}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
<image src="{{image3.17}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic3.17}}</div>
    <div class="labelContainer3">{{textarea3.17}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
<image src="{{image3.18}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic3.18}}</div>
    <div class="labelContainer3">{{textarea3.18}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
<image src="{{image3.19}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic3.19}}</div>
    <div class="labelContainer3">{{textarea3.19}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
<image src="{{image3.20}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic3.20}}</div>
    <div class="labelContainer3">{{textarea3.20}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <div class="labelContainer3">Section 4:</div>
    <div class="imglabelcontainer"> <div class="labelContainer2">{{section1_topic.3}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image4.0}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic4.0}}</div>
    <div class="labelContainer3">{{textarea4.0}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image4.1}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic4.1}}</div>
    <div class="labelContainer3">{{textarea4.1}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image4.2}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic4.2}}</div>
    <div class="labelContainer3">{{textarea4.2}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image4.3}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic4.3}}</div>
    <div class="labelContainer3">{{textarea4.3}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image4.4}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic4.4}}</div>
    <div class="labelContainer3">{{textarea4.4}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image4.5}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic4.5}}</div>
    <div class="labelContainer3">{{textarea4.5}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image4.6}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic4.6}}</div>
    <div class="labelContainer3">{{textarea4.6}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image4.7}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic4.7}}</div>
    <div class="labelContainer3">{{textarea4.7}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image4.8}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic4.8}}</div>
    <div class="labelContainer3">{{textarea4.8}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image4.9}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic4.9}}</div>
    <div class="labelContainer3">{{textarea4.9}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image4.10}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic4.10}}</div>
    <div class="labelContainer3">{{textarea4.10}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image4.11}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic4.11}}</div>
    <div class="labelContainer3">{{textarea4.11}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image4.12}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic4.12}}</div>
    <div class="labelContainer3">{{textarea4.12}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image4.13}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic4.13}}</div>
    <div class="labelContainer3">{{textarea4.13}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image4.14}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic4.14}}</div>
    <div class="labelContainer3">{{textarea4.14}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image4.15}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic4.15}}</div>
    <div class="labelContainer3">{{textarea4.15}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image4.16}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic4.16}}</div>
    <div class="labelContainer3">{{textarea4.16}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image4.17}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic4.17}}</div>
    <div class="labelContainer3">{{textarea4.17}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image4.18}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic4.18}}</div>
    <div class="labelContainer3">{{textarea4.18}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image4.19}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic4.19}}</div>
    <div class="labelContainer3">{{textarea4.19}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image4.20}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic4.20}}</div>
    <div class="labelContainer3">{{textarea4.20}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <div class="labelContainer3">Section 5:</div>
    <div class="imglabelcontainer"> <div class="labelContainer2">{{section1_topic.4}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image5.0}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic5.0}}</div>
    <div class="labelContainer3">{{textarea5.0}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image5.1}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic5.1}}</div>
    <div class="labelContainer3">{{textarea5.1}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image5.2}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic5.2}}</div>
    <div class="labelContainer3">{{textarea5.2}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image5.3}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic5.3}}</div>
    <div class="labelContainer3">{{textarea5.3}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image5.4}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic5.4}}</div>
    <div class="labelContainer3">{{textarea5.4}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image5.5}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic5.5}}</div>
    <div class="labelContainer3">{{textarea5.5}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image5.6}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic5.6}}</div>
    <div class="labelContainer3">{{textarea5.6}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image5.7}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic5.7}}</div>
    <div class="labelContainer3">{{textarea5.7}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image5.8}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic5.8}}</div>
    <div class="labelContainer3">{{textarea5.8}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image5.9}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic5.9}}</div>
    <div class="labelContainer3">{{textarea5.9}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image5.10}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic5.10}}</div>
    <div class="labelContainer3">{{textarea5.10}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image5.11}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic5.11}}</div>
    <div class="labelContainer3">{{textarea5.11}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image5.12}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic5.12}}</div>
    <div class="labelContainer3">{{textarea5.12}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image5.13}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic5.13}}</div>
    <div class="labelContainer3">{{textarea5.13}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image5.14}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic5.14}}</div>
    <div class="labelContainer3">{{textarea5.14}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image5.15}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic5.15}}</div>
    <div class="labelContainer3">{{textarea5.15}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image5.16}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic5.16}}</div>
    <div class="labelContainer3">{{textarea5.16}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image5.17}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic5.17}}</div>
    <div class="labelContainer3">{{textarea5.17}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image5.18}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic5.18}}</div>
    <div class="labelContainer3">{{textarea5.18}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image5.19}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic5.19}}</div>
    <div class="labelContainer3">{{textarea5.19}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image5.20}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic5.20}}</div>
    <div class="labelContainer3">{{textarea5.20}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <div class="labelContainer3">Section 6:</div>
    <div class="imglabelcontainer"> <div class="labelContainer2">{{section1_topic.5}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image6.0}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic6.0}}</div>
    <div class="labelContainer3">{{textarea6.0}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image6.1}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic6.1}}</div>
    <div class="labelContainer3">{{textarea6.1}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image6.2}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic6.2}}</div>
    <div class="labelContainer3">{{textarea6.2}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image6.3}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic6.3}}</div>
    <div class="labelContainer3">{{textarea6.3}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image6.4}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic6.4}}</div>
    <div class="labelContainer3">{{textarea6.4}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image6.5}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic6.5}}</div>
    <div class="labelContainer3">{{textarea6.5}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image6.6}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic6.6}}</div>
    <div class="labelContainer3">{{textarea6.6}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image6.7}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic6.7}}</div>
    <div class="labelContainer3">{{textarea6.7}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image6.8}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic6.8}}</div>
    <div class="labelContainer3">{{textarea6.8}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image6.9}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic6.9}}</div>
    <div class="labelContainer3">{{textarea6.9}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image6.10}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic6.10}}</div>
    <div class="labelContainer3">{{textarea6.10}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image6.11}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic6.11}}</div>
    <div class="labelContainer3">{{textarea6.11}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image6.12}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic6.12}}</div>
    <div class="labelContainer3">{{textarea6.12}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image6.13}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic6.13}}</div>
    <div class="labelContainer3">{{textarea6.13}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image6.14}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic6.14}}</div>
    <div class="labelContainer3">{{textarea6.14}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image6.15}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic6.15}}</div>
    <div class="labelContainer3">{{textarea6.15}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image6.16}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic6.16}}</div>
    <div class="labelContainer3">{{textarea6.16}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image6.17}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic6.17}}</div>
    <div class="labelContainer3">{{textarea6.17}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image6.18}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic6.18}}</div>
    <div class="labelContainer3">{{textarea6.18}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image6.19}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic6.19}}</div>
    <div class="labelContainer3">{{textarea6.19}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image6.20}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic6.20}}</div>
    <div class="labelContainer3">{{textarea6.20}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <div class="labelContainer3">Section 7:</div>
    <div class="imglabelcontainer"> <div class="labelContainer2">{{section1_topic.6}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image7.0}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic7.0}}</div>
    <div class="labelContainer3">{{textarea7.0}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image7.1}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic7.1}}</div>
    <div class="labelContainer3">{{textarea7.1}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image7.2}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic7.2}}</div>
    <div class="labelContainer3">{{textarea7.2}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image7.3}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic7.3}}</div>
    <div class="labelContainer3">{{textarea7.3}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image7.4}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic7.4}}</div>
    <div class="labelContainer3">{{textarea7.4}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image7.5}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic7.5}}</div>
    <div class="labelContainer3">{{textarea7.5}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image7.6}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic7.6}}</div>
    <div class="labelContainer3">{{textarea7.6}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image7.7}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic7.7}}</div>
    <div class="labelContainer3">{{textarea7.7}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image7.8}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic7.8}}</div>
    <div class="labelContainer3">{{textarea7.8}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image7.9}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic7.9}}</div>
    <div class="labelContainer3">{{textarea7.9}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image7.10}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic7.10}}</div>
    <div class="labelContainer3">{{textarea7.10}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image7.11}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic7.11}}</div>
    <div class="labelContainer3">{{textarea7.11}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image7.12}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic7.12}}</div>
    <div class="labelContainer3">{{textarea7.12}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image7.13}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic7.13}}</div>
    <div class="labelContainer3">{{textarea7.13}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image7.14}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic7.14}}</div>
    <div class="labelContainer3">{{textarea7.14}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image7.15}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic7.15}}</div>
    <div class="labelContainer3">{{textarea7.15}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image7.16}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic7.16}}</div>
    <div class="labelContainer3">{{textarea7.16}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image7.17}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic7.17}}</div>
    <div class="labelContainer3">{{textarea7.17}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image7.18}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic7.18}}</div>
    <div class="labelContainer3">{{textarea7.18}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image7.19}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic7.19}}</div>
    <div class="labelContainer3">{{textarea7.19}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image7.20}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic7.20}}</div>
    <div class="labelContainer3">{{textarea7.20}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <div class="labelContainer3">Section 8:</div>
    <div class="imglabelcontainer"> <div class="labelContainer2">{{section1_topic.7}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image8.0}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic8.0}}</div>
    <div class="labelContainer3">{{textarea8.0}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image8.1}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic8.1}}</div>
    <div class="labelContainer3">{{textarea8.1}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image8.2}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic8.2}}</div>
    <div class="labelContainer3">{{textarea8.2}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image8.3}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic8.3}}</div>
    <div class="labelContainer3">{{textarea8.3}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image8.4}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic8.4}}</div>
    <div class="labelContainer3">{{textarea8.4}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image8.5}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic8.5}}</div>
    <div class="labelContainer3">{{textarea8.5}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image8.6}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic8.6}}</div>
    <div class="labelContainer3">{{textarea8.6}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image8.7}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic8.7}}</div>
    <div class="labelContainer3">{{textarea8.7}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image8.8}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic8.8}}</div>
    <div class="labelContainer3">{{textarea8.8}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image8.9}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic8.9}}</div>
    <div class="labelContainer3">{{textarea8.9}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image8.10}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic8.10}}</div>
    <div class="labelContainer3">{{textarea8.10}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image8.11}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic8.11}}</div>
    <div class="labelContainer3">{{textarea8.11}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image8.12}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic8.12}}</div>
    <div class="labelContainer3">{{textarea8.12}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image8.13}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic8.13}}</div>
    <div class="labelContainer3">{{textarea8.13}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image8.14}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic8.14}}</div>
    <div class="labelContainer3">{{textarea8.14}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image8.15}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic8.15}}</div>
    <div class="labelContainer3">{{textarea8.15}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image8.16}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic8.16}}</div>
    <div class="labelContainer3">{{textarea8.16}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image8.17}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic8.17}}</div>
    <div class="labelContainer3">{{textarea8.17}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image8.18}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic8.18}}</div>
    <div class="labelContainer3">{{textarea8.18}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image8.19}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic8.19}}</div>
    <div class="labelContainer3">{{textarea8.19}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image8.20}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic8.20}}</div>
    <div class="labelContainer3">{{textarea8.20}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <div class="labelContainer3">Section 9:</div>
    <div class="imglabelcontainer"> <div class="labelContainer2">{{section1_topic.8}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image9.0}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic9.0}}</div>
    <div class="labelContainer3">{{textarea9.0}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image9.1}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic9.1}}</div>
    <div class="labelContainer3">{{textarea9.1}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image9.2}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic9.2}}</div>
    <div class="labelContainer3">{{textarea9.2}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image9.3}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic9.3}}</div>
    <div class="labelContainer3">{{textarea9.3}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image9.4}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic9.4}}</div>
    <div class="labelContainer3">{{textarea9.4}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image9.5}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic9.5}}</div>
    <div class="labelContainer3">{{textarea9.5}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image9.6}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic9.6}}</div>
    <div class="labelContainer3">{{textarea9.6}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image9.7}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic9.7}}</div>
    <div class="labelContainer3">{{textarea9.7}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image9.8}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic9.8}}</div>
    <div class="labelContainer3">{{textarea9.8}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image9.9}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic9.9}}</div>
    <div class="labelContainer3">{{textarea9.9}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image9.10}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic9.10}}</div>
    <div class="labelContainer3">{{textarea9.10}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image9.11}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic9.11}}</div>
    <div class="labelContainer3">{{textarea9.11}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image9.12}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic9.12}}</div>
    <div class="labelContainer3">{{textarea9.12}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image9.13}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic9.13}}</div>
    <div class="labelContainer3">{{textarea9.13}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image9.14}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic9.14}}</div>
    <div class="labelContainer3">{{textarea9.14}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image9.15}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic9.15}}</div>
    <div class="labelContainer3">{{textarea9.15}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image9.16}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic9.16}}</div>
    <div class="labelContainer3">{{textarea9.16}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image9.17}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic9.17}}</div>
    <div class="labelContainer3">{{textarea9.17}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image9.18}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic9.18}}</div>
    <div class="labelContainer3">{{textarea9.18}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image9.19}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic9.19}}</div>
    <div class="labelContainer3">{{textarea9.19}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image9.20}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic9.20}}</div>
    <div class="labelContainer3">{{textarea9.20}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <div class="labelContainer3">Section 10:</div>
    <div class="imglabelcontainer"> <div class="labelContainer2">{{section1_topic.9}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image10.0}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic10.0}}</div>
    <div class="labelContainer3">{{textarea10.0}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image10.1}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic10.1}}</div>
    <div class="labelContainer3">{{textarea10.1}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image10.2}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic10.2}}</div>
    <div class="labelContainer3">{{textarea10.2}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image10.3}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic10.3}}</div>
    <div class="labelContainer3">{{textarea10.3}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image10.4}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic10.4}}</div>
    <div class="labelContainer3">{{textarea10.4}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image10.5}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic10.5}}</div>
    <div class="labelContainer3">{{textarea10.5}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image10.6}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic10.6}}</div>
    <div class="labelContainer3">{{textarea10.6}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image10.7}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic10.7}}</div>
    <div class="labelContainer3">{{textarea10.7}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image10.8}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic10.8}}</div>
    <div class="labelContainer3">{{textarea10.8}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image10.9}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic10.9}}</div>
    <div class="labelContainer3">{{textarea10.9}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image10.10}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic10.10}}</div>
    <div class="labelContainer3">{{textarea10.10}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image10.11}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic10.11}}</div>
    <div class="labelContainer3">{{textarea10.11}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image10.12}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic10.12}}</div>
    <div class="labelContainer3">{{textarea10.12}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image10.13}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic10.13}}</div>
    <div class="labelContainer3">{{textarea10.13}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image10.14}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic10.14}}</div>
    <div class="labelContainer3">{{textarea10.14}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image10.15}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic10.15}}</div>
    <div class="labelContainer3">{{textarea10.15}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image10.16}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic10.16}}</div>
    <div class="labelContainer3">{{textarea10.16}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image10.17}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic10.17}}</div>
    <div class="labelContainer3">{{textarea10.17}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image10.18}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic10.18}}</div>
    <div class="labelContainer3">{{textarea10.18}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image10.19}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic10.19}}</div>
    <div class="labelContainer3">{{textarea10.19}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image10.20}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic10.20}}</div>
    <div class="labelContainer3">{{textarea10.20}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <div class="labelContainer3">Section 11:</div>
    <div class="imglabelcontainer"> <div class="labelContainer2">{{section1_topic.10}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image11.0}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic11.0}}</div>
    <div class="labelContainer3">{{textarea11.0}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image11.1}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic11.1}}</div>
    <div class="labelContainer3">{{textarea11.1}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image11.2}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic11.2}}</div>
    <div class="labelContainer3">{{textarea11.2}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image11.3}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic11.3}}</div>
    <div class="labelContainer3">{{textarea11.3}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image11.4}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic11.4}}</div>
    <div class="labelContainer3">{{textarea11.4}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image11.5}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic11.5}}</div>
    <div class="labelContainer3">{{textarea11.5}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image11.6}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic11.6}}</div>
    <div class="labelContainer3">{{textarea11.6}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image11.7}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic11.7}}</div>
    <div class="labelContainer3">{{textarea11.7}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image11.8}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic11.8}}</div>
    <div class="labelContainer3">{{textarea11.8}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image11.9}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic11.9}}</div>
    <div class="labelContainer3">{{textarea11.9}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image11.10}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic11.10}}</div>
    <div class="labelContainer3">{{textarea11.10}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image11.11}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic11.11}}</div>
    <div class="labelContainer3">{{textarea11.11}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image11.12}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic11.12}}</div>
    <div class="labelContainer3">{{textarea11.12}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image11.13}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic11.13}}</div>
    <div class="labelContainer3">{{textarea11.13}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image11.14}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic11.14}}</div>
    <div class="labelContainer3">{{textarea11.14}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image11.15}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic11.15}}</div>
    <div class="labelContainer3">{{textarea11.15}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image11.16}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic11.16}}</div>
    <div class="labelContainer3">{{textarea11.16}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image11.17}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic11.17}}</div>
    <div class="labelContainer3">{{textarea11.17}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image11.18}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic11.18}}</div>
    <div class="labelContainer3">{{textarea11.18}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image11.19}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic11.19}}</div>
    <div class="labelContainer3">{{textarea11.19}}</div>
  </div>

  </div></div><div class="mySlides fade"><div class="insideSlide">
    <image src="{{image11.20}}" />
    <div class="imglabelcontainer"> <div class="labelContainer2">{{topic11.20}}</div>
    <div class="labelContainer3">{{textarea11.20}}</div>
  </div>
</div>

</div>
<br>
<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>
<div style="text-align:center">
  <span class="buttony" onclick="currentSlide(1)">Start Slideshow</span>
</div>
{{/talktopics}}
{{/talks}}

</div>
<button class="buttonx" onclick="goBack()">Go Back</button>
</body>

</html>
