<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>The Talk Maker</title>
  <link rel="stylesheet" href="/talkgenerator.css">
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Volkhov" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- <script>
    $(document).ready(function() {
      console.log("talking");

      let topicInput = document.getElementById('topicInput');
      let searchbtn = document.getElementById('searchbtn');
      searchbtn.onclick = searchAPI;

      function searchAPI() {

        let searchResults = topicInput.value;

        fetch('https://owlbot.info/api/v1/dictionary/'+searchResults+'?format=json').then(function(response) {
          if (response.status != 200) {
            window.alert("Sorry, nothing matches those search terms.  Try another search, or use the panel on the left.");
            return;
          }

          response.json().then(function(data) {
            let api = data;

            for (var i = 0; i < 1; i++) {
              let api = data;

              let markup =`
                <p class="genconauthor1">${data[0].defenition}</p>
              `

            document.getElementById('updatediv').innerHTML = markup;
            console.log(markup);
        }})
      })
    }
  })

  </script> -->
<script>
$(window).load(function() {
let labelText = "click here to ";
let labelArray = [
  "make magic happen",
  "unleash the unicorns",
  "hit a bees nest with stick",
  "use a concrete parachute",
  "hit nail with glass hammer",
  "invent the internet",
  "turn on opaque light bulb",
  "watch invisible TV",
  "add your name to the do not call list",
  "print the phonebook",
  "invent gas powered cordless radio",
  "put roller skates on dog",
  "invent wooden chimney",
  "invent leather guitar",
  "install internet explorer",
  "do a yahoo search",
  "order book of the inetnet, volume 2",
  "invent shrimp bubble gum",
  "invent hand cranked electric skateboar",
  "invent glass flyswatter",
  "invent battery powered batteries",
  "replace Iron Man with Dry Clean Man",
  "invent McDonalds Sad Meals",
  "ban prime numbers",
  "invent gas powered solar panel",
  "give 101%",
  "organize a three man quartet",
  "combine a giraffe and a koala",
  "",
];
let randomLabelArray = labelArray[Math.floor(Math.random(1) * labelArray.length)];
let labelOutput = labelText +" "+randomLabelArray;
document.getElementById('label').innerHTML = labelOutput;
})
</script>

  <script>
  $(document).ready(function() {
    console.log("talking");

    let topicInput = document.getElementById('topicInput');
    let genconf = document.getElementById('genconf');
    genconf.onclick = searchAPI;
    console.log(topicInput);
    console.log(genconf);



    function searchAPI() {

      let searchResults = topicInput.value;

      var str = topicInput.value;

      var mapObj = {
        "free agency": "agency",
        "the atonement": "atonement",
        "baptize": "baptism",
        "book of mormon": "bookofmormon",
        "love": "charity",
        "charitable": "charity",
        "pure love": "charity",
        "pure love of christ": "charity",
        "created": "creation",
        "religion": "church",
        "church organization": "church",
        "d&c": "doctrinecovenants",
        "events": "events",
        "heavenly father": "god",
        "father in heaven": "god",
        "god the father": "god",
        "father": "god",
        "belief": "faith",
        "hope": "faith",
        "the holy ghost": "holyghost",
        "holy spirit": "holyghost",
        "holy ghost": "holyghost",
        "spirit": "holyghost",
        "the spirit": "holyghost",
        "honesty": "honesty",
        "honest": "honesty",
        "lie": "honesty",
        "steal": "honesty",
        "integrity": "honesty",
        "bible": "newtestament",
        "new testament": "newtestament",
        "obedience": "obedience",
        "follow": "obedience",
        "submission": "obedience",
        "submissive": "obedience",
        "old testament": "oldtestament",
        "people": "people",
        "melchizedek priesthood": "priesthood",
        "aaronic priesthood": "priesthood",
        "melchizedek": "priesthood",
        "aaronic": "priesthood",
        "prophets of god": "prophets",
        "prophet": "prophets",
        "prophets": "prophets",
        "repent": "repentence",
        "repentance": "repentence",
        "forgiveness": "repentence",
        "bread and water": "sacrament",
        "the sacrament": "sacrament",
        "scripture": "scriptures",
        "scriptures": "scriptures",
        "the scriptures": "scriptures",
        "word of god": "scriptures",
        "labor": "service",
        "work": "service",
        "responsibility": "service",
        "personal responsibility": "service",
        "fall of man": "thefall",
        "the fall": "thefall",
        "fall of mankind": "thefall",
        "fall": "thefall",
        "jesus christ": "jesus",
        "christ": "jesus",
        "savior": "jesus",
        "redeemer": "jesus",
        "lord": "jesus",
        "fall of adam": "thefall",
        "garden of eden": "thefall",
        "lucifer": "thefall",
        "original sin": "thefall",
        "law of health": "wordofwisdom",
        "word of wisdom": "wordofwisdom",
        "apostles": "apostle",
        "the godhead": "godhead",
        "revelation": "testimony",
        "truth": "testimony",
        "testify": "testimony",
        "conversion": "testimony",
        "devil": "hell",
        "satan": "hell",
        "damnation": "hell",
        "torment": "hell",
        "eternal marriage": "marriage",
        "temple marriage": "marriage",
        "fire and brimstone": "hell",
        "celestial kingdom": "heaven",
        "plan of salvation": "heaven",
        "telestial": "heaven",
        "exaltation": "heaven",
        "immortality": "heaven",
        "eternal life": "heaven",
        "three degrees of glory": "heaven",
        "missionaries": "missionary",
        "preach": "missionary",
        "preaching": "missionary",
        "missionary work": "missionary",
        "christmas": "nativity",
        "church history": "pioneer",
        "pioneers": "pioneer",
        "handcarts": "pioneer",
        "nauvoo": "pioneer",
        "premortal existence": "premortal",
        "council in heaven": "premortal",
        "premortal life": "premortal",
        "war in heaven": "premortal",
        "easter": "resurrection",
        "resurrected": "resurrection",
        "crucifixion": "resurrection",
        "cross": "resurrection",
        "the resurrection": "resurrection",
        "woman": "women",
        "widow": "women",
        "mary": "women",
        "mothers": "women",
        "mother": "women",
        "motherhood": "women",
        "daughter": "women",
        "daughters": "women",
        "relief society": "women",
        "daughters of god": "women",
        "the great apostasy": "apostasy",
        "restoration": "apostasy",
        "first vision": "apostasy",
        "the first vision": "apostasy",
        "the restoration": "apostasy",
        "apostasy and restoration": "apostasy",
        "first vision": "apostasy",
        "family home evening": "family",
        "family prayer": "family",
        "eternal family": "family",
        "virtue": "chastity",
        "chaste": "chastity",
        "virtuous": "chastity",
        "child": "children",
        "primary": "children",
        "primary children": "children",
        "covenant": "covenants",
        "temple covenant": "covenants",
        "temple covenants": "covenants",
        "baptismal covenant": "covenants",
        "baptismal covenants": "covenants",
        "life after death": "death",
        "die": "death",
        "mortality": "death",
        "family history": "genealogy",
        "ancestors": "genealogy",
        "family tree": "genealogy",
        "spiritual gifts": "giftsofthespirit",
        "gifts of the spirit": "giftsofthespirit",
        "good news": "gospel",
        "good news of the gospel": "gospel",
        "the gospel": "gospel",
        "gospel": "gospel",
        "plan of salvation": "gospel",
        "the plan of salvation": "gospel",
        "happy": "happiness",
        "joy": "happiness",
        "plan of happiness": "happiness",
        "miracle": "miracles",
        "brigham young": "brighamyoung",
        "brigham": "brighamyoung",
        "davdid bednar": "dabednar",
        "bednar": "dabednar",
        "davdid a. bednar": "dabednar",
        "daivd o mckay": "davidomckay",
        "daivd o. mckay": "davidomckay",
        "uchtdorf": "dfuchtdorf",
        "dieter uchtdorf": "dfuchtdorf",
        "dieter f. uchtdorf": "dfuchtdorf",
        "renlund": "dgrenlund",
        "dale g. renlund": "dgrenlund",
        "oaks": "dhoaks",
        "dallin h. oaks": "dhoaks",
        "D. Todd Christofferson": "dtchristofferson",
        "Christofferson": "dtchristofferson",
        "benson": "ezrataftbenson",
        "ezra taft benson": "ezrataftbenson",
        "benson": "ezrataftbenson",
        "george a. smith": "georgeasmith",
        "george albert smith": "georgeasmith",
        "gary e. stevenson": "gestevenson",
        "gordon b. hinckley": "gordonbhinckley",
        "hinckley": "gordonbhinckley",
        "harold b. lee": "haroldblee",
        "eyring": "hbeyring",
        "henry b. eyring": "hbeyring",
        "grant": "heberjgrant",
        "heber j. grant": "heberjgrant",
        "howard w. hunter": "howardwhunter",
        "hunter": "howardwhunter",
        "john taylor": "johntaylor",
        "joseph fielding smith": "josephfieldingsmith",
        "joseph f. smith": "josephfsmith",
        "joseph smith": "josephsmith",
        "joseph": "josephsmith",
        "jeffrey r. holland": "jrholland",
        "holland": "jrholland",
        "lorenzo snow": "lorenzosnow",
        "snow": "lorenzosnow",
        "m. russell ballard": "mrballard",
        "ballard": "mrballard",
        "neil l. anderson": "nlanderson",
        "quentin l. cook": "qlcook",
        "rasband": "rarasband",
        "ronald a. rasband": "rarasband",
        "russell m. nelson": "rmnelson",
        "nelson": "rmnelson",
        "spencer w. kimball": "spencerkimball",
        "thomas s. monson": "tsmonson",
        "monson": "tsmonson",
        "woodruff": "wilfordwoodruff",
        "wilford woodruff": "wilfordwoodruff",
        "self reliance": "selfreliance",
        "self-reliance": "selfreliance",
        "second coming": "secondcoming",
        "the second coming": "secondcoming",
        "miracles": "miracles",
        "miracle": "miracles",
      };
      var re = new RegExp(Object.keys(mapObj).join("|"), "gi");
      str = str.replace(re, function(matched) {
        return mapObj[matched.toLowerCase()];
      });


      fetch('https://presentation-maker.herokuapp.com/api/scriptures/' + str).then(function(response) {
        if (response.status != 200) {
          window.alert("Sorry, nothing matches those search terms.  Try a different word, or a similar terms.");
          return;
        }

        response.json().then(function(data) {
          let api = data;

          function renderapis() {

            return `${api.map(api =>
          `
          <div>
          <p>&${api.book_and_verse_number}%</p>
          <h3>#${api.verse_text}#&</h3>
          </div>
          `
          )}
          `

          }

          let markup = `${renderapis()}`;
          document.getElementById('para2').innerHTML = markup;
          alert("I found some sciptures for you.  Click on the add new paragagraph to generate the next part of your talk.")

        })
      })
    }
  })

  </script>
<script>
function getscript () {
let arrayScript = [];
let arrayScript2 = [];
let sentence = "";
let topic = document.getElementById('topicInput').value;
let str = document.getElementById('para2').innerHTML;
let result = str.match( /[^\&!\?]+[\&!\?]+/g );
for (var i = 0; i < result.length; i++) {
  let sentence2 = result[i];
if (sentence2.indexOf(topic) >= 0) {
    arrayScript2.push(sentence2);
  }
  let random2 = arrayScript2[Math.floor(Math.random(1) * arrayScript2.length)];
  document.getElementById('para8').innerHTML = random2;
}
for (var i = 0; i < result.length; i++) {
  let sentence = result[i];
  if (sentence.indexOf("is") >= 0) {
    arrayScript.push(sentence);
  }
  let random = arrayScript[Math.floor(Math.random(1) * arrayScript.length)];
  document.getElementById('para3').innerHTML = random;
}
let text = document.getElementById('para3').innerHTML;
let text2 = document.getElementById('para8').innerHTML;

let chapter = text.match( /[^\&!\?]+[\%!\?]+/g );
let chapter2 = text2.match( /[^\&!\?]+[\%!\?]+/g );
document.getElementById('chapter').innerHTML = chapter;
document.getElementById('chapter2').innerHTML = chapter2;
let book_and_chapter = document.getElementById('chapter').innerHTML;
let book_and_chapter2 = document.getElementById('chapter2').innerHTML;
let cleaned_book = book_and_chapter.replace('amp;', '');
let cleaned_book2 = book_and_chapter2.replace('amp;', '');
let book_title = cleaned_book.replace(/[0-9]/g, '').replace('%', "");
let book_title2 = cleaned_book2.replace(/[0-9]/g, '').replace('%', "");
let prophetArray = [
  "Nephi",
  "Mosiah",
  "Alma",
  "Helaman",
  "Jacob",
  "Enos",
  "Jarom",
  "Mormon",
  "Moroni",
  "Ether",
];
let randomProphet = prophetArray[Math.floor(Math.random(1) * prophetArray.length)];
function replaceBookTitle(x){
  if (x.length > 20) {
    x = randomProphet;
  }
  else{
    x = x;
  }
  return x;
}
let edited_title = replaceBookTitle(book_title);
let edited_title2 = replaceBookTitle(book_title2);
function firstLetter (x) {
  let a = x[0];
  if (a == 1 || 2 || 3 || 4){
    a = "";
  }else{
    a = a;
  }
  return x;
}
let new_book = firstLetter(cleaned_book);
let new_book2 = firstLetter(cleaned_book2);
let chapter_number = new_book.replace(/\D/g,'');
let chapter_number2 = new_book2.replace(/\D/g,'');
function chapterNmbr (x) {
  if (x == ""){
    x = 3;
  }else {
    x = x;
  }
  return x;
}
let edited_number = chapterNmbr(chapter_number);
let edited_number2 = chapterNmbr(chapter_number2);
  let number = text.match( /[^\[!\?]+[\]!\?]+/g );
  let number2 = text2.match( /[^\[!\?]+[\]!\?]+/g );
  let verse = text.match( /[^\#!\?]+[\#!\?]+/g );
  let verse2 = text2.match( /[^\#!\?]+[\#!\?]+/g );
  document.getElementById('number').innerHTML = number;
  document.getElementById('number2').innerHTML = number2;
  let dirtyNumber = document.getElementById('number').innerHTML;
  let dirtyNumber2 = document.getElementById('number2').innerHTML;
  let cleanNumber = dirtyNumber.replace(/\D/g,'');
  let cleanNumber2 = dirtyNumber2.replace(/\D/g,'');
  document.getElementById('verse').innerHTML = verse;
  document.getElementById('verse2').innerHTML = verse2;
  let dirtyVerse = document.getElementById('verse').innerHTML;
  let dirtyVerse2 = document.getElementById('verse2').innerHTML;
  let cleanVerse = dirtyVerse.replace('"amp;%','').replace('%','').replace('<p>','').replace('</p>','').replace('<h3>','').replace('#','').replace('↵','').replace('amp','').replace(';','').replace('[', '').replace(']', ')');
  let cleanVerse2 = dirtyVerse2.replace('"amp;%','').replace('%','').replace('<p>','').replace('</p>','').replace('<h3>','').replace('#','').replace('↵','').replace('amp','').replace(';','').replace('[', '').replace(']', ')');

let paragraph2 = "As I started to think about the topic, the first question that came to my mind was simply,what is "+topic+"?"+" Naturally, I turned to the scriptures for help. In the Book of Mormon, "+edited_title+" gives us a little more insight into what "+topic+" is. In "+edited_title+" chapter "+edited_number+", verse " +cleanNumber+ " we read the following:";

console.log(paragraph2);
let paragraph3 = '"'+cleanVerse+'."';

let paragraph11 = "Here, "+edited_title+" teaches us that "+topic+" means...(add your comments here)";

let paragraph4 = "(now is a good place to share a personal experience.  Think of someone you know who is an example of "+topic+" or an experince where you learned something about"+topic+" )";

let paragraph5 = "As I thought about the meaning of "+topic+" and how it relates to my experiences, the next question that came to mind was, 'why is "+topic+" truly important? Is it simply because I know it brings me blessings? As I pondered these questions, I again turned to the scriptures to try to understand the real importance of this principle, and how it can strengthen my life. The Book of Mormon helped to clarify and answer some of my questions for me.  In "+edited_title2+" chapter "+edited_number2+" verse "+cleanNumber2+" "+edited_title2+" says the following:";

let paragraph6 = '"'+cleanVerse2+'."';
console.log(edited_title2);
console.log(edited_number2);
console.log(cleanVerse2);
console.log(cleanNumber2);

let firstName = document.getElementById('firstNameInput').value;
let lastName = document.getElementById('lastNameInput').value;
let here = document.getElementById('hereInput').value;
let time = document.getElementById('timeInput').value;
let genderInput = document.getElementById('malefemaleInput');
let marriage = document.getElementById('marriedSingleInput');
let from = document.getElementById('fromInput').value;
let areaSwitch = document.getElementById('areaSwitch');
function determineGender(x){
  let genderX = "monkey";
  if (x.value == "male") {
    genderX = "male";
  }
  else if (x.value == "female"){
    genderX = "female";
  }
  return genderX;
}
let newGender = determineGender(genderInput);
console.log(newGender);

function determineTitle(x){
  let titleX = "snake";
  if (x.value == "male") {
    titleX = "brother";
  }
  else if (x.value == "female"){
    titleX = "sister";
  }
  return titleX;
}
let newTitle = determineTitle(genderInput);
console.log(newTitle);

function determineMaritalStatus(x){
  let maritalX = "monkey";
  if (x.value == "married") {
    maritalX = "married";
  }
  else if (x.value == "single"){
    maritalX = "single";
  }
  return maritalX;
}
let newMaritalStatus = determineMaritalStatus(marriage);
console.log(newMaritalStatus);

function determineWhy(x){
  let whyX = "bananas";
  if (x.value == "work") {
    whyX = "work";
  }
  else if (x.value == "school"){
    whyX = "school";
  }
  else if (x.value == "opportunities"){
    whyX = "opportunities";
  }
  return whyX;
}
let newWhy = determineWhy(areaSwitch);
console.log(newWhy);


  function determineMarital(x, y){
    let pronoun = "undetermined";
    let sentence = "undetermined";
    if (x == "single") {
      newStatus = "I";
    }
  else if (x == "married" && (y == "male")) {
    newStatus = "My wife and I";
  }
  else if (x == "married" && (y == "female")) {
    newStatus = "My husband and I";
  }
  return newStatus;
}
let marital =  determineMarital(newMaritalStatus, newGender);

console.log(marital);

function determinePronoun(x){
  let pronoun = "undetermined";
  if (x == "single") {
    pronoun = "I";
  }
  else {
    pronoun = "we";
  }
  return pronoun;
}
let pronoun = determinePronoun(newMaritalStatus);
console.log(pronoun);


let paragraph1 = "Good morning brothers and sisters. For those of you who don't know me, I'm "+firstName+" ."+" Or, if you prefer, you can call me "+newTitle+" "+lastName+". I grew up in "+ from +" but " + marital + " moved here to " + here +" and have been in the area for the past " + time + ". " + pronoun + " moved to the area because of "+ newWhy +","+ "  and moving here has been one of the best decisions that " + pronoun + " have ever made. I'm grateful to be here today, and have been asked to speak on the topic of "+topic+".";


document.getElementById('intro').innerHTML = paragraph1;

document.getElementById('para5').innerHTML = paragraph2;
document.getElementById('para6').innerHTML = paragraph3;
document.getElementById('para7').innerHTML = paragraph4;
document.getElementById('para9').innerHTML = paragraph5;
document.getElementById('para10').innerHTML = paragraph6;
document.getElementById('para11').innerHTML = paragraph11;

}

</script>


</head>

<body id="body">


  <section class="search">
    <h3>Step 1: Complete some basic information.</h3>
    <span>
    <label> First Name? </label>
    <input  placeholder="name" class="videoInput" type="text" id="firstNameInput">
  </span>
  <span>
  <label> Last Name? </label>
  <input  placeholder="name" class="videoInput" type="text" id="lastNameInput">
</span>
  <span>
  <label> What city are you from originally? </label>
    <input placeholder="from" class="videoInput" type="text" id="fromInput">
    </span>
    <span>
    <label> What city or ward do you live in now? </label>
    <input placeholder="here" class="videoInput" type="text" id="hereInput">
    </span>
    <span>
    <label> How long have you lived here? </label>
    <input placeholder="time" class="videoInput" type="text" id="timeInput">
    </span>
    <span>
    <label> Are you male or female? </label>
    <select placeholder="topic" class="videoInput" type="text" id="malefemaleInput">
      <option value="male" id="male">male</option>
      <option value="female" id="female">female</option>
    </select>
    </span>
    <span>
    <label> Are you married or single? </label>
    <select placeholder="topic" class="videoInput" type="text" id="marriedSingleInput">
      <option value="single" id="single">single</option>
      <option value="married" id="married">married</option>
    </select>
    </span>
    <span>
    <label> What brought you to this area? </label>
    <select placeholder="topic" class="videoInput" type="text" id="areaSwitch">
      <option value="work" id="work">work</option>
      <option value="school" id="school">school</option>
      <option value="opportunities" id="opportunities">other opportunities</option>
    </select>
    </span>
    <span>
    <label> What is your talk topic? </label>
    <input placeholder="topic" class="videoInput" type="text" id="topicInput">
    </span>
    <h3>Step 2: <label id="label"></label><button class="submitButton2" type="submit" id="genconf" name="button">click here</button></h3>


  </span>

<h3>Step 3: click here to generate new talk:
    <button class="submitButton2" onclick="getscript();" type="submit" id="getscript" name="button">click here</button>
  </h3>

</section>


<p id="intro"></p>
<p id="para2"></p>
<p id="para3"></p>
<p id="para4"></p>
<p id="para5"></p>
<p id="para6"></p>
<p id="para11"></p>
<p id="para7"></p>
<p id="para8"></p>
<p id="para9"></p>
<p id="para10"></p>
<p id="chapter"></p>
<p id="number"></p>
<p id="verse"></p>
<p id="chapter2"></p>
<p id="number2"></p>
<p id="verse2"></p>

</body>

</html>
