<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>The Talk Maker</title>
  <link rel="stylesheet" href="/home.css">
</head>

<body>
  <div class="navbar">
  <img class="logo" src="/logo.png">
  <a class="link2" href="/talkname">start a new talk</a>
  <a class="link" href="/mytalks">organize a talk</a>
  <a class="link" href="/completed">view completed talks</a>

  <form class="plink" action="/logout" method="post">

        <input class="submitbtn1" value="logout" type="submit">
      </form>
  </div>
  <div class="bodywrapper2">

    <form class="blink" action="/talkname" method="post">
          <label class="talk_name">Talk Name:</label>
          <input class="inputfield4" type="text" name="talk_name" />
          <input class="submitbtn1" type="submit">
        </form>

  </div>
</body>

</html>
