<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>The Talk Maker</title>
  <link rel="stylesheet" href="/home.css">
</head>

<body>
  <div class="navbar">
  <img class="logo" src="/logo.png">
  <a class="link2" href="/talkname">create a talk topic</a>
  <a class="link" href="/mytalks">make a new talk</a>
  <a class="link" href="/saved">saved talks</a>
  <a class="link" href="/completed">completed talks</a>
  <a class="link" href="/logout">logout</a>
  </div>
  <div class="bodywrapper2">

    <form class="blink" action="/talkname" method="post">
          <label class="talk_name">Talk Topic:</label>
          <input class="inputfield4" type="text" name="talk_name" />
          <input class="submitbtn1" type="submit">
        </form>

  </div>
</body>

</html>
