<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>The Talk Maker</title>
  <link rel="stylesheet" href="/landing.css">
  <link href="https://fonts.googleapis.com/css?family=Volkhov" rel="stylesheet">
</head>

<body>

<div class="logo">
  <img src="/logo.png">
</div>

<div class="loginform">

    <h1>Signup Successful.  Continue to Login?</h1>

</div>

<div class="container1">

<div class="navContainer2">
<a href="/login" class="landingTitle">
  Yes, Thanks for asking!
</a>

<a href="/signup" class="landingTitle">
  Not yet.  I'd like to sign up with another username first.
</a>
</div>



</div>

</body>

</html>
