* {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  font-family: sans-serif;
}

body {
  margin: 0px;
}

.bodywrapper {
  width: 95vw;
  display: flex;
  flex-flow: column wrap;
}

.bodywrapper4 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
}

.bodywrapper6 {
  margin-top: 15px;
  width: 90vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  border-left: solid black 2px;
}

.form1 {
  width: 100%;
}

a img {
  width: 90%;
}

.mormon {
  height: 60px;
}

.byu {
  height: 60px;
}

.pgp {
  height: 60px;
}

.bom {
  height: 60px;
}

.buttongencontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cmd {
  width: 150px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}

#cmd:hover {
  transform: scale(1.1);
  filter: invert(100%);
}

.link4 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.link4:hover {
  filter: brightness(190%) contrast(145%) invert(100%);
}

.navbar3 {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
  margin-top: 25px;
  width: 100px;
  overflow-y: scroll;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #3D4E6F;
  color: white;
  font-family: 'Volkhov', serif;
}

.dynamic {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
}

.fetch_results {

  width: 100%;
}

.synContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.defin {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.image {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.synonyms div{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
}

.buttonWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.listTitle:empty {
  display: none;
}

.listItem:empty {
  display: none;
}

.talkContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionHeading {
  font-size: 24px;
  font-weight: bold;
}

h1 {
  text-align: center;
}

.outerSectionContainer {
  background-color: #e0e0e0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: black solid 1.5px;
  margin: 10px;
}

.sectionContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

.topicContainer {
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  border: black solid 1px;
  padding: 10px;
  margin: 5px;
  box-shadow: 4px 3px 11px -1px rgba(0,0,0,0.92);
  width: 100%;
}

.listTitle {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 5px;
  padding-bottom: 4px;
  border-bottom: solid black 1.5px;
}

.listItem {
  font-size: 15px;
}

.logo {
  width: 120px;
  height: 50px;
}

.submitbtn1 {
  background-color: none;
  border: none;
  z-index: 2;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.submitbtn1:hover {
  transform: scale(1.1);
  color: white;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
}

.plink input{
  background: transparent;
}

label {
  font-size: 20px;
  font-weight: bold;
}

.labelContainer2 {
  font-size: 25px;
  font-weight: bold;
  margin-left: 15px;
}

.labelContainer3 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  align-content: flex-start;
  z-index: -10;
  width: 100vw;
  height: 50px;
  top: 5px;
  border: black solid 2px;
  background-color: #3D4E6F;
  color: white;
  font-family: 'Volkhov', serif;
}

a {
  z-index: 2;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

a:hover {
  transform: scale(1.1);
  color: white;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
}

.link {
  display: flex;
  flex-basis: .2;
  color: #a0d9ff;
}

.link:hover {
  flex-grow: .27;
  background-color: #4f658e;
  border: black solid 1px;
  transform: scaleY(1);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  text-shadow: none;
  color: white;
}

.link2 {
  flex-basis: .2;
  width: 20%;
  background-color: #1691BA;
  border: black solid 1px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
}

.link2:hover {
  flex-grow: .27;
  background-color: #4f658e;
  border: black solid 1px;
  transform: scaleY(1);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  text-shadow: none;
  color: white;
}

.textarea {
  width: 200px;
  height:500px;
  word-break: normal;
  overflow-y: scroll;
}
