* {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  font-family: sans-serif;
  font-family: 'Volkhov', serif;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 0px;
  background-color: #3D4E6F;
}

.watchDemo {
  margin: 25px;
  font-size: 25px;
  color: white;
}

.watchDemo:Hover {
  transform: scale(1.1);
  filter: brightness(150%);
}

.buttons {
  margin-right: 8vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

img {
  width: 50vw;
  padding-left: 10vw;
  padding-right: 10vw;
  min-width: 300px;
  margin-bottom: 2vh;
}

.logo {
  margin-top: 25vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 45px;
  font-weight: bold;
}

a:hover {
  transform: scale(1.1);
  color: white;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
}

.navContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.navContainer2 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.container1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
