* {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 0px;
  background-color: #262630;
}

a {
  text-decoration: none;
  color: #a0d9ff;
  cursor: pointer;
  font-size: 45px;
  font-weight: bold;
}

a:hover {
  transform: scale(1.1);
  color: white;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
}

.navContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.navContainer2 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.container1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
