* {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
}

a:hover {
  transform: scale(1.1);
  color: white;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
}

.navContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  margin-left: -20vw;
}

form {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}

.inputfield {
  background-color: transparent;
  border: none;
  border-bottom: black solid 2.5px;
  font-size: 23px;
  margin: 10px;
}

input {
  background-color: transparent;
}

.container1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.submit {
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: none;
  color: black;
  cursor: pointer;
}

.submit:hover {
  transform: scale(1.1);
  color: white;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
}
