* {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 0px;
  background-color: #262630;
}

a {
  text-decoration: none;
  color: #a0d9ff;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
}

a:hover {
  transform: scale(1.1);
  color: white;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
}

.navContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  margin-left: -20vw;
}

form {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}

.inputfield {
  background-color: white;
  border: none;
  border-bottom: white solid 2.5px;
  font-size: 23px;
  margin: 10px;
}

.inputfield:hover {
  transform: scaleX(1.1);
}

.inputfield:focus {
  background-color: white;
  border: white: solid 3px;
  transform: scaleX(1.3);
}

label {
  color: #a0d9ff;
}

h1 {
  color: #a0d9ff;
}

.container1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.submit {
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: none;
  color: black;
  cursor: pointer;
}

.submit:hover {
  transform: scale(1.1);
  color: white;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
}
