* {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  font-family: sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.bodywrapper8 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-basis: 4;
}

.sidebar {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  height: 600px;
  background-color: white;
  width: 300px;
  flex-grow: 0;
}

.sidebarbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-family: 'Volkhov', serif;
  background-color: #3D4E6F;
  width: 100%;
  height: 16%;
  margin-top: 2px;
  margin-bottom: 2px;
}

.sidebarbutton:hover {
  transform: scale(1.1);
}

.mainbar {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 3;
  flex-basis: 0;
  height: 600px;
  width: 100%;
}

.mainbarheader {
  font-size: 30px;
  font-family: 'Volkhov', serif;
  color: #3D4E6F;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: solid 2px #3D4E6F;
  border-bottom: solid 2px #3D4E6F;
  width: 100%;
}

.mainbarcontent {
  font-family: 'Volkhov', serif;
  color: #3D4E6F;
  background-color: white;
  display: inline-block;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
  width: 100%;
  flex-grow: 2;
}

.mainbarcontent img{
  object-fit: cover;
  position: absolute;
  margin-left: 5px;
  height: 320px;
  width: 51%;
  align-self: center;
}

.mainbarcontent div{
  z-index: 0;
  object-fit: cover;
  position: absolute;
  margin-left: 5px;
}

.mainbarcontenttext {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
    width: 25%;
}

.mainbarcontent h1 {
  margin-left: 210%;
  width: 100%;
  text-align: left;
  font-family: 'Volkhov', serif;
}

.mainbarcontent h4 {
  margin-left: 210%;
  width: 100%;
  text-align: left;
  font-family: 'Volkhov', serif;
}

.mainbarcontent h2 {
  object-fit: cover;
  font-size: 18px;
  width: 20%;
  position: absolute;
  background: linear-gradient(to right, rgba(61,78,111,1) 0%,rgba(61,78,111,0.83) 17%,rgba(61,78,111,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  margin-top: -10px;
}



.mainbarfooter {
  font-size: 18px;
  font-family: 'Volkhov', serif;
  color: #3D4E6F;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: solid 2px #3D4E6F;
  border-bottom: solid 2px #3D4E6F;
  width: 100%;
  flex-basis: 3;
}

img {
  z-index: 0;
}

h3 {
  z-index: 2;
  color: white;
  font-size: 5;
  font-weight: lighter;
}

h2 {
  z-index: 3;
  color: white;
  font-size: 5;
  font-family: serif;
  font-family: 'Volkhov', serif;
}

h4 {
  z-index: 4;
}

h1 {
  z-index: 1;
}

.linkContent {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-grow: 1;
  height: 200px;
  width: 33%;
  object-fit: contain;
  padding-left: 3px;
  padding-right: 3px;
  text-overflow: ellipsis;
  margin: 5px;
}

.linkContent img{
  object-fit: cover;
  width: 26%;
  height: 200px;
  position: absolute;
}

.linkContent h2 {
  object-fit: cover;
  font-size: 18px;
  width: 20%;
  position: absolute;
  background: linear-gradient(to right, rgba(61,78,111,1) 0%,rgba(61,78,111,0.83) 17%,rgba(61,78,111,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  margin-top: -10px;
}

.button6 {
  margin: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.button6:hover {
  transform: scale(1.1);
}

.link4 {
  color: white;
  flex-basis: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.link4:hover {
  background-color: #4c4c60;

  width: 100px;
  text-shadow: none;
}

.navbar3 {
  background-color: #3D4E6F;
  color: white;
  font-family: 'Volkhov', serif;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
  width: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.buttonWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.buttonWrapper5 {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.buttonContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.topic {
  display: flex;
  align-self: center;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.topic input {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: black solid 2.5px;
  font-size: 20px;
  width: 450px;
  text-align: center;
}

.logo {
  width: 195px;
  height: 35px;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  align-content: flex-start;
  z-index: -10;
  width: 100vw;
  height: 50px;
  top: 5px;
  border: black solid 2px;
  background-color: #3D4E6F;
  color: white;
  font-family: 'Volkhov', serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  filter: brightness(120%);
}

.link {
  display: flex;
  flex-basis: .2;
  color: white;
}

.link:hover {
  flex-grow: .27;
  background-color: #4f658e;
  border: black solid 1px;
  transform: scaleY(1);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  text-shadow: none;
  color: white;
}

.link2 {
  flex-basis: .2;
  width: 20%;
  background-color: #1691BA;
  border: black solid 1px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
}

.link2:hover {
  flex-grow: .27;
  background-color: #4f658e;
  border: black solid 1px;
  transform: scaleY(1);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  text-shadow: none;
  color: white;
}
