* {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  font-family: sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.mainbarfooter img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  z-index: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

h2 {

}

.mainbarfooter h2 {
  position: absolute;
  width: 100%;
  max-width: 250px;
  min-width: 270px;
  z-index: 3;
  color: white;
  margin-top: 90px;
  z-index: 3;
  font-family: 'Volkhov', serif;
  font-size: 18px;
  padding-left: 8px;
  padding-top: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  word-wrap: break-word;
  background: linear-gradient(to right, rgba(61,78,111,1) 0%,rgba(61,78,111,1) 17%,rgba(61,78,111,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.mainbarcontent img{
  margin-right: 10px;
  width: 75%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.bodywrapper8 {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}

.body {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  width: 260px;
}

.sidebarbutton {
  font-family: 'Volkhov', serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #3D4E6F;
  color: white;
  height: 90px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 50px;
  width: 100%;
}

.mainbar {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  width: 67%;
  min-width: 550px;
  padding-left: 50px;
}

.mainbarheader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80px;
  font-size: 35px;
  color: #3D4E6F;
  font-family: 'Volkhov', serif;
}

.mainbarcontent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
  max-height: 320px;
  border-top: 3px solid #3D4E6F;
  border-bottom: 3px solid #3D4E6F;
  padding-bottom: 20px;
  padding-top: 20px;
}

.mainbarcontenttext {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 20%;
  min-width: 120px;
}

.mainbarfooter  {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 5px;
  z-index: 0;
}

.linkContent {
  width: 30%;
  min-width: 270px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.logo {
  width: 195px;
  height: 35px;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  align-content: flex-start;
  z-index: -10;
  width: 100vw;
  height: 50px;
  top: 5px;
  border: black solid 2px;
  background-color: #3D4E6F;
  color: white;
  font-family: 'Volkhov', serif;
  z-index: 6;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #3D4E6F;
}

a:hover {
  filter: brightness(120%);
}

.sidebarbutton a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.sidebarbutton:hover {
  filter: brightness(120%);
}

.link {
  display: flex;
  flex-basis: .2;
  color: white;
}

.link:hover {
  flex-grow: .27;
  background-color: #4f658e;
  border: black solid 1px;
  transform: scaleY(1);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  text-shadow: none;
  color: white;
}

.link2 {
  flex-basis: .2;
  width: 20%;
  background-color: #1691BA;
  border: black solid 1px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
}

.link2:hover {
  flex-grow: .27;
  background-color: #4f658e;
  border: black solid 1px;
  transform: scaleY(1);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  text-shadow: none;
  color: white;
}
